<div>
	<div class="container-fluid comment-block main-block" ng-show="!addingComment">
		<div class="row">
			<div class="col-md-10 adding-comment">
				<textarea ng-click="triggerNewCommentEdition()" placeholder="{{ 'global.review.comment.addCommentButton' | translate }}" class="form-control textarea-button " rows="1"></textarea>
			</div>
		</div>
	</div>

	<form name="commentForm" ng-show="addingComment">
		<div class="container-fluid comment-block main-block">
			<div class="row">
				<div class="col-md-12 comments-recap" ng-show="showCommentsRecap()">
					<span ng-bind-html="'global.review.comment.timemarkedCommentExplanation' | translate" ></span>
					<a ng-repeat="(turn, comment) in newComments" title="{{comment.text}}" class="turn-link" ng-if="comment.text.length > 0" ng-click="goToTimestamp(turn)">{{getTurnLabel(turn)}}</a>
					<span class="explanation-second-part" ng-bind-html="'global.review.comment.timemarkedCommentExplanation2' | translate" ></span>
				</div>
				<div class="col-md-2" ng-show="!User.isLoggedIn()">
					<div class="form-group" show-errors="{ showSuccess: true }">
						<input type="text" name="author" class="form-control comment-author" ng-model="newComments[currentTurn].author" placeholder="{{ 'global.review.comment.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()">
					</div>
				</div>
				<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
					<toolbar class="form-group" show-errors="{ showSuccess: true }" media-player="mediaPlayer" insert-model="insertModel" ng-show="review.key" config="config" media-type="review.reviewType">
						<textarea id="newCommentArea" placeholder="{{ 'global.review.comment.addCommentTextPlaceholderTimemarked' | translate:'{name: review.author}' }}" name="commentText" ng-model="newComments[currentTurn].text" class="form-control text-editing-area" comment-plugins="plugins" auto-grow toolbar-target></textarea>
					</toolbar>
					<textarea placeholder="{{ 'global.review.comment.addCommentTextPlaceholderTimemarked' | translate:'{name: review.author}' }}" name="commentText" ng-model="newComments[currentTurn].text" class="form-control" ng-hide="review.key" comment-plugins="plugins" auto-grow></textarea>
					<div>
						<div class="inline-block">
							<button ng-click="addComments()" class="btn btn-default text-right" tabindex="-1"><span>{{ 'global.review.comment.confirmCommentButton' | translate }}</span></button>
							<button ng-click="cancelComments()" class="btn btn-default text-right" tabindex="-1"><span>{{ 'global.review.comment.cancelCommentButton' | translate }}</span></button>
						</div>
						<div class="inline-block float-right">
							<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">{{ 'global.review.comment.showFormattingHelpButton' | translate }}</a>
							<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">{{ 'global.review.comment.hideFormattingHelpButton' | translate }}</a>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
		</div>
	</form>
</div>