<span class="upvoted-by" ng-if="::(entity.noticeableVotes && entity.noticeableVotes.length > 0)">
	<span>{{::translations.upvotedBy}}</span>
	<author-frame ng-repeat="voter in entity.noticeableVotes" frame="::voter.rank" author="::voter.username" sport="::sport" class="::voter"></author-frame>
	<span class="other-voters" ng-show="::entity.reputation.nbVotes.Upvote > entity.noticeableVotes.length + 1">{{::translations.otherVotes}}
	</span>
	<span class="other-voters" ng-show="::entity.reputation.nbVotes.Upvote == entity.noticeableVotes.length + 1">{{::translations.otherVote}}
	</span>
</span>