<div class="videogular-container multi-player" >
	<videogular vg-player-ready="onPlayerReady($API)" class="videogular" ng-class="{'videogular-fullscreen': API.isFullScreen, 'videogular-playing': (!review.editing && !canvasState.drawingCanvas)}" vg-update-time="onUpdateTime($currentTime, $duration)">
		<div class="first-player-container">
			<vg-media vg-src="sources" vg-preload="metadata" class="first-player" ng-class="playerControls.firstPlayerClass"></vg-media>
		</div>

		<vg-controls ng-class="{'controls-container-fullscreen': API.isFullScreen, '{{playerControls.firstPlayerControlsClass}}': true}">
			<vg-play-pause-button ng-click="playerControls.playPauseSecondPlayer()"></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date: config.deactivateControls && config.deactivateControls.millis ? 'mm:ss' : 'mm:ss:sss' }}</vg-time-display>
			<vg-scrub-bar video-fine-time-control>
				<vg-scrub-bar-current-time help-popup help-popup-key="fineScrolling" help-popup-active="0" help-popup-position="top"></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
			<video-playback-button></video-playback-button>
			<video-loop-button ng-show="playerControls.loopStatus"></video-loop-button>
			<video-dual-mode-button ng-show="playerControls.mode == 2"></video-dual-mode-button>
			<video-canvas-overlay-button ng-show="playerControls.canvasId"></video-canvas-overlay-button>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-fullscreen-button></vg-fullscreen-button>
			<video-wide-mode-button></video-wide-mode-button>
		</vg-controls>

		<div class="second-player-container"  ng-class="playerControls.secondPlayerContainerClass" ng-show="playerControls.mode == 2">
			<div class="second-player">
				<videogular vg-player-ready="onSecondPlayerReady($API)" class="videogular">
					<vg-media vg-src="sources2" ng-class="playerControls.secondPlayerClass"></vg-media>
				</videogular>
			</div>
		</div>

		<canvas id="fabricCanvas" pw-canvas></canvas>

		<vg-overlay-play ng-click="playerControls.playPauseSecondPlayer()" ng-show="!canvasState.drawingCanvas"></vg-overlay-play>
	</videogular>

	<canvas-control show-canvas="showCanvas" hide-canvas="hideCanvas" player-controls="playerControls" review="review" load-canvas="loadCanvas" serialize-canvas="serializeCanvas" clear-canvas="clearCanvas" canvas-state="canvasState" clear-temporary-canvas="clearTemporaryCanvas" prepare-canvas-for-upload="prepareCanvasForUpload" toggle-canvas="toggleCanvas" cancel-canvas-edition="cancelCanvasEdition"></canvas-control> 
	<sequence-controller sequence-sources="sources" local-review="review"></sequence-controller>
	
</div>