<div class="hearthstone-participants">
	<!-- The player -->
	<div class="player-details class-select participant-details">
		<div class="form-group" show-errors="{ showSuccess: true }">
			<button type="button" class="btn btn-default btn-class-select form-control" ng-model="review.participantDetails.playerCategory" data-html="1" bs-options="icon.value as icon.label for icon in icons" placeholder="{{ 'global.review.participants.selectClass' | translate }}" data-template="templates/review/hearthstone/classIconSelectTemplate.html" bs-select ng-required="true">
			  	<span>Action</span>
			</button>
			<input type="text" name="playerName" class="form-control player-name" ng-model="review.participantDetails.playerName" placeholder="{{ 'global.review.participants.playerName' | translate }}">
		</div>
  	</div>
  	<!-- The separation -->
  	<div class="separation">
  		<span>vs</span>
  	</div>
  	<!-- The opponent -->
	<div class="opponent-details class-select participant-details">
		<div class="form-group" show-errors="{ showSuccess: true }">
			<input type="text" name="opponentName" class="form-control player-name" ng-model="review.participantDetails.opponentName" placeholder="{{ 'global.review.participants.playerName' | translate }}">
			<button type="button" class="btn btn-default btn-class-select form-control" ng-model="review.participantDetails.opponentCategory" data-html="1" bs-options="icon.value as icon.label for icon in icons" placeholder="{{ 'global.review.participants.selectClass' | translate }}" data-template="templates/review/hearthstone/classIconSelectTemplate.html" bs-select ng-required="true">
			  	<span>Action</span>
			</button>
		</div>
  	</div>
  	<!-- The level of the game -->
  	<div class="level-details form-group" show-errors="{ showSuccess: true }">
		<tags-input name="level" ng-model="review.participantDetails.skillLevel" add-from-autocomplete-only="true" spellcheck="false" ng-required="review.visibility != 'skip' ? true : false" replace-spaces-with-dashes="false" min-tags="{{ review.visibility != 'skip' ? 1 : 0 }}" max-tags="1" template="templates/video/tagsTemplate.html" class="form-control" placeholder="{{getTagsPlaceholder()}}" on-tag-added="updateTagsPlaceholder()" on-tag-removed="updateTagsPlaceholder()"> 
			<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="100" template="templates/video/tagsTemplate.html"></auto-complete>
		</tags-input>
  	</div>
	</div>