<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" ng-click="$hide()">&times;</button>
        		<h4 class="modal-title">Choose your coach</h4>
      		</div>
      		<div class="modal-body">
      			<table class="table">
  	    			<thead>
  	      				<tr>
  	        				<th>Name</th>
  	        				<th>Level</th>
  	        				<th>Price</th>
  	      				</tr>
  	    			</thead>
  	    			<tbody>
          				<tr ng-repeat="coach in coaches">
          					<td>
          						<span bs-tooltip="tooltip" data-template="templates/coachDescription.html">{{coach.name}}(i)</span>
          					</td>
  							<td><span class="qualifications">{{coach.level}}</span></td>
  							<td><span class="tariff">{{coach.tariff}}</span></td>
  							<td><button ng-click="selectCoach(coach); $hide()">Request review</button></td>
  						</tr>
  					  </tbody>
				    </table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      		</div>
    	</div>
  	</div>
</div>