<span>
	<!-- logged in -->
	<a class="logged-author {{::entity.authorStatus}}" ng-if="::!(entity.authorStatus == 'coach' && entity.authorId)" href="/u/{{::entity.author}}/{{::sport}}/profile" target="_blank">
		<author-frame frame="::entity.authorFrame" author="::entity.author" sport="::sport"></author-frame>
	</a>
	<!-- guest -->
	<a class="{{::entity.authorStatus}}" ng-if="::entity.authorStatus != 'coach' && !entity.authorId">
		<author-frame frame="::entity.authorFrame" author="::entity.author" sport="::sport"></author-frame>
	</a>
	<!-- coach -->
	<a ng-class="::{'logged-author': entity.authorId}" class="{{::entity.authorStatus}}" ng-if="::entity.authorStatus == 'coach'" href="{{::'/coach/' + entity.author + '/' + sport}}" target="_blank" title="{{ 'global.coach.goToPageTooltip' | translate }}">
		<author-frame frame="::entity.authorFrame" author="::entity.author" sport="::sport"></author-frame>
	</a>
</span>