<span>
	<span ng-class="{'logged-author': entity.authorId}" class="{{entity.authorStatus}}" ng-hide="entity.authorStatus == 'coach'">
		<span ng-class="entity.authorFrame" title="{{entity.authorFrame}}">{{entity.author}}</span>
	</span>
	<a ng-class="{'logged-author': entity.authorId}" class="{{entity.authorStatus}}" ng-show="entity.authorStatus == 'coach'" href="{{'/coach/' + entity.author + '/' + sport}}">
		<span ng-class="entity.authorFrame" title="{{entity.authorFrame}}">{{entity.author}}</span>
	</a>
</span>