<div class="tooltip in coach-description">
  	<div class="tooltip-arrow"></div>
	<div class="tooltip-inner" >
		<div class="media">
			<div class="media-left" ng-show="coach.picture">
		    	<a href="">
		      		<img class="media-object" src="https://s3.amazonaws.com/com.zerotoheroes/coach/{{coach.picture}}">
		    	</a>
		  	</div>
			<p class="media-body" translate-default="{{coach.description}}" translate="{{ 'coaches.' + sport.toLowerCase() + '.' + coach.id + '.description'}}">
			</p>
		</div>
	</div>
</div>