<div class="container-fluid comment-block" ng-style="{'margin-left': indentation}">
	<div class="reputation">
		<span class="glyphicon glyphicon-chevron-up pointer" ng-class="{'upvote': comment.reputation.hasCurrentUserVoted.Upvote && User.isLoggedIn()}" ng-click="upvoteComment(comment)" aria-hidden="true"></span>
		<span class="reputation-score glyphicon">{{comment.reputation.nbVotes.Upvote - comment.reputation.nbVotes.Downvote}}</span>
		<span class="glyphicon glyphicon-chevron-down pointer" ng-class="{'downvote':comment.reputation.hasCurrentUserVoted.Downvote && User.isLoggedIn()}" ng-click="downvoteComment(comment)" aria-hidden="true"></span>
	</div>
	<div class="comment-main">
		<div class="comment-header">
			<span class="comment-author">{{comment.author}}</span>
			<span><small>{{formatDate(comment)}}</small></span>

			<span ng-show="comment.id && User.getName() == comment.author && !comment.editing"> - </span>
			<a ng-click="startEditing(comment)" class="link-minor" ng-show="comment.id && User.getName() == comment.author && !comment.editing">Edit</a>
		</div>
		<div class="comment-body">
			<div compilecontent content="comment.markedText" ng-hide="comment.editing">
			</div>
			<div ng-show="comment.editing">
				<toolbar>
					<textarea class="form-control" ng-model="comment.text" auto-grow toolbar-target></textarea>
				</toolbar>
				<div class="text-right">
					<button ng-click="cancelUpdateComment(comment)" class="btn btn-default btn-xs">Cancel</button>
					<button ng-click="updateComment(comment)" class="btn btn-default btn-xs">Update</button>
				</div>
			</div>
		</div>
		<div class="comment-footer">
			<a ng-click="startReply()" class="link-minor" ng-hide="reply.replying">Reply</a>
		</div>
	</div>
	<form ng-show="reply.replying" class="container-fluid reply-form" name="replyForm">
		<div class="row">
			<div class="col-md-2" ng-show="!User.isLoggedIn()">
				<div class="form-group" show-errors="{ showSuccess: true }">
					<input type="text" name="author" class="form-control comment-author" ng-model="reply.author" placeholder="Your name" ng-required="!User.isLoggedIn()">
				</div>
			</div>
			<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
				<toolbar class="form-group" show-errors="{ showSuccess: true }">
					<textarea class="form-control" ng-model="reply.text" name="replyText" ng-required="true" auto-grow toolbar-target></textarea>
				</toolbar>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" ng-show="!User.isLoggedIn()"></div>
			<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
				<div class="inline-block">
					<button ng-click="postReply()" class="btn btn-default btn-xs">Reply</button>
					<button ng-click="cancelReply()" class="btn btn-default btn-xs">Cancel</button>
				</div>
				<div class="inline-block float-right">
					<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">Show formatting help</a>
					<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">Hide formatting help</a>
				</div>
			</div>
		</div>
		<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
	</form>
	<comment ng-repeat="replyComment in comment.comments" comment="replyComment" indentation-level="indentationLevel + 1"></comment>
</div>