
<div class="container-fluid comment-block {{:commentRefresh:highlightedClass}}" ng-click="markRead($event)" data-comment-id="{{::comment.id}}">

	<div ng-if="deletionMessage">
		<div class="alert alert-info">{{::translations.deletionDone}}</div>
	</div>

	<div class="reputation">
		<span id="upvote{{::commentIndex}}" class="glyphicon glyphicon-chevron-up pointer " ng-class=":commentRefresh:{'upvote': comment.reputation.hasCurrentUserVoted.Upvote && User.isLoggedIn() }" ng-click="upvoteComment(comment)" title="{{::translations.upvote}}" ></span>
		<span class="reputation-score glyphicon"> {{:commentRefresh:(comment.reputation.nbVotes.Upvote - comment.reputation.nbVotes.Downvote) }}</span>
		<span class="glyphicon glyphicon-chevron-down pointer" ng-class=":commentRefresh:{'downvote':comment.reputation.hasCurrentUserVoted.Downvote && User.isLoggedIn()}" ng-click="downvoteComment(comment)" aria-hidden="true" title="{{::translations.downvote}}"></span>
	</div>

	<div class="comment-main">

		<div class="comment-header">
			<span class="author-information">
				<span class="comment-author" ng-if="::!comment.authorId">{{::comment.author}}</span>
				<author-name class="comment-author" entity="::comment" ng-if="::comment.authorId"></author-name>
				<span bs-tooltip data-title="{{::comment.author}}'s total reputation on {{::review.sport.value}}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation" ng-if="::comment.authorId">{{::comment.authorReputation ? comment.authorReputation : 0}}<img class="reputation-icon" src="{{::config.images.reputation }}"></img></span>
			</span>

			<span title="{{::formatExactDate(comment)}}"><small>{{::formatDate(comment)}}</small></span>

			<span ng-if=":commentRefresh:(comment.id && canEdit(comment) && !comment.editing)"> - </span>
			<a ng-click="startEditing(comment)" class="link-minor" ng-if=":commentRefresh:(comment.id && canEdit(comment) && !comment.editing)">{{::translations.edit}}</a>

			<span ng-if=":commentRefresh:(User.getName() == review.author && review.authorId && User.getName() != comment.author)"> - </span>
			<a ng-click="toggleHelpful(comment)" class="validated" ng-if=":commentRefresh:(comment.helpful) && User.getName() == review.author && review.authorId"><span class="glyphicon glyphicon-ok"></span>{{::translations.helpedAuthor}}</a>
			<a class="validated" ng-if=":commentRefresh:(comment.helpful) && User.getName() != review.author && review.authorId"><span class="glyphicon glyphicon-ok"></span>{{::translations.helpedAuthor}}</a>
			<a ng-click="toggleHelpful(comment)" class="link-minor" ng-if=":commentRefresh:(!comment.helpful && User.getName() == review.author && review.authorId)"><span class="glyphicon glyphicon-ok"></span>{{::translations.helpedMe}}</a>

			<span ng-if="::comment.authorId == User.getUser().id"> - </span>
			<a class="link-minor link-delete" ng-click="showConfirmDeleteButton()" ng-if=":delete:comment.authorId == User.getUser().id && !showDelete" title="{{::translations.deleteButtonTooltip}}">{{::translations.deleteButton}}</a>
			<a class="link-minor link-delete" ng-click="deleteReview()" ng-if=":delete:comment.authorId == User.getUser().id && showDelete" title="{{::translations.confirmDeleteButtonTooltip}}">{{::translations.confirmDeleteButton}}</a></a>
		</div>

		<div class="comment-subheader">
			<upvoted-by sport="::sport" entity="::comment"></upvoted-by>
		</div>

		<div class="comment-body">
			<div compilecontent content="comment.markedText" ng-if=":commentRefresh:!comment.editing"></div>
			<div ng-if=":commentRefresh:comment.editing">
				<toolbar media-player="::mediaPlayer" insert-model="insertModel" ng-if="::review.key" config="::config" media-type="::review.reviewType">
					<textarea class="form-control text-editing-area" ng-model="comment.text" comment-plugins="::plugins" auto-grow toolbar-target></textarea>
				</toolbar>
				<textarea class="form-control" ng-model="comment.text" comment-plugins="::plugins" auto-grow ng-if="::!review.key"></textarea>
				<div class="text-left comment-reply-buttons">
					<button ng-click="updateComment(comment)" class="btn btn-default btn-xs" tabindex="-1"><span>{{::translations.validateEdit}}</span></button>
					<button ng-click="cancelUpdateComment(comment)" class="btn btn-default btn-xs" tabindex="-1"><span>{{::translations.cancelEdit}}</span></button>
				</div>
				<div class="inline-block float-right">
					<a class="link-minor" ng-click="toggleShowHelp()" ng-if=":help:!showHelp">{{::translations.showFormattingHelpButton}}</a>
					<a class="link-minor" ng-click="toggleShowHelp()" ng-if=":help:showHelp">{{::translations.hideFormattingHelpButton}}</a>
				</div>
			</div>
		</div>

		<div class="comment-footer">
			<a ng-click="startReply()" class="link-minor" ng-if=":commentRefresh:!reply.replying">{{::translations.replyButton}}</a>
			<a ng-click="markRead($event)" class="link-minor" ng-if=":commentRefresh:!reply.replying && highlightedClass">{{::translations.markReadButton}}</a>
			<a ng-click="markUnread()" class="link-minor" ng-if=":commentRefresh:!reply.replying && !highlightedClass && comment.historicalLinkedNotifs">{{::translations.markUnreadButton}}</a>
		</div>

	</div>

	<!-- Haven't optimized one-time bindings because it isn't in a repeat instruction. To do for later -->
	<form class="container-fluid reply-form" name="replyForm">
		<div ng-if="reply.replying" >
			<div class="row" >
				<div class="col-md-2" ng-show="!User.isLoggedIn()">
					<div class="form-group" show-errors="{ showSuccess: true }">
						<input type="text" name="author" class="form-control comment-author" ng-model="reply.author" placeholder="{{ 'global.review.comment.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()">
					</div>
				</div>
				<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
					<toolbar class="form-group" show-errors="{ showSuccess: true }" media-player="mediaPlayer" insert-model="insertModel" ng-show="review.key" config="config" media-type="review.reviewType">
						<textarea class="form-control text-editing-area" ng-model="reply.text" name="replyText" ng-required="true" comment-plugins="plugins" auto-grow toolbar-target></textarea>
					</toolbar>
					<textarea class="form-control" ng-model="reply.text" name="replyText" ng-required="true" comment-plugins="plugins" auto-grow ng-hide="review.key"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2" ng-show="!User.isLoggedIn()"></div>
				<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
					<div class="inline-block">
						<button ng-click="postReply()" class="btn btn-default btn-xs" tabindex="-1" ng-disabled=":reviewRefresh:posting"><span>{{ 'global.review.comment.replyButton' | translate }}</span></button>
						<button ng-click="cancelReply()" class="btn btn-default btn-xs" tabindex="-1" ng-disabled=":reviewRefresh:posting"><span>{{ 'global.review.comment.cancelEdit' | translate }}</span></button>
					</div>
					<div class="inline-block float-right">
						<a class="link-minor" ng-click="toggleShowHelp()" ng-if=":help:!showHelp">{{ 'global.review.comment.showFormattingHelpButton' | translate }}</a>
						<a class="link-minor" ng-click="toggleShowHelp()" ng-if=":help:showHelp">{{ 'global.review.comment.hideFormattingHelpButton' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div ng-if=":help:showHelp" ng-include="'/templates/formattingHelp.html'"></div>

	<comment ng-repeat="replyComment in comment.comments track by replyComment.id" review="::review" comment="::replyComment" sport="::sport" media-player="::mediaPlayer" plugins="::plugins" config="::config" sport="::sport"></comment>
</div>
