<div class="container-fluid comment-block">
	<div class="comment-header">
		<span class="comment-author">{{comment.author}}</span>
		<span><small>{{formatDate(comment)}}</small></span>

		<span ng-show="comment.id && User.getName() == comment.author && !comment.editing"> - </span>
		<a ng-click="startEditing(comment)" class="link-minor" ng-show="comment.id && User.getName() == comment.author && !comment.editing">Edit</a>
	</div>
	<div class="comment-body">
		<div compilecontent content="comment.markedText" ng-hide="comment.editing">
		</div>
		<div ng-show="comment.editing">
			<textarea class="form-control" ng-model="comment.text"></textarea>
			<div class="text-right">
				<button ng-click="cancelUpdateComment(comment)" class="btn btn-default btn-xs">Cancel</button>
				<button ng-click="updateComment(comment)" class="btn btn-default btn-xs">Update</button>
			</div>
		</div>
	</div>
	<div class="comment-footer">
		<a ng-click="startReply(comment)" class="link-minor">Reply</a>
	</div>
</div>