<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">{{ 'global.askPro.confirmRequestTitle' | translate }}</h4>
			</div>
			<div class="modal-body">
				<p translate="global.askPro.confirmInfo" translate-values="{name: '{{coach.name}}', tariff: '{{coach.tariff}}', conditions: '{{coach.tariffDescription}}' }"</p>
				<form class="form-inline" ng-submit="selectCoach(coach, email); $hide();">
					<div class="form-group">
				    	<div class="input-group">
				      		<label class="sr-only" for="email">{{ 'global.general.email' | translate }}</label>
    						<input type="email" class="form-control" ng-model="email" ng-init="User.getEmail()" placeholder="{{ 'global.general.email' | translate }}">
				    	</div>
				  	</div>
				  	<button type="submit" class="btn btn-primary">{{ 'global.askPro.confirmButton' | translate }}</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()"><span>{{ 'global.askPro.closeButton' | translate }}</span></button>
			</div>
		</div>
	</div>
</div>