<div class="footer">
	<ul>
		<li><a href="mailto:contact@zerotoheroes.com" target="_blank" class="email"><span>{{::translations.email}}</span></a></li>
		<li><a href="https://www.reddit.com/r/zerotoheroes/" target="_blank" class="reddit"><span>{{::translations.reddit}}</span></a></li>
		<li><a href="https://twitter.com/ZerotoHeroes_HS" target="_blank" class="twitter"><span>{{::translations.twitter}}</span></a></li>
		<li><a href="https://discord.gg/uEh9gvJ" target="_blank" class="discord"><span>{{::translations.discord}}</span></a></li>
		<li><a href="https://patreon.com/zerotoheroes" target="_blank" class="patreon"><span>{{::translations.patreon}}</span></a></li>
		<!-- PayPal -->
		<li class="paypal">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick" />
				<input type="hidden" name="hosted_button_id" value="P74YQHENV2MBL" />
				<input class="button-image" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate" />
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
			</form>
		</li>
	</ul>
</div>