<div class="formatting-help">
	<p>You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdow syntax</a> to format your text</p>
	<div  ng-show="useVideo">
		<p>Additionally, you can:
			<ul>
				<li>Enter time information in the form mm:ss to create a link to directly go to the specified time in the video (e.g. <i>01:21</i> will create a link to go to 1 min 21 seconds into the video).</li>
				<li>Add <i>+p</i> after a time information to automatically start playing the video at that time when clicking on the link</li>
				<li>Or add <i>+s</i> to start playing in slow motion (half speed)</li>
				<li>Or add <i>+s</i> with a number to specify the video playback rate. For instance, <i>+s0.25</i> will play the video at quarter the speed, while <i>+s2</i> will play it at double the speed</li>
				<li>Add <i>L</i> after any of +p or +s commands to start a 5-seconds loop starting from the timestamp. You can also specify the loop duration in the same format as for <i>+s</i>. For instance, <i>00:54+s0.25L2.2</i> will start playing the video at 54s in at quarter the speed, and loop every 2.2 seconds</li>
				<li>You can display two different sequences of a single video side-by-side. Simply specify the moment of the first video, a pipe, then the second one. For instance, <i>0:50|2:45</i> will show you side-by-side the left side of the video at 0:50 and 2:45. If you want the right side instead, add 'r' at the end, like <i>0:50|2:45r</i>. You can then use loop and speed comments as usual (a full command might look like <i>0:50|0:50r+s0.25L2.2</i>)</li>
				<li>You can now also use a sequence from another video. Simply specify the id of the video (what you have in the URL after the /r/, like /r/56034cbfe4b07125e2fbbf6e) in parenthesis after the timestam, like <i>0:50|0:05(560027c2776ef7265195c092)</i></li>
			</ul>
		</p>
	</div>
</div>