<div class="formatting-help">
	<p>You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdow syntax</a> to format your text (bold, italics, paragraphs, etc)</p>
	<div  ng-show="useVideo">
		<p>Additionally, you can:
			<ul>
				<li>Use the <strong>timestamp icon <span class="glyphicon glyphicon-time"></span></strong> to create a link to a specific moment in the video. You can freely adjust the timestamp figures to match exactly what you need</li>
				<li>Use the <strong>slow motion icon <span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause" style="margin-left: -5px"></span></strong> to create a timestamp and make the video play in slow motion once the user clicks on it. You can change how much the video is slowed by changing the <code>0.5</code> figure after the <code>s</code> (the lower, the slower the video)</li>
				<li>Use the <strong>loop icon <span class="glyphicon glyphicon-repeat"></span></strong> to create a slow motion link, and make a one-second-long sequence that repeats endlessly. You can change the duration of the loop by changing the value after the <code>L</code> (<code>L1.5</code> would mean a 1.5s loop)</li>
				<li>Use the <strong>drawing icon <span class="glyphicon glyphicon-picture"></span></strong> to create a timestamp with a drawing. Once you click on the icon, you will enter <i>drawing mode</i>. Simply click and hold on the white canvas on the video to draw anything you like, and click again on the icon to save. If you don't like what you just drew, simply erase the <code>[tmp0]</code> part in the comment, and start again!</li>
				<li><i>Expert feature</i>: You can <strong>display two video sequences side-by-side</strong>. You need to specify the moment of the first video, a pipe, then the second one. For instance, <code>0:50|2:45</code> will show you side-by-side the left side of the video at 0:50 and 2:45. If you want the right side instead, add 'r' at the end, like <code>0:50|2:45r</code>. 
				<br> You can also use a sequence from another video by specifying the id of the video (what you have in the URL after the /r/, like /r/56034cbfe4b07125e2fbbf6e) in parenthesis after the timestamp, like <code>0:50|0:05(560027c2776ef7265195c092)</code></li>
			</ul>
		</p>
	</div>
</div>