<ul>
	<li><a class="link-minor" ng-show="!loggedIn" ng-click="signIn()">{{ 'global.user.signIn' | translate }}</a></li>
	<li><a class="link-minor" ng-show="!loggedIn" ng-click="signUp()">{{ 'global.user.createAccount' | translate }}</a></li>
	<li ng-show="loggedIn" class="user-info">
		<a href="{{ '/u/' + name + '/' + sport + (profile.activitiesStats.unreadNotifs > 0 ? '/feed' : '/profile') }}" class="profile-menu" ng-class="{active: active}">
			<span class="unread-notifs" title="{{ 'global.user.unreadNotifTooltip' | translate }}" ng-if="::profile.activitiesStats.unreadNotifs > 0"><span class="badge-value">{{::profile.activitiesStats.unreadNotifs}}</span></span>
			{{name}} 
			<span bs-tooltip data-title="{{ 'global.user.reputationExplanation' | translate }}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation">{{::User.reputation}}
				<span><img class="reputation-icon" src="{{ config.images.reputation }}"></img></span>
			</span>
		</a>
		<notifications profile="profile" sport="sport"></notifications>
		
	</li>
	<li ng-hide="loggedIn">
		<a class="dropdown-toggle profile-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'global.navigation.language' | translate }}<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a ng-click="changeLanguage('fr')"><span class="lang-sm" lang="fr"></span></a></li>
			<li><a ng-click="changeLanguage('en')"><span class="lang-sm" lang="en"></span></a></li>
		</ul>
	</li>
	<li><a class="link-minor" ng-show="showLogout && loggedIn" ng-click="signOut()">{{ 'global.user.signOut' | translate }}</a></li>
</ul>