<div>
	<li><a class="link-minor" ng-show="!loggedIn" ng-click="signIn()">{{ 'global.user.signIn' | translate }}</a></li>
	<li><a class="link-minor" ng-show="!loggedIn" ng-click="signUp()">{{ 'global.user.createAccount' | translate }}</a></li>
	<li ng-show="loggedIn">
		<a class="dropdown-toggle profile-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}}<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a ng-click="changeLanguage('fr')"><span class="lang-sm" lang="fr"></span></a></li>
			<li><a ng-click="changeLanguage('en')"><span class="lang-sm" lang="en"></span></a></li>
			<li><a ng-click="showOwnVideos()" translate="{{ sport + '.user.showOwnVideos' }}" translate-default="{{ 'global.user.showOwnVideos' | translate }}"></a></li>
			<li><a ng-click="goToCoachProfile()" translate="{{ sport + '.user.myCoach' }}" translate-default="{{ 'global.user.myCoach' | translate }}" ng-show="User.coachInformation"></a></li>
		</ul>
		<notifications user="User" sport="sport"></notifications>
		<span bs-tooltip data-title="{{ 'global.user.reputationExplanation' | translate }}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation">{{User.reputation}}<span><i class="ion-bookmark reputation-icon"></i></span></span>
	</li>
	<li ng-hide="loggedIn">
		<a class="dropdown-toggle profile-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'global.navigation.language' | translate }}<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a ng-click="changeLanguage('fr')"><span class="lang-sm" lang="fr"></span></a></li>
			<li><a ng-click="changeLanguage('en')"><span class="lang-sm" lang="en"></span></a></li>
		</ul>
	</li>
	<li><a class="link-minor" ng-show="showLogout && loggedIn" ng-click="signOut()">{{ 'global.user.signOut' | translate }}</a></li>
</div>