<div>
	<li><a class="link-minor" ng-show="!loggedIn" ng-click="signIn()">{{ 'global.user.signIn' | translate }}</a></li>
	<li><a class="link-minor" ng-show="!loggedIn" ng-click="signUp()">{{ 'global.user.createAccount' | translate }}</a></li>
	<li>
		<a ng-show="loggedIn">
			{{name}}
			<span bs-tooltip data-title="{{ 'global.user.reputationExplanation' | translate }}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation">{{User.reputation}}<span><i class="ion-bookmark reputation-icon"></i></span></span>
			<!--<span bs-tooltip data-title="How many bronze badges you got" data-placement="bottom" data-animation="am-fade-and-scale" >1<span><i class="ion-trophy reputation-icon reputation-badge reputation-badge-bronze"></i></span></span>-->
		</a>
	</li>
	<li><a class="link-minor" ng-show="showLogout && loggedIn" ng-click="signOut()">{{ 'global.user.signOut' | translate }}</a></li>
</div>