<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#links" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#/reviews">
		    	<div class="brand">
		    		<img src="/images/logo.png" class="logo"/>
		    		<span>Zero to Heroes</span>
	    		</div>
	    	</a>
	    </div>

    	<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="links">
      		<ul class="nav navbar-nav">
      			<!-- Supposes there is a function call upload defined -->
        		<li ng-class="{active: upload}"><a href="#/upload">Submit a video <span class="sr-only">(current)</span></a></li>
          	</ul>
      		<ul class="nav navbar-nav expand-sports">
            	<li role="separator" class="divider-vertical"></li>
        		<li ng-class="{active: (!sport && retrieveVideos)}"><a href="#/reviews">All sports</a></li>
            	<li ng-class="{active: sport == 'badminton'}"><a href="#/s/badminton">Badminton</a></li>
            	<li ng-class="{active: sport == 'hearthstone'}"><a href="#/s/hearthstone">HearthStone</a></li>
            	<li ng-class="{active: sport == 'heroesofthestorm'}"><a href="#/s/heroesofthestorm">Heroes of the Storm</a></li>
            	<li ng-class="{active: sport == 'leagueoflegends'}"><a href="#/s/leagueoflegends">League of Legends</a></li>
            	<li ng-class="{active: sport == 'squash'}"><a href="#/s/squash">Squash</a></li>
            	<li ng-class="{active: sport == 'other'}"><a href="#/s/other">Other</a></li>
            	<li role="separator" class="divider-vertical"></li>
        	</ul>
        	<ul class="nav navbar-nav collapse-sports">
			  	<li class="dropdown">
		          	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose a sport <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
			            <li ng-class="{active: (!sport && retrieveVideos)}"><a href="#/reviews">All sports</a></li>
		            	<li ng-class="{active: sport == 'badminton'}"><a href="#/s/badminton">Badminton</a></li>
		            	<li ng-class="{active: sport == 'hearthstone'}"><a href="#/s/hearthstone">HearthStone</a></li>
		            	<li ng-class="{active: sport == 'heroesofthestorm'}"><a href="#/s/heroesofthestorm">Heroes of the Storm</a></li>
		            	<li ng-class="{active: sport == 'leagueoflegends'}"><a href="#/s/leagueoflegends">League of Legends</a></li>
		            	<li ng-class="{active: sport == 'squash'}"><a href="#/s/squash">Squash</a></li>
		            	<li ng-class="{active: sport == 'other'}"><a href="#/s/other">Other</a></li>
		          	</ul>
		        </li>
			</ul>
        	<ul class="nav navbar-nav">
        		<li><div zth-name-input class="nameInput"/></li>
      		</ul>
    	</div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>