<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/s/{{sport}}">
				<div class="brand">
					<span>Zero to Heroes</span>
				</div>
			</a>
			<button type="button" class="sport-navigation-button collapsed" ng-click="toggleSportPanel()">
				<span class="sr-only">Sport navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" class="navbar-toggle inside-navigation-button collapsed" data-toggle="collapse" data-target="#inside-navigation" aria-expanded="false">
		        <span>Navigation</span>
		    </button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="inside-navigation">
			<ul class="nav navbar-nav upload-link">
				<li>
					<a href="/s{{sport ? '/' + sport : ''}}/upload" ng-show="useVideo"><span>{{ 'global.navigation.postVideo' | translate }}</span> <span class="sr-only">(current)</span></a>
					<a href="/s{{sport ? '/' + sport : ''}}/upload" ng-hide="useVideo"><span>{{ 'global.navigation.postFeedback' | translate }}</span> <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav inside-navigation">
				<!-- <li ng-class=""><a href="{{ '/s/' + sport + '/forums'}}">{{ 'global.navigation.forum' | translate }}</a></li>
				<li ng-class=""><a href="{{ '/s/' + sport }}">{{ 'global.navigation.reviews' | translate }}</a></li>
				<li ng-class=""><a href="{{ '/s/' + sport + '/search'}}">{{ 'global.navigation.search' | translate }}</a></li>
				<li ng-class=""><a href="{{ '/s/' + sport + '/coaches'}}">{{ 'global.navigation.coaches' | translate }}</a></li> -->
				<li ng-class="{active: menuItem == 'home' && !upload}" class=""><a href="{{ '/s/' + sport }}">{{ 'global.navigation.home' | translate }}</a></li>
				<li ng-class="{active: menuItem == 'reviews' && !upload}" class=""><a href="{{ '/s/' + sport + '/reviews'}}">{{ 'global.navigation.reviews' | translate }}</a></li>
				<li ng-class="{active: menuItem == 'search' && !upload}"><a href="{{ '/s/' + sport + '/search'}}">{{ 'global.navigation.search' | translate }}</a></li>
				<li ng-class="{active: menuItem == 'coaches' && !upload}"><a href="{{ '/s/' + sport + '/coaches'}}">{{ 'global.navigation.coaches' | translate }}</a></li>
				<li ng-class="{active: menuItem == 'forum' && !upload}" class="soon" ng-disabled="true"><a>{{ 'global.navigation.forum' | translate }}</a></li>
			</ul>
			
			<ul  zth-name-input show-logout="true" class="nav navbar-nav name-group"></ul>
		</div>

		<!-- Non-UI components -->
		<div account-management></div>
		<div user-history></div>
		<div help-popup-manager></div>
	</div>

	<div class="sport-navigation" ng-show="showSportsNavigationPanel">
		<ul>
			<li ng-class="{active: sport == 'meta' && !upload}"><a href="/s/meta">{{ 'global.navigation.globalForum' | translate }}</a></li>
			<li><a href="http://blog.zerotoheroes.com/" target="_blank">Blog</a></li>
			<li class="big-separator"></li>
			<li ng-class="{active: sport == 'badminton' && !upload}"><a href="/s/badminton">Badminton</a></li>
			<!-- <li ng-class="{active: sport == 'duelyst' && !upload}"><a href="/s/duelyst">Duelyst</a></li> -->
			<li ng-class="{active: sport == 'hearthstone' && !upload}"><a href="/s/hearthstone">HearthStone</a></li>
			<li ng-class="{active: sport == 'heroesofthestorm' && !upload}"><a href="/s/heroesofthestorm">Heroes of the Storm</a></li>
			<li ng-class="{active: sport == 'leagueoflegends' && !upload}"><a href="/s/leagueoflegends">League of Legends</a></li>
			<li ng-class="{active: sport == 'squash' && !upload}"><a href="/s/squash">Squash</a></li>
			<li ng-class="{active: sport == 'other' && !upload}"><a href="/s/other">Other</a></li>
		</ul>
	</div>
</nav>