<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="skipAccountCreation()">&times;</button>
				<h4 class="modal-title">Sign in</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline">
					<p>If you don't already have an account, please <a ng-click='$hide(); signUp()'>sign up</a> instead</p>
					<div class="alert alert-danger" ng-show="error" role="alert"><strong>We're sorry :/</strong> We couldn't find any account that matches your identifiers</div>
				  	<div class="form-group">
				    	<label class="sr-only" for="identifier">Name or Email address</label>
				    	<input type="identifier" class="form-control" id="identifier" placeholder="Name or Email" ng-model="account.username">
				  	</div>
				  	<div class="form-group">
					    <label class="sr-only" for="password">Password</label>
				    	<input type="password" class="form-control" id="password" placeholder="Password" ng-model="account.password">
				  	</div>
				  	<div class="text-right">
				  		<a class="link-minor" ng-click="skipAccountCreation()">Cancel</a>
				  		<button type="submit" class="btn btn-primary" ng-click="login()">Log me in</button>
				  	</div>
				</form>
			</div>
		</div>
	</div>
</div>