<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="endAccountCreation()">&times;</button>
				<h4 class="modal-title">Would you like to create an account?</h4>
			</div>
			<div class="modal-body">
				<p>Creating an account is optional, and lets you edit your video information later on, be notified when there are new comments, and automatically benefit from all the new features we'll add in the coming weeks<br>If you already have an account, you can just <a ng-click='$hide(); signIn()'>sign in</a> instead</p>
				<form class="form-horizontal" name="accountForm">
					<div class="alert alert-danger" ng-show="error" role="alert">{{error}}</div>
					<div class="form-group" show-errors="{ showSuccess: true }">
						<label for="name" class="col-sm-4 control-label">Name</label>
						<div class="col-sm-6">
							<input id="name" name="name" type="text" placeholder="Your name" ng-hide="name" class="form-control" ng-model="account.username" ng-required="true"></input>
						</div>
					</div>
					<div class="form-group" show-errors="{ showSuccess: true }">
						<label for="email" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-6">
				    		<input type="email" id="email" name="email" class="form-control" placeholder="Email address" ng-model="account.email" ng-required="true">
				    	</div>
				    </div>
				    <div class="form-group" show-errors="{ showSuccess: true }">
				    	<label for="password" class="col-sm-4 control-label">Password</label>
				    	<div class="col-sm-6">
				    		<input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="account.password" ng-required="true">
				    	</div>
				    </div>
				    <div class="form-group" show-errors="{ showSuccess: true }">
				    	<label for="confirmPassword" class="col-sm-4 control-label">Confirm your password</label>
				    	<div class="col-sm-6">
				    		<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm your password" ng-model="account.confirmPassword" compare-to="account.password" ng-required="true">
				    	</div>
				  	</div>
				  	<div class="text-right">
				  		<a class="link-minor" ng-click="endAccountCreation()">No thanks, I'll create my account later</a>
				  		<button type="submit" class="btn btn-primary" ng-click="createAccount()">Create account now</button>
				  	</div>
				</form>
			</div>
		</div>
	</div>
</div>