<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="endAccountCreation()">&times;</button>
				<h4 class="modal-title">{{ 'global.user.createAccountHeadline' | translate }}</h4>
			</div>
			<div class="modal-body">
				<p>{{ 'global.user.createAccountIntro' | translate }}<br>{{ 'global.user.createAccountIntro2' | translate }} <a ng-click='$hide(); signIn()'>{{ 'global.user.createAccountLink' | translate }}</a> {{ 'global.user.createAccountIntro3' | translate }}</p>
				<form class="form-horizontal" name="accountForm">
					<div class="alert alert-danger" ng-show="error" role="alert">{{error}}</div>
					<div class="form-group" show-errors="{ showSuccess: true }">
						<label for="name" class="col-sm-4 control-label">{{ 'global.user.name' | translate }}</label>
						<div class="col-sm-6">
							<input id="name" name="name" type="text" placeholder="{{ 'global.user.name' | translate }}" ng-hide="name" class="form-control" ng-model="account.username" ng-required="true"></input>
						</div>
					</div>
					<div class="form-group" show-errors="{ showSuccess: true }">
						<label for="email" class="col-sm-4 control-label">{{ 'global.user.email' | translate }}</label>
						<div class="col-sm-6">
							<input type="email" id="email" name="email" class="form-control" placeholder="{{ 'global.user.email' | translate }}" ng-model="account.email" ng-required="true">
						</div>
					</div>
					<div class="form-group" show-errors="{ showSuccess: true }">
						<label for="password" class="col-sm-4 control-label">{{ 'global.user.password' | translate }}</label>
						<div class="col-sm-6">
							<input type="password" id="password" name="password" class="form-control" placeholder="{{ 'global.user.password' | translate }}" ng-model="account.password" ng-required="true">
						</div>
					</div>
					<div class="form-group" show-errors="{ showSuccess: true }">
						<label for="confirmPassword" class="col-sm-4 control-label">{{ 'global.user.confirmPassword' | translate }}</label>
						<div class="col-sm-6">
							<input type="password" name="confirmPassword" class="form-control" placeholder="{{ 'global.user.confirmPassword' | translate }}" ng-model="account.confirmPassword" compare-to="account.password" ng-required="true">
						</div>
					</div>
					<div class="text-right">
						<a class="link-minor" ng-click="endAccountCreation()">{{ 'global.user.createAccountCancel' | translate }}</a>
						<button type="submit" class="btn btn-primary" ng-click="createAccount()"><span>{{ 'global.user.createAccountConfirm' | translate }}</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>