<table class="table">
	<tbody>
		<tr ng-repeat="video in videos">
			<td class="vert-align text-center">
				<span class="glyphicon glyphicon-thumbs-up block" ng-class="{'upvote':video.reputation.hasCurrentUserVoted.Upvote}" ng-click="upvoteReview(video)" aria-hidden="true">{{video.reputation.nbVotes.Upvote}} </span> 
  				<span class="glyphicon glyphicon-thumbs-down" ng-class="{'downvote':video.reputation.hasCurrentUserVoted.Downvote}" ng-click="downvoteReview(video)" aria-hidden="true">{{video.reputation.nbVotes.Downvote}} </span> 
  			</td>
			<td class="vert-align text-center">
				<span class="block">{{video.comments ? video.comments.length : '0'}}</span><span><small>comments</small></span>
			</td>
			<td class="thumbnails vert-align text-center">
				<img ng-src="{{video.thumbnail ? ENV.videoStorageUrl + video.thumbnail : ''}}" ng-show="video.thumbnail">
			</td>
			<td class="vert-align info-column">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<a href="/r/{{video.sport.key.toLowerCase()}}/{{video.id}}"><h3>{{video.title}}</h3></a>
						</div>
					</div>
			  		<div class="row">
						<div class="col-sm-4">
							<span class="label label-primary">{{video.sport.value}}</span>
						</div>
						<div class="col-sm-8 text-right">
							<span><small>{{formatDate(video)}}</small></span>
							<span><small>by {{video.lastModifiedBy ? video.lastModifiedBy : video.author}}</small></span>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>