<div class='dropdown'>
	<button class="iconButton dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		{{playbackRate ? playbackRate : 1.0}}x
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a ng-click="setPlayback(0.25)">0.25x</a></li>
	    <li><a ng-click="setPlayback(0.5)">0.5x</a></li>
	    <li><a ng-click="setPlayback(1)">1x</a></li>
	    <li><a ng-click="setPlayback(2)">2x</a></li>
	    <li><a ng-click="setPlayback(4)">4x</a></li>
	</ul>
</div>