<table class="table table-comfy video-listing">
	<tbody>
		<tr ng-repeat="video in videos">
			<td class="vert-align text-center reputation-cell">
				<div class="reputation">
	  				<span class="glyphicon glyphicon-chevron-up pointer" ng-class="{'upvote': video.reputation.hasCurrentUserVoted.Upvote}" ng-click="upvoteReview(video)" aria-hidden="true" title="Upvote this video"></span>
					<span class="reputation-score glyphicon">{{video.reputation.nbVotes.Upvote - video.reputation.nbVotes.Downvote}}</span>
					<span class="glyphicon glyphicon-chevron-down pointer" ng-class="{'downvote':video.reputation.hasCurrentUserVoted.Downvote}" ng-click="downvoteReview(video)" aria-hidden="true" title="Downvote this video"></span>
				</div>
  			</td>
			<td class="vert-align text-center comments">
				<span class="block">{{video.comments ? video.comments.length : '0'}}</span><span><small>comments</small></span>
			</td>
			<td class="vert-align text-center comments">
				<span class="block">{{video.viewCount ? video.viewCount : '0'}}</span><span><small>views</small></span>
			</td>
			<td class="thumbnails vert-align text-center">
				<img ng-src="{{video.thumbnail ? ENV.videoStorageUrl + video.thumbnail : ''}}" ng-show="video.thumbnail">
			</td>
			<td class="vert-align info-column">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<a href="{{buildUrl(video)}}"><h3>{{video.title}}</h3></a>
						</div>
					</div>
			  		<div class="row">
						<div class="col-sm-4" ng-hide="sport">
							<span class="label label-primary">{{video.sport.value}}</span>
						</div>
						<div class="col-sm-8 text-right">
							<span><small>{{formatDate(video)}}</small></span>
							<span><small>by {{video.lastModifiedBy ? video.lastModifiedBy : video.author}}</small></span>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>