<div class="welcome-page panel" ng-class="{'panel-default': User.isLoggedIn(), 'panel-primary': !User.isLoggedIn()}">
	<div class="panel-heading" ng-show="User.isLoggedIn()">
    	<h3 class="panel-title">{{ 'global.welcome.headlineLogged' | translate:'{name: User.getName()}' }}</h3>
  	</div>
	<div class="panel-heading" ng-hide="User.isLoggedIn()">
    	<h3 class="panel-title">{{ 'global.welcome.headline' | translate }}</h3>
  	</div>

	<div class="panel-body">
		<section>
			<h4 ng-show="engagement <= 1 && recommendedVideo">{{ 'global.welcome.gettingStarted' | translate }}</h4>
			<p ng-show="engagement == 0 && recommendedVideo" translate="{{ 'global.welcome.videoSuggestion' | translate:'{sport: sport, recommendedVideo: recommendedVideo}' }}">
			</p>
			<p ng-show="engagement == 1 && recommendedVideo" translate="{{ 'global.welcome.reviewSuggestion' | translate:'{sport: sport, recommendedVideo: recommendedVideo}' }}"></p>
			<p ng-show="(engagement <= 1 && !User.isLoggedIn()) || (User.isLoggedIn() && engagement == 0)" translate="{{ 'global.welcome.newcomer' | translate:'{sport: sport}' }}"></p>
		</section>

		<section ng-show="!!lastActivities.length" >
			<h4>{{ 'global.welcome.latestActivity' | translate }}</h4>
			<ul>
				<li ng-repeat="activity in lastActivities"><span ng-bind-html="activity.description"></span> <small>{{formatDate(activity.date)}}</small></li>
			</ul>
		</section>

		<section ng-show="!!features.length && User.isLoggedIn()" >
			<h4>{{ 'global.welcome.latestFeatures' | translate }}<h4>
			<p>{{ 'global.welcome.latestFeaturesSubHeadline' | translate }}</p>
			<ul>
				<li ng-repeat="feature in features">{{feature.date | date:yyyy-MM-dd}} - <span ng-bind-html="feature.description"></span></li>
				<li ng-show="bugfixes && bugfixes.length > 0">And <a ng-click="showBugfixes = !showBugfixes">various bug fixes <span class="caret"></span></a>
					<ul ng-show="showBugfixes">
						<li ng-repeat="bug in bugfixes">{{bug.date | date:yyyy-MM-dd}} - <span ng-bind-html="bug.description"></span></li>
					</ul>
				</li>
			</ul>
		</section>
	</div>
	<div class="panel-footer text-center" translate="{{ 'global.welcome.contactUs' | translate }}">
	</div>
</div>