.popover-help {
	padding: 0;
}

.popover-help.popover-header, .popover-help .popover-header .popover-title {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
}

.popover-help .popover-title-icon {
	display: inline-block;
    float: left;
    margin-right: 20px;
}

.popover-help .help-close {
	float: right;
	color: white;
}