img[alt="img-small"] {
	width: 200px;
	max-width: 100%;
	display: block;
    margin: auto;
}
img[alt="img-medium"] {
	width: 400px;
	max-width: 100%;
	display: block;
    margin: auto;
}
img[alt="img-big"] {
	width: 600px;
	max-width: 100%;
	display: block;
    margin: auto;
}
img[alt="img-scale"] {
	max-width: 100%;
	display: block;
    margin: auto;
}