.review-list-item {
	display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    padding-top: 25px;
    border-radius: 15px;
}

.video-listing .review-list-item .review-link, .video-listing .review-list-item > .review-link:focus, .video-listing .review-list-item > .review-link:hover, .video-listing .review-list-item > .review-link:active {
	color: inherit;
}

.review-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.review-list-item .header {
	display: flex;
    margin-top: 0;
    margin-bottom: 25px;
}

.review-list-item .skill-level {
    margin-right: 25px;
    width: 140px;
    min-width: 140px;
}
.review-list-item tags-input {
	height: 55px;
}
.review-list-item tags-input .tags {
    display: flex;
}
.review-list-item tags-input .tag-list {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}
.review-list-item tags-input .tag-list .tag-item {
    height: 100%;
    display: flex;
}
.review-list-item tags-input ti-tag-item {
    margin: auto;
}

.review-list-item .title-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    /* http://stackoverflow.com/questions/12022288/how-to-keep-a-flex-item-from-overflowing-due-to-its-text*/
    min-width: 1px;
}

.review-list-item .title {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.review-list-item .additional-info {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 55%;
}

.review-list-item .body {
	display: flex;
}

.review-list-item .mobile-video-info-details {
    display: none;
    font-size: 14px;
    color: inherit;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
}
.review-list-item .mobile-video-info-details span {
    margin-right: 2px;
}

.review-list-item .video-info-details {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}

.review-list-item .icon-container {
    display: flex;
    flex-direction: column;
    width: 25px;
}

.review-list-item .specific-info {
    max-width: 280px;
}

.review-list-item .specific-info tags-input {
    display: none;
}

.review-list-item .visibility {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.7em;
    margin-right: 5px;
}
.review-list-item .visibility.private {
    color: #972011;
}
.review-list-item .visibility.restricted {
}