.sport-navigation-button {
	height: 40px;
	width: 50px;
	position: relative;
	float: left;
	top: 5px;
	background-color: transparent;
	border-width: 1px;
	padding: 1px 8px;
}

.sport-navigation-button:after {
	content: "";
    position: absolute;
    top: 13px;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sport-navigation-button .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	background-color: #cccccc;
	border-radius: 1px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.sport-navigation {
	width: 270px;
	background-color: rgba(240,240,240,1);
	top: 50px;
	position: absolute;
	height: calc(100vh - 48px);
}

.sport-navigation:before {
	content: "";
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	border: 2px solid gray;
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	z-index: -1;
}

.sport-navigation ul {
	padding: 0;
}

.sport-navigation li {
	border-bottom: 1px solid gray;
}

.sport-navigation li a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
}

.sport-navigation .big-separator {
	height: 0;
	border-bottom-width: 2px;	
}