.table>tbody>tr>td.vert-align {
    vertical-align: middle;
}

.table>tbody>tr>td.vert-align-bottom {
    vertical-align: bottom;
}

th {
    text-align: center;
}

.table-comfy tr {
	height: 110px;
}