tags-input[disabled] .tags {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

tags-input[disabled] .tags .input {
	background-color: transparent;
	display: none;
}

tags-input[disabled] .tags .tag-item {
	opacity: 1;
}

tags-input[disabled] .tags .tag-item .remove-button {
	display: none;
}

tags-input .autocomplete .suggestion-item.selected {
    color: #fff;
    background-color: #0097cf;
}

tags-input.form-control {
	padding: 0;
	height: auto;
	border: none;
}
tags-input[disabled].form-control {
	background-color: transparent;
}

.has-error tags-input.form-control .tags { 
	border-color: #a94442;
}
.has-success tags-input.form-control .tags {
	border-color: #3c763d;
}