.navbar .user-notifications {
    float: right;

    display: flex;
    align-items: center;
    margin: 0;
}
.navbar .user-notifications .badge {
    background-color: transparent;
    margin-left: 2px;
    padding: 3px 4px;
    font-size: 15px;
    line-height: 1.1;
}
.user-notifications.unread, .user-notifications.unread span {
    color: orangered !important;
}