.classpath
.project
.settings
target
tmp-git-deployment-staging
yo/node_modules
yo/dist
yo/.tmp
yo/.sass-cache
yo/bower_components
/*.log
/*.lck
/*.1
/yo/app/scripts/services/defaultI18n.js
/.idea
**/*.ignore