body {
  display: flex;
  flex-direction: column;
}
.main-panel-nolanding {
  margin-top: 10px;
}
.main-container-nolanding {
  flex-basis: 75%;
}
.center-column {
  top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.center-column > div {
  float: none;
  flex-grow: 1;
}
.main-container-landing .center-column {
  display: block;
}
.account-claim {
  display: flex;
  padding: 10px;
}
.account-claim .text {
  margin-left: 20px;
}
.account-claim .confirmation-message {
  padding: 10px;
}
.footer {
  margin-top: 70px;
  font-size: 14px;
  background-color: #3A240F;
  min-height: 80px;
  padding-top: 10px;
  flex-grow: 1;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.footer li {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer li:after {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}
.footer li:last-child:after {
  content: "";
  margin-left: 5px;
}
.footer .paypal .button-image {
  background: transparent;
}
.footer a {
  color: white;
}
.navbar .name-input .profile-menu .unread-notifs {
  display: flex;
  margin-right: 6px;
}
.navbar .name-input .profile-menu .unread-notifs:before {
  content: "";
  background-color: #edd6aa;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 75px;
  position: absolute;
  top: 19px;
}
.navbar .name-input .profile-menu .unread-notifs .badge-value {
  z-index: 5;
  margin-left: 6px;
  color: #860412;
}
.profile-page {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.profile-page .menu-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  margin-bottom: 10px;
}
.profile-page .menu-bar ul {
  padding: 0;
  flex-grow: 1;
  margin-bottom: 0;
}
.profile-page .menu-bar li {
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid grey;
  margin-right: 10px;
}
.profile-page .menu-bar li:last-child {
  border-right: none;
}
.profile-page .menu-bar a.active {
  color: orangered;
}
.profile-page .activity-feed ul {
  list-style-type: none;
}
.profile-page .activity-feed .activity {
  display: flex;
  margin-top: 15px;
}
.profile-page .activity-feed .activity .icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.profile-page .activity-feed .activity .date {
  margin-left: 20px;
  font-size: 0.8em;
  margin-top: auto;
}
.profile-page .activity-feed .helpful {
  position: relative;
}
.profile-page .activity-feed .upvote .change-amount {
  position: relative;
  left: -12px;
}
.profile-page .activity-feed .upvote .change-amount:before {
  content: "+";
}
.profile-page .activity-feed .helpful .change-amount {
  position: relative;
  display: flex;
}
.profile-page .activity-feed .helpful .change-amount:before {
  content: "+";
}
.profile-page .activity-feed .helpful .change-amount:after {
  content: "";
  background-size: contain;
  width: 20px;
  height: 20px;
}
.profile-page .preferences .included {
  margin-top: 10px;
}
.profile-page .preferences .indented {
  margin-left: 30px;
}
.profile-page .preferences .dropdown-menu {
  max-width: 300px;
}
.profile-page .preferences .disabled {
  filter: brightness(50%);
}
.profile-page .preferences .email-notification-type {
  text-transform: none;
}
.profile-page .profile-info h2 {
  text-align: center;
  margin-bottom: 40px;
}
.profile-page .profile-info h3 {
  margin-bottom: 20px;
}
.profile-page .profile-info .game-identifier {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
  position: relative;
  top: -3px;
}
.profile-page .profile-info .game-identifier:before {
  content: "(";
}
.profile-page .profile-info .game-identifier:after {
  content: ")";
}
.profile-page .profile-info .buttons-container {
  text-align: right;
  margin-top: 50px;
}
.profile-page .profile-info .frame-input,
.profile-page .profile-info .identifier-input {
  width: auto;
  display: inline-block;
}
.profile-page .profile-info .total-reputation {
  margin-left: 0;
}
.profile-page .profile-info .total-reputation:before {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}
.profile-page .profile-info.editing .frame:before {
  width: 0;
}
.profile-page .profile-info .calendars .number {
  font-size: .6em;
}
.profile-page .profile-info .calendars .number:before {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}
.profile-page .profile-info .heatmap {
  margin-bottom: 50px;
}
.profile-page .profile-info .cal-heatmap-container .graph {
  font-family: inherit;
}
.profile-page .profile-info .cal-heatmap-container .now,
.profile-page .profile-info .cal-heatmap-container .future {
  fill: #655a44;
}
.profile-page .profile-info .cal-heatmap-container .q1 {
  fill: #edd6aa;
}
.profile-page .profile-info .cal-heatmap-container .q2 {
  fill: #e7b553;
}
.profile-page .profile-info .cal-heatmap-container .q3 {
  fill: #d98b0e;
}
.profile-page .profile-info .cal-heatmap-container .q4 {
  fill: #d9530e;
}
.profile-page .profile-info .cal-heatmap-container .q5 {
  fill: #c80a0a;
}
.profile-page .profile-info .cal-heatmap-container .q0 {
  fill: #655a44;
}
.profile-page.messages .switch-view:after {
  content: "-";
  margin-right: 5px;
  margin-left: 5px;
}
.profile-page.messages .message-listing {
  padding-left: 0;
}
.profile-page.messages .message .mark-read-button {
  color: rgba(255, 255, 255, 0.7);
}
.profile-page.messages .message .mark-read-button:before {
  content: "-";
  margin-right: 5px;
}
.profile-page.messages .review-comments {
  list-style: none;
}
.profile-page.messages .review-comments li {
  margin-bottom: 3px;
}
.profile-page.messages .review-comments li .message-body {
  border-radius: 10px;
}
.comment-block.highlighted > .comment-main > .comment-body {
  background-color: #61503f;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
}
.comment-block .comment-footer .link-minor {
  margin-right: 10px;
}
.video-comment.multi-comment #comments-scrollable {
  transition: margin-top 0.2s;
}
.video-comment.multi-comment .comment-sort-options {
  font-size: 0.8em;
}
.video-comment.multi-comment .comment-sort-options label {
  font-weight: normal;
}
.video-comment.multi-comment .comment-sort-options .btn-select {
  font-size: 0.8em;
  padding: 4px 20px;
}
.video-comment.multi-comment .comments-recap a:after {
  content: ",";
  margin-right: 5px;
}
.video-comment.multi-comment .comments-recap a:last-of-type:before {
  content: "and ";
  margin-right: 0;
}
.video-comment.multi-comment .comments-recap a:first-of-type:before {
  content: "";
  margin-right: 0;
}
.video-comment.multi-comment .comments-recap a:last-of-type:after {
  content: "";
  margin-right: 0;
}
.video-comment.multi-comment .comments-recap .explanation-second-part {
  display: block;
}
.video-comment.multi-comment .turn-label {
  font-size: 24px;
  text-transform: none;
}
.video-comment.multi-comment .comment-footer {
  margin-bottom: 0;
}
.video-comment.multi-comment .dampen .inactive .turn-label,
.video-comment.multi-comment .dampen .inactive .reputation,
.video-comment.multi-comment .dampen .inactive .comment-header,
.video-comment.multi-comment .dampen .inactive .comment-subheader,
.video-comment.multi-comment .dampen .inactive .comment-body,
.video-comment.multi-comment .dampen .inactive .comment-footer {
  filter: brightness(50%);
}
.video-comment.multi-comment .dampen .inactive .comment-block.highlighted .comment-body {
  filter: brightness(80%);
}
.video-comment.multi-comment .dampen .inactive .turn-label:hover {
  filter: none;
}
.video-comment.multi-comment .dampen .inactive .comment-main:hover .comment-header,
.video-comment.multi-comment .dampen .inactive .comment-main:hover .comment-subheader,
.video-comment.multi-comment .dampen .inactive .comment-main:hover .comment-body,
.video-comment.multi-comment .dampen .inactive .comment-main:hover .comment-footer {
  filter: none;
}
.video-information .video-information-header .skill-level {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  margin-right: 25px;
  align-items: center;
}
.video-information .video-information-header .skill-level .skill-level-icon {
  width: 90px;
}
.video-information .video-information-header .skill-level .skill-level-label {
  font-size: 0.8em;
}
.video-information .video-information-header .review-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.video-information .video-information-header .review-header.editing {
  flex-wrap: wrap;
}
.video-information .video-information-header .review-header.editing .metadata {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
.video-information .video-information-header .review-header.editing .title {
  flex-basis: 100%;
}
.video-information .video-information-header .review-header.editing hs-decklist-upload {
  margin-bottom: 0;
}
.video-information .video-information-header .review-header.editing hs-decklist-upload .deck-list {
  display: flex;
  align-items: center;
}
.video-information .video-information-header .review-header.editing .review-visibility {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
}
.video-information .video-information-header .review-header.editing .review-visibility .btn-select {
  margin-left: 0;
}
.video-information .link-delete,
.video-comment .link-delete,
.video-information .link-delete:hover,
.video-comment .link-delete:hover {
  color: red;
  margin-left: 20px;
}
.no-more-review-description-text {
  display: block;
  padding: 20px;
}
.sport-tags {
  display: flex;
  justify-content: center;
}
.sport-tags > .read-only-tag {
  margin-right: 10px;
}
.read-only-tag {
  width: 100px;
  background: #721494;
  text-align: center;
  padding: 10px 10px;
  border: none;
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
.review-list-item {
  width: 380px;
  max-width: 100%;
}
.review-list-item > a {
  display: flex;
  flex-wrap: wrap;
}
.review-list-item .body {
  flex-wrap: wrap;
}
.review-list-item .video-info-details {
  order: 1;
  width: 120px;
}
.review-list-item .visibility {
  order: -10;
}
.review-list-item .complementary-info {
  margin-top: 15px;
  height: 30px;
  order: -1;
  flex-grow: 1;
  width: 150px;
  align-self: stretch;
  padding-left: 5px;
  padding-right: 5px;
}
.review-list-item .specific-info {
  order: -1;
  max-width: none;
  flex-grow: 1;
  margin-bottom: 0;
}
.review-list-item .more-meta-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  order: 2;
  margin-left: 45px;
}
.review-list-item .more-meta-data .result {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 100%;
}
.review-list-item .more-meta-data .play-coin {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.review-list-item .title-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  /* http://stackoverflow.com/questions/12022288/how-to-keep-a-flex-item-from-overflowing-due-to-its-text*/
  min-width: 1px;
  justify-content: center;
  flex-basis: 100%;
}
.review-list-item .title-container .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 8px;
}
.review-list-item .title-container .additional-info {
  font-size: 55%;
}
.review-list-item .skill-level {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 111px;
  align-items: center;
  flex-grow: 1;
  order: 4;
}
.review-list-item .skill-level .skill-level-icon {
  width: 90px;
}
.review-list-item .skill-level .skill-level-label {
  font-size: 0.8em;
}
.review-list-item .stat-view {
  display: none;
}
.review-list-item .sport-tags {
  align-items: baseline;
  height: 100%;
  justify-content: space-around;
}
.review-list-item .read-only-tag {
  width: 40%;
  justify-content: space-around;
  padding: 4px 8px;
  margin-right: 0;
}
.list .review-list-item {
  width: 100%;
  margin-bottom: 15px;
}
.list .review-list-item .review-link {
  align-items: center;
  height: 120px;
  overflow: hidden;
}
.list .review-list-item .skill-level {
  order: -4;
  flex-grow: 0;
}
.list .review-list-item .video-info-details {
  order: -3;
  margin: 0;
}
.list .review-list-item .specific-info {
  width: 250px;
  max-width: 250px;
  margin-right: 15px;
  order: -2;
}
.list .review-list-item .specific-info .player-details,
.list .review-list-item .specific-info .opponent-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.list .review-list-item .specific-info .player-details i,
.list .review-list-item .specific-info .opponent-details i {
  margin: 0;
}
.list .review-list-item .title-container {
  order: 0;
  flex-basis: inherit;
  margin: 0;
  width: 350px;
}
.list .review-list-item .complementary-info {
  width: auto;
  height: auto;
  margin: 0;
  flex-grow: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  order: 1;
}
.list .review-list-item .complementary-info .sport-tags {
  align-items: center;
}
.list .review-list-item .complementary-info .sport-tags .read-only-tag {
  padding: 10px 10px;
  width: 100px;
  height: 55px;
  justify-content: center;
  margin-right: 10px;
}
.list .review-list-item .more-meta-data {
  width: 100px;
  margin-right: 15px;
  order: -1;
}
.grid .review-list-item read-only-tags div[data-type=tag]:nth-child(n + 3) {
  display: none;
}
.search-page-global .main-panel {
  width: calc(100% - 45px);
  max-width: none;
  margin-top: 15px;
}
.search-page-global .filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.search-page-global .filters .display-mode {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
}
.search-page-global .search-section {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.search-page-global .search-section .advanced-options {
  padding: 20px 0 0 50px;
  display: flex;
  flex-wrap: wrap;
}
.search-page-global .search-section .line-break {
  flex-basis: 100%;
}
.search-page-global .search-section .btn-select {
  width: 175px;
  height: 100%;
}
.search-page-global .search-section .search-group {
  margin-bottom: 30px;
  min-height: 50px;
}
.search-page-global .search-section .class-select {
  display: flex;
  align-items: center;
  width: 200px;
  padding-left: 5px;
  padding-right: 5px;
}
.search-page-global .search-section .skill-select {
  display: flex;
  align-items: center;
}
.search-page-global .search-section .skill-select button {
  width: 140px;
}
.search-page-global .search-section .comment-select {
  display: flex;
  flex-wrap: wrap;
}
.search-page-global .search-section .comment-select .digit-only {
  width: 148px;
}
.search-page-global .search-section input {
  height: 100%;
}
.search-page-global .search-section label input {
  height: auto;
}
.search-page-global .search-section .title-search,
.search-page-global .search-section .tag-search,
.search-page-global .search-section .author-search,
.search-page-global .search-section .contributor-search {
  margin-left: 10px;
  margin-right: 10px;
}
.search-page-global .search-section .title-search tags-input,
.search-page-global .search-section .tag-search tags-input,
.search-page-global .search-section .author-search tags-input,
.search-page-global .search-section .contributor-search tags-input {
  height: 100%;
  width: 100%;
}
.search-page-global .search-section .tag-search {
  width: 375px;
  max-width: 90%;
}
.search-page-global .search-section .sort-button {
  width: 225px;
}
.search-page-global .search-section .own-reviews label {
  font-weight: normal;
}
.search-page-global .search-section .show-advanced-button {
  margin-bottom: 30px;
  margin-left: 10px;
}
.search-page-global .search-section .comment-group {
  display: flex;
  align-items: center;
}
.search-page-global .search-section .option-group {
  margin-right: 5px;
}
.search-page-global .search-section .buttons-group {
  margin-left: 10px;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}
.search-page-global .search-section .buttons-group button {
  margin-right: 10px;
  order: 1;
}
.search-page-global .search-section .buttons-group .display-mode {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  order: 3;
}
.search-page-global .search-section .buttons-group .display-mode .inactive {
  filter: brightness(80%);
}
.search-page-global .search-section .buttons-group .subscribe-popup {
  order: 2;
  margin-left: 20px;
}
.search-page-global .search-section .buttons-group .subscribe-popup input {
  padding: 10px;
}
.search-page-global .search-section .buttons-group .subscribe-popup button {
  margin-right: 0;
}
upload-replay-review .metadata {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid grey;
  margin-bottom: 20px;
  padding: 10px;
}
upload-replay-review .metadata hs-decklist-upload {
  margin-bottom: 0;
  display: flex;
}
upload-replay-review .metadata hs-decklist-upload .deck-list {
  display: flex;
  align-items: center;
}
upload-replay-review .review-visibility {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}
upload-replay-review .review-visibility .btn-select {
  margin-left: 0;
}
upload-replay-review .no-more-review-description-text {
  padding-top: 0;
}
@media screen and (max-width: 550px) {
  .main-panel-nolanding {
    margin-top: 10px;
  }
}
.home-page-global .center-column {
  margin-top: 60px;
}
@media screen and (max-width: 800px) {
  .search-page-global .search-section {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .video-listing .complementary-info {
    display: none;
  }
  .video-listing .advanced-options {
    padding-left: 20px;
  }
}
@media screen and (max-width: 700px) {
  .search-page-global .search-section .display-mode {
    flex-basis: 100%;
    margin-top: 20px;
  }
  .search-page-global .video-listing {
    margin-top: 0;
  }
}
@media screen and (max-width: 650px) {
  .video-listing {
    padding: 0;
  }
  .video-listing li {
    margin-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .search-page-global .search-section .option-group {
    margin-left: 40px;
  }
  .search-page-global .search-section .and {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .search-page-global .search-section .search-group,
  .search-page-global .search-section .show-advanced-button {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  .search-page-global .search-section .buttons-group button {
    margin-top: 15px;
  }
  .search-page-global .search-section .skill-select > span {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .search-page-global .search-section .tag-search {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .video-comment .comment-block {
    margin-left: 0;
  }
  .video-comment .comment-block .adding-comment {
    padding-left: 0;
  }
  .video-comment .comment-block button {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 1100px) {
  .list .review-list-item .title-container {
    width: 250px;
  }
  .list .review-list-item .complementary-info {
    display: none;
  }
}
@media screen and (max-width: 999px) {
  .list .review-list-item .video-info-details {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .list .review-list-item .review-link {
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
  }
  .list .review-list-item .title-container {
    width: 100%;
    order: -5;
  }
}
@media screen and (max-width: 475px) {
  .list .review-list-item .skill-level {
    display: none;
  }
}
@media (max-width: 420px) {
  .review-list-item .skill-level {
    min-width: auto;
    margin-right: 0;
  }
  .review-list-item .skill-level .skill-level-icon {
    width: 70px;
  }
}
