.navbar .name-input .profile-menu .unread-notifs {
  display: flex;
  margin-right: 6px;
}
.navbar .name-input .profile-menu .unread-notifs:before {
  content: "";
  background-color: #edd6aa;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 75px;
  position: absolute;
  top: 19px;
}
.navbar .name-input .profile-menu .unread-notifs .badge-value {
  z-index: 5;
  margin-left: 6px;
  color: #860412;
}
.profile-page {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.profile-page .menu-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  margin-bottom: 10px;
}
.profile-page .menu-bar ul {
  padding: 0;
  flex-grow: 1;
  margin-bottom: 0;
}
.profile-page .menu-bar li {
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid grey;
  margin-right: 10px;
}
.profile-page .menu-bar li:last-child {
  border-right: none;
}
.profile-page .menu-bar a.active {
  color: orangered;
}
.profile-page .activity-feed ul {
  list-style-type: none;
}
.profile-page .activity-feed .activity {
  display: flex;
  margin-top: 15px;
}
.profile-page .activity-feed .activity .icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.profile-page .activity-feed .activity .date {
  margin-left: 20px;
  font-size: 0.8em;
  margin-top: auto;
}
.profile-page .activity-feed .helpful {
  position: relative;
}
.profile-page .activity-feed .upvote .change-amount {
  position: relative;
  left: -12px;
}
.profile-page .activity-feed .upvote .change-amount:before {
  content: "+";
}
.profile-page .activity-feed .helpful .change-amount {
  position: relative;
  display: flex;
}
.profile-page .activity-feed .helpful .change-amount:before {
  content: "+";
}
.profile-page .activity-feed .helpful .change-amount:after {
  content: "";
  background-size: contain;
  width: 20px;
  height: 20px;
}
.profile-page .profile-info h2 {
  text-align: center;
  margin-bottom: 40px;
}
.profile-page .profile-info h3 {
  margin-bottom: 20px;
}
.profile-page .profile-info .game-identifier {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
  position: relative;
  top: -3px;
}
.profile-page .profile-info .game-identifier:before {
  content: "(";
}
.profile-page .profile-info .game-identifier:after {
  content: ")";
}
.profile-page .profile-info .buttons-container {
  text-align: right;
  margin-top: 50px;
}
.profile-page .profile-info .frame-input,
.profile-page .profile-info .identifier-input {
  width: auto;
  display: inline-block;
}
.profile-page .profile-info .total-reputation {
  margin-left: 0;
}
.profile-page .profile-info .total-reputation:before {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}
.profile-page .profile-info.editing .frame:before {
  width: 0;
}
.profile-page .profile-info .calendars .number {
  font-size: .6em;
}
.profile-page .profile-info .calendars .number:before {
  content: "-";
  margin-left: 5px;
  margin-right: 5px;
}
.profile-page .profile-info .heatmap {
  margin-bottom: 50px;
}
.profile-page .profile-info .cal-heatmap-container .graph {
  font-family: inherit;
}
.profile-page .profile-info .cal-heatmap-container .now,
.profile-page .profile-info .cal-heatmap-container .future {
  fill: #655a44;
}
.profile-page .profile-info .cal-heatmap-container .q1 {
  fill: #edd6aa;
}
.profile-page .profile-info .cal-heatmap-container .q2 {
  fill: #e7b553;
}
.profile-page .profile-info .cal-heatmap-container .q3 {
  fill: #d98b0e;
}
.profile-page .profile-info .cal-heatmap-container .q4 {
  fill: #d9530e;
}
.profile-page .profile-info .cal-heatmap-container .q5 {
  fill: #c80a0a;
}
.profile-page .profile-info .cal-heatmap-container .q0 {
  fill: #655a44;
}
.video-comment.multi-comment #comments-scrollable {
  transition: margin-top 0.2s;
}
.video-comment.multi-comment .comment-sort-options {
  font-size: 0.8em;
}
.video-comment.multi-comment .comment-sort-options label {
  font-weight: normal;
}
.video-comment.multi-comment .comment-sort-options .btn-select {
  font-size: 0.8em;
  padding: 4px 20px;
}
.video-comment.multi-comment .comments-recap a:after {
  content: ",";
  margin-right: 5px;
}
.video-comment.multi-comment .comments-recap a:last-of-type:before {
  content: "and ";
  margin-right: 0;
}
.video-comment.multi-comment .comments-recap a:first-of-type:before {
  content: "";
  margin-right: 0;
}
.video-comment.multi-comment .comments-recap a:last-of-type:after {
  content: "";
  margin-right: 0;
}
.video-comment.multi-comment .comments-recap .explanation-second-part {
  display: block;
}
.video-comment.multi-comment .turn-label {
  font-size: 24px;
}
.video-comment.multi-comment .comment-footer {
  margin-bottom: 0;
}
.video-comment.multi-comment .dampen .inactive .turn-label,
.video-comment.multi-comment .dampen .inactive .reputation,
.video-comment.multi-comment .dampen .inactive .comment-main {
  filter: brightness(50%);
}
.video-comment.multi-comment .dampen .inactive .turn-label:hover,
.video-comment.multi-comment .dampen .inactive .comment-main:hover {
  filter: none;
}
.video-information .video-information-header .review-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.video-information .video-information-header .review-header.editing {
  flex-wrap: wrap;
}
.video-information .video-information-header .review-header.editing .metadata {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
.video-information .video-information-header .review-header.editing .title {
  flex-basis: 100%;
}
.video-information .video-information-header .review-header.editing hs-decklist-upload {
  margin-bottom: 0;
}
.video-information .video-information-header .review-header.editing hs-decklist-upload .deck-list {
  display: flex;
  align-items: center;
}
.video-information .video-information-header .review-header.editing .review-visibility {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
}
.video-information .video-information-header .review-header.editing .review-visibility .btn-select {
  margin-left: 0;
}
.no-more-review-description-text {
  display: block;
  padding: 20px;
}
upload-replay-review .metadata {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid grey;
  margin-bottom: 20px;
  padding: 10px;
}
upload-replay-review .metadata hs-decklist-upload {
  margin-bottom: 0;
  display: flex;
}
upload-replay-review .metadata hs-decklist-upload .deck-list {
  display: flex;
  align-items: center;
}
upload-replay-review .review-visibility {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}
upload-replay-review .review-visibility .btn-select {
  margin-left: 0;
}
upload-replay-review .no-more-review-description-text {
  padding-top: 0;
}
