body {
	display: flex;
	flex-direction: column;
}

.main-panel-nolanding {
	margin-top: 80px;
    min-height: 75%;
}

.center-column {
	top: 0;
	display: flex;
    justify-content: center;

	& > div {
		float: none;
    	flex-grow: 1;
	}
}

.main-panel-landing .center-column {
	display: block;
}