body {
	display: flex;
	flex-direction: column;
}

.main-panel-nolanding {
	margin-top: 10px;
}

.main-container-nolanding {
    flex-basis: 75%;
}

.center-column {
	top: 0;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;

	& > div {
		float: none;
    	flex-grow: 1;
	}
}

.main-container-landing {

	.center-column {
		display: block;
	}
}