.help-others .participants-search {
	display: inline-block;
	vertical-align: middle;
}

.help-others .search-section {
	margin-bottom: 50px;
}

.help-others .search-section tags-input {
	height: 65px;
}

.help-others .wanted-tags {
	min-width: 200px;
}

.help-others .experimental-warning {
    text-align: center;
    padding-top: 20px;
    max-width: 800px;
    margin: auto;
}