<div class="activity {{::activity.data.type}}">
	<span class="icon {{::activity.data.reason}}">
		<span class="change-amount" ng-if="::activity.data.amount > 0">{{::activity.data.amount}}</span>
	</span>
	<span ng-switch="::activity.data.type">
		<!-- New review -->
		<span ng-switch-when="new-review" class="text" ng-if="::activity.data.reviewTitle">{{::translations.newReview}}</span>
		<span ng-switch-when="new-review" class="text" ng-if="::!activity.data.reviewTitle">{{::translations.newUntitledReview}}</span>

		<!-- New comment -->
		<span ng-switch-when="new-comment" class="text" ng-if="::activity.data.reviewTitle">{{::translations.newComment}}</span>
		<span ng-switch-when="new-comment" class="text" ng-if="::!activity.data.reviewTitle">{{::translations.newCommentOnUntitledReview}}</span>

		<!-- Upvotes -->
		<span ng-switch-when="reputation-change" class="text" ng-if="::activity.data.reason == 'upvote'">{{::translations.upvote}}</span>
		<span ng-switch-when="reputation-change" class="text" ng-if="::activity.data.reason == 'helpful'">{{::translations.helpful}}</span>
	</span>
	<span class="date" title="{{::formatExactDate(activity.creationDate)}}">{{::formatDate(activity.creationDate)}}</span>
</div>