<ul class="message-listing compact">
	
	<li ng-repeat="(reviewId, message) in :changeMenu:compact" class="message {{:changeMenu:message.data.textKey}}" ng-class=":readMessage:{ 'unread': !message.readDate && message.data.textKey != 'aggregatedReview' }">
		<div>
			<span class="notification-type">{{::translations[message.data.textKey]}}</span>
			<a class="notification-title" href="{{::message.targetUrl}}" target="_blank" ng-if="::message.title">{{::message.title}}</a>
			<a ng-click="markAllRead(message)" class="mark-read-button" ng-if="::message.comments.length > 0">{{::translations.markAllReadButton}}</a>
		</div>
		<div class="message-body" ng-click="markRead(message, $event)" ng-if="::message.data.textKey != 'suggestedSubscription'">
			<div ng-if="::message.data.textKey != 'aggregatedReview'">
				<span class="message-from-label">{{::translations.from}}</span>
				<span class="message-from">{{message.from}}</span>
				<span class="message-sent-date" title="{{::formatExactDate(message.creationDate)}}">{{::translations.sent}} {{::formatDate(message.creationDate)}}</span>
				<div class="message-body-text" ng-if="::message.markedText" ng-bind-html="::message.markedText"></div>
			</div>
			<ul ng-if="::message.comments.length > 0" class="review-comments">
				<li ng-repeat="comment in ::message.comments" ng-class=":readMessage:{ 'unread': !comment.readDate }">
					<div class="message-body" ng-click="markRead(comment, $event)">
						<div>
							<span class="message-from-label">{{::translations.from}}</span>
							<span class="message-from">{{comment.from}}</span>
							<span class="message-sent-date" title="{{::formatExactDate(comment.creationDate)}}">{{::translations.sent}} {{::formatDate(comment.creationDate)}}</span>
							<div class="message-body-text" ng-if="::comment.markedText" ng-bind-html="::comment.markedText"></div>
						</div>
						<div class="action-footer">
							<a ng-click="markUnread(comment, $event)" ng-if=":readMessage:comment.readDate">{{::translations.markUnreadButton}}</a>
							<a ng-click="markRead(comment, $event)" ng-if=":readMessage:!comment.readDate">{{::translations.markReadButton}}</a>
						</div>
					</div>
				</li>
			</ul>
			<p class="upvote-reminder" ng-if="::message.comments.length > 0">{{::translations.upvoteReminder}}</p>
			<div class="action-footer" ng-if="::message.data.textKey != 'aggregatedReview'">
				<a ng-click="markUnread(message, $event)" ng-if=":readMessage:message.readDate">{{::translations.markUnreadButton}}</a>
				<a ng-click="markRead(message, $event)" ng-if=":readMessage:!message.readDate">{{::translations.markReadButton}}</a>
			</div>
		</div>

		<div class="message-body" ng-click="markRead(message, $event)" ng-if="message.data.textKey == 'suggestedSubscription'">
			<span class="message-body-text" ng-bind-html="::translations.suggestionText(message.data.topic)"></span>
			<div class="button-group" ng-if=":suggestion:!hasMessage(message)">
				<a class="btn btn-default" ng-click="subscribeToSearch(message); markRead(message, $event)">{{::translations.subscribeToSearch(message.data.topic) }}</a>
				<a class="btn btn-default" ng-click="stopReceivingSuggestionsForTopic(message); markRead(message, $event)">{{::translations.stopForTopic(message.data.topic) }}</a>
				<a class="btn btn-default" ng-click="stopReceivingSuggestions(); markRead(message, $event)">{{::translations.stopSuggestions}}</a>
			</div>
			<div class="message-group alert alert-warning" ng-if=":suggestion:hasMessage(message)">
				<span ng-if=":suggestion:message.subscribedToSearch" ng-bind-html="::translations.subscribedToSearch(message.data.topic)"></span>
				<span ng-if=":suggestion:message.stoppedReceivingSuggestionsForTopic" ng-bind-html="::translations.stoppedReceivingSuggestionsForTopic(message.data.topic)"></span>
				<span ng-if=":suggestion:message.stoppedReceivingSuggestions" ng-bind-html="::translations.stoppedReceivingSuggestions"></span>
			</div>
		</div>
 
	</li>
	<span ng-if="::source.length == 0">{{::translations.empty}}</span>
</ul>
