<div class="preferences">
	<div class="alert alert-warning status-message" ng-show="updateStatus == 'ok'">
		<button type="button" class="close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
		<span translate="global.profile.preferences.preferencesUpdated"></span>
	</div>
	<form>
		<div class="form-group">
			<label for="siteNotificationsCheckbox" translate="global.profile.preferences.siteNotifications"></label> 
			<input type="checkbox" id="siteNotificationsCheckbox" ng-model="preferences.siteNotifications">
		</div>
		<div class="form-group">
			<label for="emailNotificationsCheckbox" translate="global.profile.preferences.emailNotifications"></label> 
			<input type="checkbox" id="emailNotificationsCheckbox" ng-model="preferences.emailNotifications"> 
		</div>
		<div class="form-group">
			<label for="emailContactCheckbox" translate="global.profile.preferences.emailContact"></label> 
			<input type="checkbox" id="emailContactCheckbox" ng-model="preferences.emailContact"> 
		</div>
		<div class="form-group language-group">
			<label for="language" translate="global.profile.preferences.language"></label> 
			<button type="button" class="btn btn-default" data-trigger="click" ng-model="preferences.language" data-html="1" bs-options="option.value as option.label for option in languages" placeholder="{{ 'global.profile.preferences.language' | translate }}" bs-select ng-required="true">
			  	<span>Action</span>
			</button>
		</div>
		<div>
			<button type="submit" class="btn btn-default" ng-click="updatePreferences()"><span translate="global.profile.preferences.save"></span></button>
		</div>

	</form>
</div>