<div class="preferences">
	<div class="alert alert-warning status-message" ng-show="updateStatus == 'ok'">
		<button type="button" class="close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
		<span translate="global.profile.preferences.preferencesUpdated"></span>
	</div>
	<div class="alert alert-warning status-message" ng-show="updateStatus == 'forbidden'">
		<span translate="global.profile.messages.restrictedAccess"></span>
	</div>

	<form ng-show="isOwnProfile()">
		<div class="form-group">
			<label for="siteNotificationsCheckbox">{{::translations.siteNotifications}}</label> 
			<input type="checkbox" id="siteNotificationsCheckbox" ng-model="preferences.siteNotifications">
		</div>
		<div class="form-group">
			<label for="emailNotificationsType">{{::translations.emailNotifications}}</label> 
			<button type="button" class="btn btn-default email-notification-type" id="emailNotificationsType" data-trigger="click" ng-model="preferences.emailNotificationsType" bs-options="option.value as option.label for option in emailNotificationsType" placeholder="{{preferences.emailNotificationsType || emailNotificationsType[0].label}}" bs-select>
			  	<span>Action</span>
			</button>

			<div class="form-group included indented">
				<label for="emailRecapFrequency" ng-class="{'disabled': preferences.emailNotificationsType != 'gamerecap' && preferences.emailNotificationsType != 'globalrecap'}">{{::translations.emailRecapFrequency}}</label> 
				<button type="button" class="btn btn-default" id="emailRecapFrequency" data-trigger="click" ng-model="preferences.emailRecapFrequency" bs-options="n for n in [] | range:6:24:2" placeholder="{{preferences.emailRecapFrequency || 24}}" bs-select ng-disabled="preferences.emailNotificationsType != 'gamerecap' && preferences.emailNotificationsType != 'globalrecap'" ng-class="{'disabled': preferences.emailNotificationsType != 'gamerecap' && preferences.emailNotificationsType != 'globalrecap'}">
				  	<span>Action</span>
				</button>
			</div>
		</div>
		<div class="form-group" title="{{::translations.neverAskAboutSavedSearchTitle}}">
			<label for="neverAskAboutSavedSearch">{{::translations.neverAskAboutSavedSearch}}</label> 
			<input type="checkbox" id="neverAskAboutSavedSearch" ng-model="preferences.neverAskAboutSavedSearch"> 
		</div>
		<div class="form-group subscriptions-blacklist-container" ng-if=":tagsUpdate:preferences.dontAskAgainForTheseTags && preferences.dontAskAgainForTheseTags.length > 0">
			<label for="dontAskAgainForTheseTags">{{::translations.dontAskAgainForTheseTags}}</label> 
			<ul class="subscriptions-blacklist">
				<li ng-repeat="tag in :tagsUpdate:preferences.dontAskAgainForTheseTags">
					<span class="sub-name">{{::tag}}</span>
					<button class="delete" title="{{::translations.deleteBlacklistTag}}" ng-click="removeTagFromBlacklist(tag)"></button>
				</li>
			</ul>
		</div>
		<div class="form-group">
			<label for="emailContactCheckbox">{{::translations.emailContact}}</label> 
			<input type="checkbox" id="emailContactCheckbox" ng-model="preferences.emailContact"> 
		</div>

		<div>
			<button type="submit" class="btn btn-default" ng-click="updatePreferences()"><span>{{::translations.save}}</span></button>
		</div>

	</form>
</div>
