<div class="preferences">
	<div class="alert alert-warning status-message" ng-show="updateStatus == 'ok'">
		<button type="button" class="close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
		<span translate="global.profile.preferences.preferencesUpdated"></span>
	</div>
	<div class="alert alert-warning status-message" ng-show="updateStatus == 'forbidden'">
		<span translate="global.profile.messages.restrictedAccess"></span>
	</div>

	<form ng-show="isOwnProfile()">
		<div class="form-group">
			<label for="siteNotificationsCheckbox">{{::translations.siteNotifications}}</label> 
			<input type="checkbox" id="siteNotificationsCheckbox" ng-model="preferences.siteNotifications">
		</div>
		<div class="form-group">
			<label for="emailNotificationsType">{{::translations.emailNotifications}}</label> 
			<button type="button" class="btn btn-default email-notification-type" id="emailNotificationsType" data-trigger="click" ng-model="preferences.emailNotificationsType" bs-options="option.value as option.label for option in emailNotificationsType" placeholder="{{preferences.emailNotificationsType || emailNotificationsType[0].label}}" bs-select>
			  	<span>Action</span>
			</button>

			<div class="form-group included indented">
				<label for="emailRecapFrequency" ng-class="{'disabled': preferences.emailNotificationsType != 'gamerecap' && preferences.emailNotificationsType != 'globalrecap'}">{{::translations.emailRecapFrequency}}</label> 
				<button type="button" class="btn btn-default" id="emailRecapFrequency" data-trigger="click" ng-model="preferences.emailRecapFrequency" bs-options="n for n in [] | range:6:24:2" placeholder="{{preferences.emailRecapFrequency || 24}}" bs-select ng-disabled="preferences.emailNotificationsType != 'gamerecap' && preferences.emailNotificationsType != 'globalrecap'" ng-class="{'disabled': preferences.emailNotificationsType != 'gamerecap' && preferences.emailNotificationsType != 'globalrecap'}">
				  	<span>Action</span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label for="emailContactCheckbox">{{::translations.emailContact}}</label> 
			<input type="checkbox" id="emailContactCheckbox" ng-model="preferences.emailContact"> 
		</div>
		<div class="form-group language-group">
			<label for="language">{{::translations.language}}</label> 
			<button type="button" class="btn btn-default" data-trigger="click" ng-model="preferences.language" data-html="1" bs-options="option.value as option.label for option in languages" placeholder="{{::translations.language}}" bs-select ng-required="true">
			  	<span>Action</span>
			</button>
		</div>
		<div>
			<button type="submit" class="btn btn-default" ng-click="updatePreferences()"><span>{{::translations.save}}</span></button>
		</div>

	</form>
</div>