<div class="subscriptions">
	<div class="alert alert-warning status-message" ng-show="updateStatus == 'ok'">
		<button type="button" class="close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
		<span translate="global.profile.subscriptions.subscriptionDeleted"></span>
	</div>
	<ul>
		<li ng-repeat="sub in subscriptions | filter:hideDeletedSubsFilter" title="{{sub.title}}">
			<span class="sub-name">{{sub.name}} {{sub.deleted}}</span>
			<button class="delete" title="{{ 'global.profile.subscriptions.deleteTitle' | translate }}" ng-click="deleteSubscription(sub)"></button>
		</li>
	</ul>
	<span class="no-subscription" translate="global.profile.subscriptions.empty" ng-show="!subscriptions || subscriptions.length == 0"></span>
</div>