<view-title>{{::sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} coaches</view-title>

<div class="background-white listing-view modal-pro">
	<table class="table coaches-table">
		<thead>
			<tr>
				<th>{{::translations.name}}</th>
				<th>{{::translations.reputation}}</th>
				<th>{{::translations.level}}</th>
				<th>{{::translations.languages}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="coach in ::coaches">
				<td class="vert-align text-nowrap">
					<a class="wide-span" ng-click="$hide()" href="{{::'/u/' + coach.username + '/' + sport + '/coach'}}">{{::coach.name}}</a>
					<span class="glyphicon glyphicon-info-sign" data-placement="right" bs-tooltip="tooltip" data-template="templates/coachDescription.html" ng-hide="!coach.description"></span><span class="glyphicon glyphicon-ok" bs-tooltip="tooltip" title="{{::translations.verifiedInfo}}"></span>
				</td>
				<td class="vert-align">
					<span bs-tooltip data-title="{{::translations.reputationExplanation}}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation">{{::coach.reputation}}
						<span><img class="reputation-icon" src="{{::config.images.reputation }}"></img></span>
					</span>
				</td>
				<td class="vert-align"><span ng-bind-html="::coach.level"></span></td>
				<td class="vert-align">
					<span ng-repeat="language in ::coach.languagesSpoken" class="lang-sm language" lang="{{::language}}"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>