<div class="home-page">
	<p><span class="comingSoon">COMING SOON: </span>Video reviews to help you grow, together with your online peers</p>
</div>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="//zerotoheroes.us10.list-manage.com/subscribe/post?u=97a00cb6ce6b2e5486876f29c&amp;id=074f9f6027" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate notifyMeForm" target="_blank" novalidate>
		<div class="input-group" id="mc_embed_signup_scroll">
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
		  	<input type="email" name="EMAIL" class="form-control email" placeholder="Email address" id="mce-EMAIL">
		  	<div style="position: absolute; left: -5000px;"><input type="text" name="b_97a00cb6ce6b2e5486876f29c_074f9f6027" tabindex="-1" value=""></div>
		  	<span class="input-group-btn">
		    	<input type="submit" class="btn btn-primary addButton" id="mc-embedded-subscribe" value="Tell me when I can use it"/>
		  	</span>
		</div>
	</form>
</div>
<!--End mc_embed_signup-->

<a href="" class="followUs">Follow us on Twitter</a>