<div class="homePageContainer">
	<div class="headline">
		<h1><span class="comingSoon block">COMING SOON: </span>A video review platform to share your passion and improve your skills</h1>
		<h3>Record yourself playing. Get the feedback you need. Progress and help others</h3>
	</div>

	<!-- Begin MailChimp Signup Form -->
	<div class="thankYouMsg" ng-show="thankyou"><p>Thank you for subscribing! We'll send you an email to use the platform as soon as a first version is usable</p></div>
	<div id="mc_embed_signup" ng-hide="thankyou">
		<form action="//zerotoheroes.us10.list-manage.com/subscribe/post?u=97a00cb6ce6b2e5486876f29c&amp;id=074f9f6027" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup-form" novalidate>
			<div id="mc_embed_signup_scroll">
				<div id="mce-responses" >
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
			  	<div style="position: absolute; left: -5000px;">
			  		<input type="text" name="b_97a00cb6ce6b2e5486876f29c_074f9f6027" tabindex="-1" value="">
			  	</div>
			  	<div class="input-group">
				  	<input type="email" name="EMAIL" class="form-control" placeholder="Email address" id="mce-EMAIL">
				  	<span class="input-group-btn">
			    		<input type="submit" class="btn btn-warning" ng-click="notifyGa()" id="mc-embedded-subscribe" value="Sign me up for private beta!"/>
	    			</span>
    			</div>
			</div>
		</form>
	</div>
	<!--End mc_embed_signup-->

	<div class="founders">
		<h2 class="whoarewe">Who are we?</h2>
		<div class="founder">
			<img src="/images/seb.jpg" class="thumbnail-avatar"/>
			<div class="text">
				<div class="name">Sébastien Tromp</div>
				<p>I'm a software engineer by trade, and an athlete and gamer by heart. I've been frustrated by the difficulty to get advice adapted to my style, and want to help athletes and gamers get over that hurdle. I love meeting interesting people of all kind, so feel free to email me directly at <a href="mailto:seb@zerotoheroes.com">seb@zerotoheroes.com</a> :)</p>
			</div>
		</div>
		<div class="founder">
			<img src="/images/thibaud.jpg" class="thumbnail-avatar"/>
			<div class="text">
				<div class="name">Thibaud Jobert</div>
				<p>Driven by logic and passionate about games I'm a software engineer who strongly believes that there is a bit of magic/awesomeness in everybody. Together we can be heroes! Feel free to share your thoughts with me at <a href="mailto:thibaud@zerotoheroes.com">thibaud@zerotoheroes.com</a></p>
			</div>
		</div>

	</div>
</div>