<view-title>{{::'User - ' + user}} inbox</view-title>

<div class="background-white profile-page messages">
	
	<div class="menu-bar">
		<ul>
			<li><a ng-class=":changeMenu:{ 'active': subMenu == 'all'}" ng-click="goTo('all')">{{::translations.all}}</a></li>
			<li><a ng-class=":changeMenu:{ 'active': subMenu == 'unread'}" ng-click="goTo('unread')">{{::translations.unread}}</a></li>
		</ul>

		<div class="mark-read-button">
			<a ng-click="markAllRead()" ng-if=":changeMenu:subMenu == 'unread' && messages.length > 0">{{::translations.markAllReadButton}}</a>
		</div>
	</div>


	<messages source="::messages"></messages>
</div>