
<view-title>{{::'User - ' + user}} inbox</view-title>

<div class="background-white profile-page messages">
	
	<div class="menu-bar">
		<ul>
			<li><a ng-class=":changeMenu:{ 'active': subMenu == 'all'}" ng-click="goTo('all')">{{::translations.all}}</a></li>
			<li><a ng-class=":changeMenu:{ 'active': subMenu == 'unread'}" ng-click="goTo('unread')">{{::translations.unread}}</a></li>
		</ul>

		<div class="mark-read-button" ng-if=":changeMenu:subMenu == 'unread' && messages.length > 0">
			<a ng-click="toggleCompactView()" class="switch-view" ng-if=":changeMenu:!compactView"><span>{{::translations.useCompactView}}</span></a>
			<a ng-click="toggleCompactView()" class="switch-view" ng-if=":changeMenu:compactView"><span>{{::translations.useExplodedView}}</span></a>
			<a ng-click="markAllRead()">{{::translations.markAllReadButton}}</a>
		</div>
	</div>


	<!-- The standard, exploded view -->
	<div ng-if=":changeMenu:messages && (!compactView || subMenu == 'all')">
		<messages source="::messages"></messages>
	</div>

	<!-- The new compact view - only for new notifications for now -->
	<div ng-if=":changeMenu:messages && compactView && subMenu != 'all'">
		<messages-compact source="::messages"></messages-compact>
	</div>
</div>