<view-title>Reset Password</view-title>

<div class="background-white reset-password-page profile-page">

	<form name="resetForm" class="form-horizontal">
		<div class="alert alert-info" ng-show="info" role="alert">{{info}}</div>
	  	<div class="form-group" show-errors="{ showSuccess: true }">
	    	<label for="password" class="col-sm-4 control-label">{{ 'global.forgotPassword.newPassword' | translate }}</label>
	    	<div class="col-sm-6">
	    		<input type="password" id="password" name="password" class="form-control" placeholder="{{ 'global.forgotPassword.newPassword' | translate }}" ng-model="newPassword" ng-required="true">
	    	</div>
	    </div>
	    <div class="form-group" show-errors="{ showSuccess: true }">
	    	<label for="confirmPassword" class="col-sm-4 control-label">{{ 'global.forgotPassword.confirmPwd' | translate }}</label>
	    	<div class="col-sm-6">
	    		<input type="password" name="confirmPassword" class="form-control" placeholder="{{ 'global.forgotPassword.confirmPwd' | translate }}" ng-model="confirmPassword" compare-to="newPassword" ng-required="true">
	    	</div>
	  	</div>
	  	<div class="text-right">
	  		<button type="submit" class="btn btn-primary" ng-click="resetPassword()">{{ 'global.forgotPassword.confirm' | translate }}</button>
	  	</div>
	</form>

</div>
