<view-title>{{review.title}}</view-title>

<div class="videogular-container keep-on-top multi-player" ng-show="review.key">
	<videogular vg-player-ready="onPlayerReady($API)" class="videogular" ng-class="{'videogular-fullscreen': API.isFullScreen, 'videogular-playing': (!review.editing && !canvasState.drawingCanvas)}" vg-update-time="onUpdateTime($currentTime, $duration)">
		<div class="first-player-container">
			<vg-media vg-src="sources" class="first-player" ng-class="playerControls.firstPlayerClass"></vg-media>
		</div>

		<vg-controls ng-class="{'controls-container-fullscreen': API.isFullScreen}">
			<vg-play-pause-button ng-click="playerControls.playPauseSecondPlayer()"></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss:sss' }}</vg-time-display>
			<vg-scrub-bar video-fine-time-control>
				<vg-scrub-bar-current-time help-popup help-popup-key="fineScrolling" help-popup-active="0" help-popup-position="top"></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
			<video-playback-button></video-playback-button>
			<video-loop-button ng-show="playerControls.loopStatus"></video-loop-button>
			<video-dual-mode-button ng-show="playerControls.mode == 2"></video-dual-mode-button>
			<video-canvas-overlay-button ng-show="playerControls.canvasId"></video-canvas-overlay-button>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-fullscreen-button></vg-fullscreen-button>
		</vg-controls>

		<div class="second-player-container">
			<div class="second-player">
				<videogular vg-player-ready="onSecondPlayerReady($API)" class="videogular" ng-show="playerControls.mode == 2">
					<vg-media vg-src="sources2" ng-class="playerControls.secondPlayerClass"></vg-media>
				</videogular>
			</div>
		</div>
		
		<vg-overlay-play ng-click="playerControls.playPauseSecondPlayer()" ng-show="!canvasState.drawingCanvas"></vg-overlay-play>

		<canvas id="fabricCanvas" pw-canvas></canvas>
	</videogular>

</div>

<div class="video-information">
	<div class="show-x background-white">
		<div scrollable="{{useVideo}}" help-popup help-popup-key="doubleScroll" help-popup-active="0">
			<form class="container-fluid video-details" name="videoInformationForm">
				<div class="row">
					<div class="col-md-1 reputation">
						<span class="glyphicon glyphicon-chevron-up pointer" ng-class="{'upvote': review.reputation.hasCurrentUserVoted.Upvote && User.isLoggedIn()}" ng-click="upvoteReview(review)" aria-hidden="true" title="Upvote this review (you should do this if you feel the review is valuable)"></span>
						<span class="reputation-score glyphicon">{{review.reputation.nbVotes.Upvote - review.reputation.nbVotes.Downvote}}</span>
						<span class="glyphicon glyphicon-chevron-down pointer" ng-class="{'downvote':review.reputation.hasCurrentUserVoted.Downvote && User.isLoggedIn()}" ng-click="downvoteReview(review)" aria-hidden="true" title="Downvote this review (you should do this if you feel the review is illegible, poorly formatted or doesn't bring anything to the discussion)"></span>
					</div>
					<div class="col-md-11">
						<div class="row video-information-header">
							<div class="col-md-10">
								<h1 class="video-title" ng-show="!review.editing" ng-model="review.title">{{review.title}}</h1>
								<div class="form-group" show-errors="{ showSuccess: true }" ng-show="review.editing">
							    	<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="Title of your video review" ng-required="true">
							  	</div>
							  	<div class="author-information" ng-hide="review.editing">
								  	<span class="link-minor">Submitted {{formatDate(review.creationDate)}} by {{review.author}}</span>
								  	<span bs-tooltip data-title="{{review.author}}'s total reputation on {{review.sport.value}}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation" ng-show="review.authorReputation">{{review.authorReputation}}<span><i class="ion-bookmark reputation-icon"></i></span></span>
								  	<span class="link-minor" ng-show="!review.editing && User.getName() == review.author"> - </span>
									<a ng-click="startEditingInformation()" class="link-minor" ng-show="!review.editing && User.getName() == review.author"> Edit</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="panel panel-default" ng-hide="review.editing">
									<div compilecontent content="review.markedText" class="panel-body video-description"></div>
								</div>
								<toolbar ng-show="review.editing && review.key" player-api="API" insert-model="insertModel" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId">
									<textarea class="form-control" ng-model="review.text" auto-grow toolbar-target></textarea>
								</toolbar>
								<textarea class="form-control" ng-model="review.text" ng-show="review.editing && !review.key" auto-grow></textarea>
							</div>
						</div>
						<div class="row video-tags" ng-show="allowedTags && allowedTags.length > 0 && (review.editing || (review.tags && review.tags.length > 0))" ng-class="{'top-spacing': review.editing}">
							<div class="col-xs-10 text-left">
								<tags-input ng-model="review.tags" ng-disabled="!review.editing" placeholder="{{tagsPlaceholder}}" add-from-autocomplete-only="true" spellcheck="false" ng-required="allowedTags && allowedTags.length > 0" class="form-group" replace-spaces-with-dashes="false">
									<auto-complete source="autocompleteTag($query)" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="20"></auto-complete>
								</tags-input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 text-left">
								<div ng-show="review.editing">
									<button ng-click="cancelUpdateDescription()" class="btn btn-default btn-xs">Cancel</button>
									<button ng-click="updateDescription()" class="btn btn-default btn-xs">Update</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div ng-show="selectedCoach">
				<hr/>
				<div class="alert alert-info">{{selectedCoach.name}} has been notified of your request. They will get back to you soon. Stay tuned!</div>
			</div>
			<h3 class="comments-headline">Comments</h3>
			<div class="comments-links">
				<button class="btn btn-link link-minor" ng-click="unsubscribe()" ng-show="subscribed()">Unsubscribe</button>
				<button class="btn btn-link link-minor" ng-click="subscribe()" ng-hide="subscribed()">Subscribe</button>
				<button type="button" class="btn btn-link link-minor" ng-click="showProModal()" ng-show="!!coaches.length && !review.editing">Ask a Pro</button>
			</div>
			<div class="container-fluid comment-block main-block" ng-show="!addingComment">
				<div class="row">
					<div class="col-md-10 adding-comment">
						<textarea ng-click="addingComment = true" placeholder="Add a public comment" class="form-control textarea-button " rows="1"></textarea>
					</div>
				</div>
			</div>
			<form name="commentForm" ng-show="addingComment">
				<div class="container-fluid comment-block main-block">
					<div class="row">
						<div class="col-md-2" ng-show="!User.isLoggedIn()">
							<div class="form-group" show-errors="{ showSuccess: true }">
								<input type="text" name="author" class="form-control comment-author" ng-model="newComment.author" placeholder="Your name" ng-required="!User.isLoggedIn()">
							</div>
						</div>
						<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
							<toolbar class="form-group" show-errors="{ showSuccess: true }" player-api="API" insert-model="insertModel" ng-show="review.key" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId">
								<textarea placeholder="{{'Help ' + review.author + '?'}}" name="commentText" ng-model="newComment.text" class="form-control" ng-required="true" auto-grow toolbar-target></textarea>
							</toolbar>
							<textarea placeholder="{{'Help ' + review.author + '?'}}" name="commentText" ng-model="newComment.text" class="form-control" ng-required="true" ng-hide="review.key" auto-grow toolbar-target></textarea>
							<div>
								<div class="inline-block">
									<button ng-click="addComment()" class="btn btn-default text-right">Add comment</button>
									<button ng-click="cancelComment()" class="btn btn-default text-right">Cancel</button>
								</div>
								<div class="inline-block float-right">
									<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">Show formatting help</a>
									<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">Hide formatting help</a>
								</div>
							</div>
						</div>
						<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
					</div>
				</div>
			</form>
			<comment ng-repeat="comment in review.comments" comment="comment" indentation-level="0" comment-index="$index" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" timestamp-click-action="goToTimestamp" prepare-canvas-for-upload="prepareCanvasForUpload" clear-temporary-canvas="clearTemporaryCanvas" canvas-state="canvasState"></comment>
			<!-- Prevent scrolling center area if we're already at the bottom -->
			<div id="padder"></div>
			<div id="bottom"></div>
		</div>
	</div>
</div>

<canvas-control show-canvas="showCanvas" hide-canvas="hideCanvas" player-controls="playerControls" review="review" load-canvas="loadCanvas" serialize-canvas="serializeCanvas" clear-canvas="clearCanvas" canvas-state="canvasState" clear-temporary-canvas="clearTemporaryCanvas" prepare-canvas-for-upload="prepareCanvasForUpload" toggle-canvas="toggleCanvas" cancel-canvas-edition="cancelCanvasEdition"></canvas-control> <sequence-controller sources="sources" review="review"></sequence-controller>