<view-title>{{review.title}} - {{review.tagValues}}</view-title>

<div class="video-information" ng-class="{'col-md-7': playerControls.wideMode, 'col-md-5': !playerControls.wideMode}">
	<div class="background-white contextual-information">
		<span class="close" ng-click="hideContextualInfo()">&times;</span>
		<div class="content"></div>
	</div>

	<div class="background-white">
		<div class="videogular-container multi-player" ng-show="review.key && !review.replay" >
			<videogular vg-player-ready="onPlayerReady($API)" class="videogular" ng-class="{'videogular-fullscreen': API.isFullScreen, 'videogular-playing': (!review.editing && !canvasState.drawingCanvas)}" vg-update-time="onUpdateTime($currentTime, $duration)">
				<div class="first-player-container">
					<vg-media vg-src="sources" class="first-player" ng-class="playerControls.firstPlayerClass"></vg-media>
				</div>

				<vg-controls ng-class="{'controls-container-fullscreen': API.isFullScreen, '{{playerControls.firstPlayerControlsClass}}': true}">
					<vg-play-pause-button ng-click="playerControls.playPauseSecondPlayer()"></vg-play-pause-button>
					<vg-time-display>{{ currentTime | date: config.deactivateControls && config.deactivateControls.millis ? 'mm:ss' : 'mm:ss:sss' }}</vg-time-display>
					<vg-scrub-bar video-fine-time-control>
						<vg-scrub-bar-current-time help-popup help-popup-key="fineScrolling" help-popup-active="0" help-popup-position="top"></vg-scrub-bar-current-time>
					</vg-scrub-bar>
					<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
					<video-playback-button></video-playback-button>
					<video-loop-button ng-show="playerControls.loopStatus"></video-loop-button>
					<video-dual-mode-button ng-show="playerControls.mode == 2"></video-dual-mode-button>
					<video-canvas-overlay-button ng-show="playerControls.canvasId"></video-canvas-overlay-button>
					<vg-volume>
						<vg-mute-button></vg-mute-button>
						<vg-volume-bar></vg-volume-bar>
					</vg-volume>
					<vg-fullscreen-button></vg-fullscreen-button>
					<video-wide-mode-button></video-wide-mode-button>
				</vg-controls>

				<div class="second-player-container"  ng-class="playerControls.secondPlayerContainerClass" ng-show="playerControls.mode == 2">
					<div class="second-player">
						<videogular vg-player-ready="onSecondPlayerReady($API)" class="videogular">
							<vg-media vg-src="sources2" ng-class="playerControls.secondPlayerClass"></vg-media>
						</videogular>
					</div>
				</div>

				<canvas id="fabricCanvas" pw-canvas></canvas>

				<vg-overlay-play ng-click="playerControls.playPauseSecondPlayer()" ng-show="!canvasState.drawingCanvas"></vg-overlay-play>
			</videogular>
		</div>
		
		<div ng-show="review.replay && externalPlayer" id="externalPlayer" class="external-player" ng-class="pluginNames"></div>

		<div ng-class="pluginNames">
			<form class="container-fluid video-details" name="videoInformationForm">
				<div class="row">
					<div class="col-md-1 reputation">
						<span class="glyphicon glyphicon-chevron-up pointer" ng-class="{'upvote': review.reputation.hasCurrentUserVoted.Upvote && User.isLoggedIn()}" ng-click="upvoteReview(review)" aria-hidden="true" title="{{ 'global.review.comment.upvote' | translate }}"></span>
						<span class="reputation-score glyphicon">{{review.reputation.nbVotes.Upvote - review.reputation.nbVotes.Downvote}}</span>
						<span class="glyphicon glyphicon-chevron-down pointer" ng-class="{'downvote':review.reputation.hasCurrentUserVoted.Downvote && User.isLoggedIn()}" ng-click="downvoteReview(review)" aria-hidden="true" title="{{ 'global.review.comment.downvote' | translate }}"></span>
					</div>
					<div class="col-md-11">
						<div class="row video-information-header">
							<div class="col-md-11">
								<h1 class="video-title" ng-show="!review.editing" ng-model="review.title">{{review.title}}</h1>
								<div class="row" ng-show="review.editing">
									<div class="col-md-12">
										<div class="form-group review-editing-title" show-errors="{ showSuccess: true }">
									    	<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="{{ 'global.review.comment.reviewTitle' | translate }}" ng-required="true">
									  	</div>
									  	<div class="language">
										  	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="lang-sm language" lang="{{review.language}}"></span><span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a ng-click="editLanguage('fr')"><span class="lang-sm" lang="fr"></span></a></li>
												<li><a ng-click="editLanguage('en')"><span class="lang-sm" lang="en"></span></a></li>
											</ul>
										</div>
								  	</div>
							  	</div>
							  	<div class="author-information" ng-hide="review.editing">
								  	<span class="link-minor">Submitted <span title="{{formatExactDate(review.creationDate)}}">{{formatDate(review.creationDate)}}</span> by <span author-name entity="review"></span></span>
								  	<span bs-tooltip data-title="{{review.author}}'s total reputation on {{review.sport.value}}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation" ng-show="review.authorReputation">{{review.authorReputation}}<span><i class="ion-bookmark reputation-icon"></i></span></span>
								  	<span class="link-minor" ng-show="!review.editing && canEdit(review)"> - </span>
									<a ng-click="startEditingInformation()" class="link-minor" ng-show="!review.editing && canEdit(review)"> {{ 'global.review.comment.edit' | translate }}</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="panel panel-default" ng-hide="review.editing">
									<div compilecontent content="review.markedText" class="panel-body video-description"></div>
								</div>
								<toolbar ng-show="review.editing && review.key" player-api="API" insert-model="insertModel" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" config="config" media-type="review.replay ? 'replay' : 'video'">
									<textarea class="form-control text-editing-area" ng-model="review.text" comment-plugins="plugins" auto-grow toolbar-target></textarea>
								</toolbar>
								<textarea class="form-control" ng-model="review.text" ng-show="review.editing && !review.key" comment-plugins="plugins" auto-grow></textarea>
							</div>
						</div>
						<div class="row video-tags" ng-show="review.editing || (review.tags && review.tags.length > 0)" ng-class="{'top-spacing': review.editing}">
							<div class="col-xs-11 text-left">
								<review-tags-input review-disabled="!review.editing" review="review"></review-tags-input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 text-left">
								<div ng-show="review.editing">
									<button type="button" ng-click="cancelUpdateDescription()" class="btn btn-default btn-xs"><span>{{ 'global.review.comment.cancelEdit' | translate }}</span></button>
									<button type="submit" ng-click="updateDescription()" class="btn btn-default btn-xs"><span>{{ 'global.review.comment.validateEdit' | translate }}</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="video-comment col-md-7 {{pluginNames.join(' ')}}" ng-class="playerControls.wideMode ? 'col-md-5' : 'col-md-7'">
	<div class="background-white show-x">
		<div class="background-container">
			<div scrollable="{{useVideo}}" help-popup help-popup-key="doubleScroll" help-popup-active="0">
				
				<div ng-show="selectedCoach">
					<hr/>
					<div class="alert alert-info">{{ 'global.review.comment.validateEdit' | translate:'{name: selectedCoach.name}' }}</div>
				</div>
				<h3 class="comments-headline">{{ 'global.review.comment.commentsHeadline' | translate }}</h3>
				<div class="comments-links">
					<a class="link-minor link-nodeco" ng-click="unsubscribe()" ng-show="subscribed() && User.isLoggedIn()" title="{{ 'global.review.comment.unsubscribeReviewTooltip' | translate }}">{{ 'global.review.comment.unsubscribeReview' | translate }} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
					<a class="link-minor link-nodeco" ng-click="subscribe()" ng-hide="subscribed() || !User.isLoggedIn()" title="{{ 'global.review.comment.subscribeReviewTooltip' | translate }}">{{ 'global.review.comment.subscribeReview' | translate }} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
					<a class="link-minor link-nodeco" ng-click="showProModal()" ng-show="!!coaches.length && !review.editing" title="{{ 'global.review.askProTooltip' | translate }}">{{ 'global.review.askProButton' | translate }}</a>
				</div>
				<div class="container-fluid comment-block main-block" ng-show="!addingComment">
					<div class="row">
						<div class="col-md-10 adding-comment">
							<textarea ng-click="addingComment = true" placeholder="{{ 'global.review.comment.addCommentButton' | translate }}" class="form-control textarea-button " rows="1"></textarea>
						</div>
					</div>
				</div>
				<form name="commentForm" ng-show="addingComment">
					<div class="container-fluid comment-block main-block">
						<div class="row">
							<div class="col-md-2" ng-show="!User.isLoggedIn()">
								<div class="form-group" show-errors="{ showSuccess: true }">
									<input type="text" name="author" class="form-control comment-author" ng-model="newComment.author" placeholder="{{ 'global.review.comment.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()">
								</div>
							</div>
							<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
								<toolbar class="form-group" show-errors="{ showSuccess: true }" player-api="API" insert-model="insertModel" ng-show="review.key" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" config="config" media-type="review.replay ? 'replay' : 'video'">
									<textarea placeholder="{{ 'global.review.comment.addCommentTextPlaceholder' | translate:'{name: review.author}' }}" name="commentText" ng-model="newComment.text" class="form-control text-editing-area" ng-required="true" comment-plugins="plugins" auto-grow toolbar-target></textarea>
								</toolbar>
								<textarea placeholder="{{ 'global.review.comment.addCommentTextPlaceholder' | translate:'{name: review.author}' }}" name="commentText" ng-model="newComment.text" class="form-control" ng-required="true" ng-hide="review.key" comment-plugins="plugins" auto-grow></textarea>
								<div>
									<div class="inline-block">
										<button ng-click="addComment()" class="btn btn-default text-right"><span>{{ 'global.review.comment.confirmCommentButton' | translate }}</span></button>
										<button ng-click="cancelComment()" class="btn btn-default text-right"><span>{{ 'global.review.comment.cancelCommentButton' | translate }}</span></button>
									</div>
									<div class="inline-block float-right">
										<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">{{ 'global.review.comment.showFormattingHelpButton' | translate }}</a>
										<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">{{ 'global.review.comment.hideFormattingHelpButton' | translate }}</a>
									</div>
								</div>
							</div>
							<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
						</div>
					</div>
				</form>
				<comment ng-repeat="comment in review.comments" comment="comment" indentation-level="0" comment-index="$index" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" timestamp-click-action="goToTimestamp" prepare-canvas-for-upload="prepareCanvasForUpload" clear-temporary-canvas="clearTemporaryCanvas" canvas-state="canvasState" plugins="plugins" config="config"></comment>
				<!-- Prevent scrolling center area if we're already at the bottom -->
				<div id="padder"></div>
				<div id="bottom"></div>
			</div>
		</div>
	</div>
</div>

<canvas-control show-canvas="showCanvas" hide-canvas="hideCanvas" player-controls="playerControls" review="review" load-canvas="loadCanvas" serialize-canvas="serializeCanvas" clear-canvas="clearCanvas" canvas-state="canvasState" clear-temporary-canvas="clearTemporaryCanvas" prepare-canvas-for-upload="prepareCanvasForUpload" toggle-canvas="toggleCanvas" cancel-canvas-edition="cancelCanvasEdition"></canvas-control> 
<sequence-controller sequence-sources="sources" local-review="review"></sequence-controller>