<view-title>{{review.title}} - {{review.tagValues}}</view-title>

<div class="video-information alert alert-warning restricted-access" ng-show="restrictedAccess" translate="global.review.restrictedAccess"></div>

<div class="video-information {{pluginNames.join(' ')}} {{review.mediaType}}" ng-class="{'col-md-7': mediaPlayer.playerControls.wideMode, 'col-md-5': !mediaPlayer.playerControls.wideMode}" ng-hide="restrictedAccess">
	<div class="background-white contextual-information">
		<span class="close" ng-click="hideContextualInfo()">&times;</span>
		<div class="content"></div>
	</div>

	<div class="background-white">

		<!-- The media player -->
		<media-player review="review" config="mediaPlayer" ng-class="pluginNames"></media-player>	
		
		<!-- The video information -->
		<div ng-class="pluginNames">
			<form class="container-fluid video-details" name="videoInformationForm" ng-class="{'editing': review.editing}">
				<div class="row">
					<div class="col-md-12">
						<div class="row video-information-header">
							<div class="col-md-12">
								<img class="visibility" ng-class="review.visibility" ng-show="review.visibility && review.visibility != 'public' && !review.editing" title="{{ 'global.review.visibility.' + review.visibility + 'Tooltip' | translate }}" src="{{ config.images['visibility' + review.visibility] }}" />
								<div ng-switch="sport" class="participants-container" ng-hide="review.editing">
									<hearthstone-listing-details ng-switch-when="hearthstone" review="review"></hearthstone-listing-details>
								</div>
		  						<participants-details review="review" ng-show="review.editing"></participants-details>
								<h1 class="video-title" ng-show="!review.editing" ng-model="review.title">{{review.title}}</h1>
								<div class="row" ng-show="review.editing">
									<div class="col-md-12">
										<div class="form-group review-editing-title" show-errors="{ showSuccess: true }">
									    	<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="{{ 'global.review.comment.reviewTitle' | translate }}" ng-required="true">
									  	</div>
								  	</div>
							  	</div>
							  	<div class="row" ng-show="review.editing">
									<div class="col-sm-6">
								  		<hs-decklist-upload sport="sport" review="review"></hs-decklist-upload>
								  	</div>
								  	<div class="col-sm-6">
								  		<review-visibility review="review"></review-visibility>
								  	</div>
								</div>
							  	<div class="row meta-info" ng-hide="review.editing">
								  	<div class="author-row">
									  	<div class="author-information">
										  	<span>Submitted <span title="{{formatExactDate(review.creationDate)}}">{{formatDate(review.creationDate)}}</span> by </span>
										  	<span class="comment-author" ng-hide="review.authorId">{{review.author}}</span>
											<author-name class="comment-author" entity="review" ng-show="review.authorId"></author-name>
										  	<span bs-tooltip data-title="{{review.author}}'s total reputation on {{review.sport.value}}" data-placement="bottom" data-animation="am-fade-and-scale" class="total-reputation" ng-show="review.authorReputation">{{review.authorReputation}}<img class="reputation-icon" src="{{ config.images.reputation }}"></img></span>
										  	<span ng-show="!review.editing && canEdit(review)"> - </span>
											<a ng-click="startEditingInformation()" class="link-minor" ng-show="!review.editing && canEdit(review)"> {{ 'global.review.comment.edit' | translate }}</a>
										</div>
										<div class="decklist-field" ng-show="review.plugins.hearthstone.parseDecks.reviewDeck">
											<span translate="hearthstone.review.decklist"></span>
											<span compilecontent content="review.plugins.hearthstone.parseDecks.markedReviewDeck"></span>
										</div>
									</div>
									<button class="btn btn-default ask-pro" ng-click="showProModal()" ng-show="!!coaches.length && !review.editing" title="{{ 'global.review.askProTooltip' | translate }}">{{ 'global.review.askProButton' | translate }}</button>
								</div>
								
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-default" ng-hide="review.editing">
									<div compilecontent content="review.markedText" class="panel-body video-description"></div>
								</div>
								<toolbar ng-show="review.editing && review.key" media-player="mediaPlayer" insert-model="insertModel" config="config" media-type="review.reviewType">
									<textarea class="form-control text-editing-area" ng-model="review.text" comment-plugins="plugins" auto-grow toolbar-target></textarea>
								</toolbar>
								<textarea class="form-control" ng-model="review.text" ng-show="review.editing && !review.key" comment-plugins="plugins" auto-grow></textarea>
							</div>
						</div>
						<div class="row video-tags" ng-show="review.editing || (review.tags && review.tags.length > 0)" ng-class="{'top-spacing': review.editing}">
							<div class="col-xs-12 text-left">
								<review-tags-input review-disabled="!review.editing" review="review"></review-tags-input>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 text-left">
								<div ng-show="review.editing">
									<button type="button" ng-click="cancelUpdateDescription()" class="btn btn-default btn-xs"><span>{{ 'global.review.comment.cancelEdit' | translate }}</span></button>
									<button type="submit" ng-click="updateDescription()" class="btn btn-default btn-xs"><span>{{ 'global.review.comment.validateEdit' | translate }}</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- The comments -->
<div class="video-comment col-md-7 {{pluginNames.join(' ')}} {{review.mediaType}}" ng-class="mediaPlayer.playerControls.wideMode ? 'col-md-5' : 'col-md-7'" ng-hide="restrictedAccess">
	<div class="background-white show-x">
		<div class="background-container">
			<div scrollable="{{review.key}}" help-popup help-popup-key="doubleScroll" help-popup-active="0">
				
				<div ng-show="selectedCoach">
					<div class="alert alert-info" translate="global.askPro.proNotified" translate-values="{name: '{{selectedCoach.name}}' }"></div>
				</div>
				<h3 class="comments-headline">{{ 'global.review.comment.commentsHeadline' | translate }}</h3>
				<div class="comments-links">
					<a class="link-minor link-nodeco" ng-click="unsubscribe()" ng-show="subscribed() && User.isLoggedIn()" title="{{ 'global.review.comment.unsubscribeReviewTooltip' | translate }}">{{ 'global.review.comment.unsubscribeReview' | translate }} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
					<a class="link-minor link-nodeco" ng-click="subscribe()" ng-hide="subscribed() || !User.isLoggedIn()" title="{{ 'global.review.comment.subscribeReviewTooltip' | translate }}">{{ 'global.review.comment.subscribeReview' | translate }} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
					<a class="link-minor link-nodeco" ng-click="showProModal()" ng-show="!!coaches.length && !review.editing" title="{{ 'global.review.askProTooltip' | translate }}">{{ 'global.review.askProButton' | translate }}</a>
				</div>
				<div class="container-fluid comment-block main-block" ng-show="!addingComment">
					<div class="row">
						<div class="col-md-10 adding-comment">
							<textarea ng-click="triggerNewCommentEdition()" placeholder="{{ 'global.review.comment.addCommentButton' | translate }}" class="form-control textarea-button " rows="1"></textarea>
						</div>
					</div>
				</div>

				<form name="commentForm" ng-show="addingComment">
					<div class="container-fluid comment-block main-block">
						<div class="row">
							<div class="col-md-2" ng-show="!User.isLoggedIn()">
								<div class="form-group" show-errors="{ showSuccess: true }">
									<input type="text" name="author" class="form-control comment-author" ng-model="newComment.author" placeholder="{{ 'global.review.comment.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()">
								</div>
							</div>
							<div ng-class="{'col-md-10': !User.isLoggedIn(), 'col-md-12': User.isLoggedIn()}">
								<toolbar class="form-group" show-errors="{ showSuccess: true }" media-player="mediaPlayer" insert-model="insertModel" ng-show="review.key" config="config" media-type="review.reviewType">
									<textarea id="newCommentArea" placeholder="{{ 'global.review.comment.addCommentTextPlaceholder' | translate:'{name: review.author}' }}" name="commentText" ng-model="newComment.text" class="form-control text-editing-area" ng-required="true" comment-plugins="plugins" auto-grow toolbar-target></textarea>
								</toolbar>
								<textarea placeholder="{{ 'global.review.comment.addCommentTextPlaceholder' | translate:'{name: review.author}' }}" name="commentText" ng-model="newComment.text" class="form-control" ng-required="true" ng-hide="review.key" comment-plugins="plugins" auto-grow></textarea>
								<div>
									<div class="inline-block">
										<button ng-click="addComment()" class="btn btn-default text-right"><span>{{ 'global.review.comment.confirmCommentButton' | translate }}</span></button>
										<button ng-click="cancelComment()" class="btn btn-default text-right"><span>{{ 'global.review.comment.cancelCommentButton' | translate }}</span></button>
									</div>
									<div class="inline-block float-right">
										<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">{{ 'global.review.comment.showFormattingHelpButton' | translate }}</a>
										<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">{{ 'global.review.comment.hideFormattingHelpButton' | translate }}</a>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
					</div>
				</form>

				<div ng-if="!controlFlow.reviewDisplayed">
					<div class="loading">{{ 'global.review.loadingComments' | translate }}</span></div>
				</div>
				<div ng-if="controlFlow.reviewDisplayed">
					<comment ng-repeat="comment in review.comments" comment="comment" comment-index="$index" media-player="mediaPlayer" plugins="plugins" config="config" sport="sport"></comment>
					<!-- <comment ng-repeat="comment in review.comments" comment="comment" comment-index="$index" media-player="mediaPlayer" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" canvas-state="canvasState" plugins="plugins" config="config" sport="sport"></comment> -->
				</div>

				<!-- Prevent scrolling center area if we're already at the bottom -->
				<div id="padder"></div>
				<div id="bottom"></div>
			</div>
		</div>
	</div>
</div>