<view-title>{{::sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} Search reviews</view-title>

<div class="background-white listing-view search-page">

	<!-- That whole panel will be game-specific later on, no need to externalize part of it in a direction -->
	<section class="search-section">

		<!-- This is now Constructed, Arena game, Arena draft, etc. -->
		<button type="button" class="btn btn-default btn-select btn-class-select" data-trigger="click" ng-model="options.criteria.reviewType" data-html="1" bs-options="::option.value as option.label for option in gameTypeOptions" placeholder="{{::gameTypeOptions[0].label}}" bs-select ng-required="true">
		  	<span>Action</span>
		</button>

		<!-- Choose the Hero -->
		<div class="player-details class-select">
			<button type="button" class="btn btn-default form-control" ng-class="{'btn-select': !options.criteria.participantDetails.playerCategory, 'btn-class-select': options.criteria.participantDetails.playerCategory}" ng-model="options.criteria.participantDetails.playerCategory" data-html="1" data-multiple="1" bs-options="::icon.value as icon.label for icon in classIcons" placeholder="{{::translations.allHeroes}}" data-template="templates/review/hearthstone/classIconSelectTemplate.html" data-max-length="4" bs-select ng-required="true" data-trigger="click" data-all-none-buttons="true" data-none-text="{{::translations.allHeroes}}">
			  	<span>Action</span>
			</button>
		</div>



	</section>


	<div class="alert alert-warning status-message" ng-show="updateStatus == 'ok'">
		<button type="button" class="close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
		<span translate="global.search.subscriptionOk"></span>
	</div>
	<section class="all-videos-header">
		<h2 class="all-videos-headline" id="headline">{{ 'global.search.headline' | translate }}
			<a class="link-minor link-nodeco" ng-click="showSubscriptionModal()" ng-hide="!sport || !User.isLoggedIn() || settingName" title="{{ 'global.search.subscribeTooltip' | translate }}"><small>({{ 'global.search.subscribe' | translate }} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>)</small></a>
		</h2>
	</section>
	<section class="search-section">
		<form class="panel-body form-inline">
			<!-- Need to figure out how matchups will work in other sports -->
			<div class="matchup-criteria" ng-show="sport == 'hearthstone'">
				<span class="matchup-label" translate="hearthstone.search.lookingFor"></span> 
				<button type="button" class="btn btn-default btn-select btn-class-select" data-trigger="click" ng-model="options.criteria.reviewType" data-html="1" bs-options="option.value as option.label for option in gameTypeOptions" placeholder="{{ 'hearthstone.search.gameType.all' | translate }}" bs-select ng-required="true">
				  	<span>Action</span>
				</button>
				<span translate="hearthstone.search.matchupLabel" ng-show="options.criteria.reviewType != 'arena-draft'"></span> 
				<span translate="hearthstone.search.arenaClassLabel" ng-show="options.criteria.reviewType == 'arena-draft'"></span> 
			</div>
			<div class="matchup-criteria" ng-show="sport != 'hearthstone'">
				<span class="matchup-label" translate="global.search.lookingFor"></span> 
			</div>
			<div class="comments-criteria search-block">
				<div class="form-group title-search">
					<span translate="global.search.textLabel"></span>
				    <input type="text" class="form-control" id="title" ng-model="options.criteria.title">
				</div>
			</div>
			<div class="tags-criteria">
				<div class="search-block">
					<span translate="global.search.wantedTagsLabel"></span>
					<div class="form-group wanted-tags">
						<tags-input ng-model="options.criteria.wantedTags" display-property="displayText" placeholder="{{ 'global.listing.search.wantedTags' | translate }}" add-from-autocomplete-only="true" spellcheck="false" class="form-group" replace-spaces-with-dashes="false">
							<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="100"></auto-complete>
						</tags-input>
					</div>
				</div>
				<div class="search-block">
					<span translate="global.search.unwantedTagsLabel"></span>
					<div class="form-group unwanted-tags">
						<tags-input ng-model="options.criteria.unwantedTags" display-property="displayText" placeholder="{{ 'global.listing.search.unwantedTags' | translate }}" add-from-autocomplete-only="true" spellcheck="false" class="form-group" replace-spaces-with-dashes="false">
							<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="100"></auto-complete>
						</tags-input>
					</div>
				</div>
			</div>
			<div class="comments-criteria search-block">
				<div class="form-group title-search">
					<span translate="global.search.nbComments_pre"></span>
				    <button type="button" class="btn btn-default btn-select" data-trigger="click" ng-model="options.criteria.minComments" data-html="1" bs-options="option.value as option.label for option in minCommentsOptions" placeholder="0" bs-select ng-required="true">
					  	<span>Action</span>
					</button>
					<span translate="global.search.nbComments_mid"></span>
				    <button type="button" class="btn btn-default btn-select" data-trigger="click" ng-model="options.criteria.maxComments" data-html="1" bs-options="option.value as option.label for option in maxCommentsOptions" placeholder="{{ 'global.search.nbComments.unlimited' | translate }}" bs-select ng-required="true">
					  	<span>Action</span>
					</button>
					<span translate="global.search.nbComments_post"></span>
				</div>
			</div>
			<div class="comments-criteria search-block">
				<span translate="global.search.helpfulCommentLabel"></span>
				<button type="button" class="btn btn-default btn-select btn-class-select" data-trigger="click" ng-model="options.criteria.tempHelpfulComment" data-html="1" bs-options="option.value as option.label for option in helpfulOptions" placeholder="{{ 'global.search.helpful.all' | translate }}" bs-select ng-required="true">
				  	<span>Action</span>
				</button>
			</div>
			<div class="sort-option search-block">
				<span class="sort-label" translate="global.search.sortLabel"></span>
				<button type="button" class="btn btn-default btn-select" data-trigger="click" ng-model="options.criteria.sort" data-html="1" bs-options="option.value as option.label for option in sortOptions" placeholder="{{ 'global.search.sort' | translate }}" bs-select ng-required="true">
				  	<span>Action</span>
				</button>
			</div>
			<div class="comments-criteria search-block">
				<label>
					<span translate="global.search.ownVideos"></span> <input type="checkbox" ng-model="options.criteria.ownVideos">
				</label>
			</div>
			
			<div class="search-block">
				<button type="submit" class="btn btn-default" ng-click="searchFromClick()"><span>{{ 'global.search.searchButton' | translate }}</span></button>
				<button type="submit" class="btn btn-default" ng-click="clearFilters()"><span>{{ 'global.search.clearFilterButton' | translate }}</span></button>
			</div>
		</form>
	</section>
	<video-search config="options.criteria" sport="sport"></video-search>
</div>