<view-title>{{::sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} Search reviews</view-title>

<div class="background-white listing-view search-page">

	<!-- That whole panel will be game-specific later on, no need to externalize part of it in a direction -->
	<section class="search-section">

		<!-- This is now Constructed, Arena game, Arena draft, etc. -->
		<button type="button" class="btn btn-default btn-select btn-class-select search-group" ng-model="options.criteria.gameMode" data-html="1" bs-options="::option.value as option.label for option in gameTypeOptions" placeholder="{{::gameTypeOptions[0].label}}" ng-change="clearRanks(); filterReviews()" bs-select>
		  	<span>Action</span>
		</button>

		<!-- Choose the Hero -->
		<div class="player-details class-select search-group">
			<button type="button" class="btn btn-default form-control" ng-class="{'btn-select': !options.criteria.playerCategory || options.criteria.playerCategory.length == 0, 'btn-class-select': options.criteria.playerCategory}" ng-model="options.criteria.playerCategory" data-html="1" data-multiple="1" bs-options="::icon.value as icon.label for icon in classIcons" placeholder="{{::translations.allHeroes}}" data-template="templates/review/hearthstone/classIconSelectTemplate.html" data-max-length="4" bs-select data-all-none-buttons="true" data-none-text="{{::translations.allHeroes}}" ng-change="filterReviews()">
			  	<span>Action</span>
			</button>
		</div>

		<!-- Choose the Opponent -->
		<div class="player-details class-select search-group" ng-show="options.criteria.gameMode != 'arena-draft'">
			<button type="button" class="btn btn-default btn-class form-control" ng-class="{'btn-select': !options.criteria.opponentCategory || options.criteria.opponentCategory.length == 0, 'btn-class-select': options.criteria.opponentCategory}" ng-model="options.criteria.opponentCategory" data-html="1" data-multiple="1" bs-options="::icon.value as icon.label for icon in classIcons" placeholder="{{::translations.allOpponents}}" data-template="templates/review/hearthstone/classIconSelectTemplate.html" data-max-length="4" bs-select data-all-none-buttons="true" data-none-text="{{::translations.allOpponents}}" ng-change="filterReviews()">
			  	<span>Action</span>
			</button>
		</div>

		<!-- Choose the Result (except for drafts) -->
		<button type="button" class="btn btn-default btn-select search-group" ng-model="options.criteria.result" data-html="1" bs-options="::option.value as option.label for option in resultOptions" placeholder="{{::resultOptions[0].label}}" bs-select ng-show="options.criteria.gameMode != 'arena-draft'" ng-change="filterReviews()">
		  	<span>Action</span>
		</button>

		<!-- Choose the Coin/NoCoin (except for drafts) -->
		<button type="button" class="btn btn-default btn-select search-group" ng-model="options.criteria.playCoin" data-html="1" bs-options="::option.value as option.label for option in playCoinOptions" placeholder="{{::playCoinOptions[0].label}}" bs-select ng-show="options.criteria.gameMode != 'arena-draft'" ng-change="filterReviews()">
		  	<span>Action</span>
		</button>

		<!-- Sorting option -->
		<div class="sort-option search-group">
			<button type="button" class="btn btn-default btn-select sort-button" ng-model="options.criteria.sort" data-html="1" bs-options="option.value as option.label for option in sortOptions" placeholder="{{::translations.sort}}" bs-select ng-change="updateSort()">
			  	<span>Action</span>
			</button>
		</div>

		<div class="line-break"></div>

		<!-- Skill level -->
		<div class="skill-select ranked search-group" ng-show="options.criteria.gameMode == 'ranked'">
			<button type="button" class="btn btn-default btn-select" ng-model="options.criteria.skillRangeFrom" data-html="1" bs-options="::option.value as option.label for option in getRankedSkillFromOptions()" placeholder="{{::rankOptions[0].label}}" bs-select ng-change="filterReviews()">
			  	<span>Action</span>
			</button>
			<span>{{::translations.skillRankedTo}}</span>
			<button type="button" class="btn btn-default btn-select" ng-model="options.criteria.skillRangeTo" data-html="1" bs-options="::option.value as option.label for option in getRankedSkillToOptions()" placeholder="{{::rankOptions[rankOptions.length - 1].label}}" bs-select ng-change="filterReviews()">
			  	<span>Action</span>
			</button>
		</div>
		<div class="skill-select arena search-group" ng-show="options.criteria.gameMode == 'arena-game'">
			<button type="button" class="btn btn-default btn-select" ng-model="options.criteria.skillRangeFrom" data-html="1" bs-options="::option.value as option.label for option in getArenaSkillFromOptions()" placeholder="{{::arenaOptions[0].label}}" bs-select ng-change="filterReviews()">
			  	<span>Action</span>
			</button>
			<span>{{::translations.skillRankedTo}}</span>
			<button type="button" class="btn btn-default btn-select" ng-model="options.criteria.skillRangeTo" data-html="1" bs-options="::option.value as option.label for option in getArenaSkillToOptions()" placeholder="{{::arenaOptions[arenaOptions.length - 1].label}}" bs-select ng-change="filterReviews()">
			  	<span>Action</span>
			</button>
		</div>

		<div class="line-break"></div>

		<a ng-click="toggleAdvancedOptions()" class="show-advanced-button" ng-if=":advanced:!advancedOptions">{{::translations.showAdvancedOptions}}</a>
		<a ng-click="toggleAdvancedOptions()" ng-if=":advanced:advancedOptions">{{::translations.hideAdvancedOptions}}</a>

		<div class="advanced-options" ng-if=":advanced:advancedOptions">

			<!-- Search by author -->
			<div class="author-search search-group">
			    <input type="text" class="form-control" ng-model="options.criteria.author" ng-model-options="{ debounce: 300 }" placeholder="{{::translations.authorSearchPlaceholder}}" ng-change="filterReviews()">
			</div>

			<!-- Search by comentator  -->
			<div class="contributor-search search-group">
			    <input type="text" class="form-control" ng-model="options.criteria.contributor" ng-model-options="{ debounce: 300 }" placeholder="{{::translations.contributorSearchPlaceholder}}" ng-change="filterReviews()">
			</div>

			<div class="line-break"></div>

			<!-- Full-text search -->
			<div class="title-search search-group">
			    <input type="text" class="form-control" ng-model="options.criteria.title" placeholder="{{::translations.textSearchPlaceholder}}" ng-change="notifySearchRelaunchNeeded(options.criteria.title)">
			</div>

			<!-- Tag search -->
			<div class="tag-search wanted-tags search-group">
				<tags-input ng-model="options.criteria.wantedTags" display-property="displayText" placeholder="{{::translations.wantedTags}}" add-from-autocomplete-only="true" spellcheck="false" replace-spaces-with-dashes="false" on-tag-added="filterReviews()" on-tag-removed="filterReviews()">
					<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="100"></auto-complete>
				</tags-input>
			</div>
			<div class="tag-search unwanted-tags search-group">
				<tags-input ng-model="options.criteria.unwantedTags" display-property="displayText" placeholder="{{::translations.unwantedTags}}" add-from-autocomplete-only="true" spellcheck="false" replace-spaces-with-dashes="false" on-tag-added="filterReviews()" on-tag-removed="filterReviews()">
					<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="100"></auto-complete>
				</tags-input>
			</div>

			<div class="line-break"></div>

			<!-- Comments -->
			<div class="comment-select">
				<div class="comment-group search-group">
					<button type="button" class="btn btn-default btn-select" ng-model="options.criteria.contributorsComparator" data-html="1" bs-options="::option.value as option.label for option in contributorsComparatorOptions" placeholder="{{::contributorsComparatorOptions[0].label}}" bs-select ng-change="filterReviews()">
					  	<span>Action</span>
					</button>
				</div>
				<div class="comment-group search-group option-group">
					<button type="button" class="btn btn-default btn-select digit-only" ng-model="options.criteria.contributorsValue" bs-options="n for n in [] | range:0:10" placeholder="{{options.criteria.contributorsValue || 0}}" bs-select ng-change="filterReviews()">
					  	<span>Action</span>
					</button>
					<span>{{::translations.contributors}}</span>
				</div>
				<div class="comment-group search-group option-group">
					<span class="and">{{::translations.and}}</span>
					<button type="button" class="btn btn-default btn-select digit-only" ng-model="options.criteria.helpfulCommentsValue" bs-options="n for n in [] | range:0:10" placeholder="{{options.criteria.helpfulCommentsValue || 0}}" bs-select ng-change="filterReviews()">
					  	<span>Action</span>
					</button>
					<span>{{::translations.helpfulComments}}</span>
				</div>
			</div>

			<!--<div class="line-break"></div>-->

			<!-- <span>TODO: date filters</span> -->

			<!-- TODO: deck filter -->

			<div class="line-break"></div>

			<!-- Only my own reviews -->
			<div class="search-group own-reviews">
				<label>
					<span>{{::translations.ownVideos}}</span> <input type="checkbox" ng-model="options.criteria.ownVideos" ng-change="filterReviews()">
				</label>
			</div>

		</div>

		<div class="line-break"></div>

		<div class="search-block buttons-group">
			<button type="submit" class="btn btn-default" ng-click="searchFromClick()"><span>{{::translations.searchButton}}</span></button>
			<button type="submit" class="btn btn-default" ng-click="clearFilters()"><span>{{::translations.clearFilterButton}}</span></button>
			<button class="btn btn-default" ng-click="showSubscriptionModal()" ng-hide="!sport || !User.isLoggedIn() || settingName" title="{{::translations.subscribeTooltip}}">{{::translations.subscribe}} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>

			<review-list-display-mode options="options"></review-list-display-mode> 
		</div>

	</section>


	<video-search config="::options.criteria" sport="sport"></video-search>

	<div class="alert alert-warning status-message" ng-show="searchRelaunchNeeded">
		<button type="button" class="close" ng-click="closeMessage('searchRelaunchNeeded')">&times;</button>
		<span>{{::translations.needNewSearch}}</span>
	</div>
	<div class="alert alert-warning status-message" ng-show="authorCriteriaTooShort">
		<button type="button" class="close" ng-click="closeMessage('authorCriteriaTooShort')">&times;</button>
		<span>{{::translations.authorCriteriaTooShort}}</span>
	</div>

	<ul class="video-listing {{options.displayMode}}">
		<review-list-item ng-repeat="review in :resultsRefresh:reviews | orderBy:dynamicOrder:true track by review.id" video="::review" sport="::sport" show-visibility="::showVisibility" ng-show=":resultsRefresh:!review.filteredOut"></review-list-item>
	</ul>
</div>