<form name="uploadForm" class="upload-form main-panel">

	<div zth-navigation></div>

	<div class="form-container">
		<span class="btn btn-default btn-file">
			Choose your video <input type="file" name="file" class="upload-file-button" ng-required="true" nv-file-select uploader="uploader" file></input>
		</span>

		<div class="videogular-container" ng-show="file">
			<videogular vg-player-ready="onPlayerReady($API)" vg-change-source="onSourceChanged($source)" vg-update-state="onStateUpdate($state)" class="videogular">
				<vg-media vg-src="sources"></vg-media>

				<vg-controls>
					<vg-play-pause-button></vg-play-pause-button>
					<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
					<vg-scrub-bar id="scrubBar">
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
					</vg-scrub-bar>
					<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
				</vg-controls>

				<vg-overlay-play ng-click="onOverlayClick()"></vg-overlay-play>
			</videogular>
		</div>

		<div class="editing-tools" ng-show="file">
			<div range-slider min="0" max="sliderMax" model-min="min" model-max="max" attach-handle-values="true" filter="timeFilter" getter-setter="true" ng-show="review.ending > 0"></div>
			<div class="buttons" ng-show="dataLoaded">
				<span class="durationText">Clip duration: {{clipDuration | date:'mm:ss' }}</span>
				<span class="block"><a ng-click="review.videoFramerateRatio = 2; maximumAllowedDuration = maximumAllowedDuration * review.videoFramerateRatio">Double the speed</a> of the video</span>
				<span class="block" ng-show="review.videoFramerateRatio && review.videoFramerateRatio != 1">The final video will be {{videoFramerateRatio}} times as fast (and as short) as the original, and won't have any audio. Click <a ng-click="maximumAllowedDuration = maximumAllowedDuration / review.videoFramerateRatio; review.videoFramerateRatio = 1">here</a> to go back to the original speed</span>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="(clipDuration / 1000) > maximumAllowedDuration">
				<span>To keep the reviews focused, we are enforcing a 5 minutes time limit on videos. You can either:</span>
				<ul>
					<li>Use the slider above the select up to 5 minutes of video to use</li>
					<li><a ng-click="review.videoFramerateRatio = 2; maximumAllowedDuration = maximumAllowedDuration * review.videoFramerateRatio">Double the speed</a> of the video to use up to 10 minutes of video. This is for now experimental and will only work if your video has less than 30 images per seconds (which is the case for most camera and phone videos, and the default for many video recording softwares)</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="video-information">
			<h1>Video information</h1>

			<div class="container-fluid">
				<div class="row name-input-row" ng-show="!User.getName()">
					<div class="col-sm-12">
						<div zth-name-input class="form-group nameInput"></div>
				  	</div>
			  	</div>
		  		<div class="row">
					<div class="col-sm-4">
			  			<div class="form-group" show-errors="{ showSuccess: true }">
						    <select ng-model="review.sport" name="sport" class="form-control" ng-required="true">
								<option value="">Choose your sport...</option>
								<option>Squash</option>
								<option>Badminton</option>
								<option>League of Legends</option>
								<option>Heroes of the Storm</option>
								<option>HearthStone</option>
								<option>Other</option>
							</select>
						</div>
					</div>
					<div class="col-sm-8">
			  			<div class="form-group" show-errors="{ showSuccess: true }">
					    	<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="Title of your video review" ng-required="true">
					  	</div>
				  	</div>
			  	</div>
		  		<div class="row">
					<div class="col-sm-12">
					  	<div class="form-group">
					    	<textarea class="form-control" rows="3" placeholder="Any remarks about what you want to improve" ng-model="review.description"></textarea>
					   </div>
					</div>
			  	</div>
		  		<div class="row">
					<div class="col-sm-2">
			  			<button type="submit" class="btn btn-primary btn-upload" ng-click="upload()" ng-disabled="uploadInProgress">Upload now</button>
		  			</div>
					<div class="col-sm-6">
					  	<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">Show formatting help</a>
						<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">Hide formatting help</a>
						<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="uploadInProgress">
			<div class="multipleStepProgressGroup">
				<div class="informationMessages">
					<span ng-show="uploadStarted && uploadProgress  < 100">Your video is being uploaded to our servers. Please don't close the window or you'll have to start all over again :(</span>
					<span ng-show="uploadProgress  == 100">Finalizing your video. Depending on its size, it may take up to 5 minutes. Take this time to think about how you can help others get better too :)</span>
				</div>
			    <div class="progress" style="position: relative; left: 0; top: 0">
			        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploadProgress  + '%' }" style="position: relative; top: 0; left: 0; min-width: 2em;" style="min-width: 2em;" ng-show="uploadInProgress">
			        	<div ng-show="uploadProgress  < 100">{{uploadProgress  | number : 0}}%</div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div id="bottom"></div>
</form>