<view-title>{{::sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} All videos</view-title>

<div class="background-white listing-view">

	<section class="all-videos-header" ng-if="!ownVideos">
		<h2 class="all-videos-headline">{{::translations.allVideos}}
			<a class="link-minor link-nodeco" ng-click="unsubscribe()" ng-if="subscribed() && sport && User.isLoggedIn()"><small title="{{::translations.unsubscribeTooltip}}">({{::translations.unsubscribe}}<span class="glyphicon glyphicon-info-sign">)</span></small></a>
			<a class="link-minor link-nodeco" ng-click="subscribe()" ng-if="!(subscribed() || !sport || !User.isLoggedIn())" title="{{::translations.subscribeTooltip}}"><small>({{::translations.subscribe}}<span class="glyphicon glyphicon-info-sign"></span>)</small></a>
		</h2>
	</section>

	<search-controls sport="sport" hide-advanced="true" hide-buttons="true" show-visibility="true" show-visibility-toggle="true" show-open-games-filter="true" reference-options="options"></search-controls>

</div>