<view-title>{{sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} All videos</view-title>

<div bs-active-pane="tabs.activeTab " bs-tabs class="background-white">
    <div title="All {{useVideo ? 'videos' : 'posts'}}" name="false" bs-pane>
    	<div ng-include="'/templates/videoListingTable.html'"></div>
    </div>
    <div title="My {{useVideo ? 'videos' : 'posts'}}" name="true" class="table-responsive" bs-pane>
    	<div ng-show="User.isLoggedIn()" ng-include="'/templates/videoListingTable.html'"></div>
		<div ng-hide="videos || !User.isLoggedIn()">
			<span>It looks like there are no {{useVideo ? 'videos' : 'posts'}} yet. You could start and <a href="#/upload">{{useVideo ? 'upload' : 'post'}} your own</a></span>
		</div>
    	<div ng-hide="User.isLoggedIn()" class="panel-no-border">
			<p>It looks like you are not logged in. To see your {{useVideo ? 'videos' : 'posts'}}, please <a ng-click="signIn()">sign in</a> or <a ng-click="signUp()">create a new account</a><p>
    	</div>
    </div>
</div>
