<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog sequence-modal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()">&times;</button>
				<h4 class="modal-title">{{ 'global.review.sequence.headline' | translate }}</h4>
			</div>
			<div class="modal-body">
			
				<span>{{ 'global.review.sequence.choiceHeadline' | translate }}</span>
				<label class="radio-inline">
					<input type="radio" name="sequenceSource" id="sequenceSource1" value="sameVideo" ng-model="params.comparisonSource" ng-click="toggleMode('sameVideo')">
					{{ 'global.review.sequence.sameVideoChoice' | translate }}
				</label>
				<label class="radio-inline">
					<input type="radio" name="sequenceSource" id="sequenceSource2" value="otherVideo" ng-model="params.comparisonSource" ng-click="toggleMode('otherVideo')">
					{{ 'global.review.sequence.otherVideoChoice' | translate }}
				</label>
				<label class="radio-inline">
					<input type="radio" name="sequenceSource" id="sequenceSource4" value="newVideo" ng-model="params.comparisonSource"  ng-click="toggleMode('newVideo')">
					{{ 'global.review.sequence.newVideoChoice' | translate }}
				</label>
				<label class="radio-inline">
					<input type="radio" name="sequenceSource" id="sequenceSource3" value="sequence" ng-model="params.comparisonSource"  ng-click="toggleMode('sequence')">
					{{ 'global.review.sequence.existingSequenceChoice' | translate }}
				</label>

				<videogular vg-player-ready="onSequencePlayerReady($API)" class="videogular" vg-update-time="onUpdateTime($currentTime, $duration)">
					<div class="first-player-container">
						<vg-media vg-src="sequenceSources" class="first-player" ng-class="params.firstPlayerClass"></vg-media>
					</div>

					<vg-controls ng-class="params.firstPlayerControlsClass">
						<vg-play-pause-button></vg-play-pause-button>
						<vg-time-display>{{ currentTime | date:'mm:ss:sss' }}</vg-time-display>
						<vg-scrub-bar video-fine-time-control="moveTime1(amountInMilliseconds)">
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						</vg-scrub-bar>
						<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
						<vg-volume>
							<vg-mute-button></vg-mute-button>
							<vg-volume-bar></vg-volume-bar>
						</vg-volume>
					</vg-controls>

					<div class="second-player-container" ng-class="params.secondPlayerContainerClass">
						<div class="second-player">
							<videogular vg-player-ready="onSequencePlayerReady2($API)" class="videogular" ng-hide="choosingOtherVideo">
								<vg-media vg-src="sequenceSources2" ng-class="params.secondPlayerClass">
								</vg-media>

								<vg-controls>
									<vg-play-pause-button></vg-play-pause-button>
									<vg-time-display>{{ currentTime | date:'mm:ss:sss' }}</vg-time-display>
									<vg-scrub-bar video-fine-time-control="moveTime2(amountInMilliseconds)">
										<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
									</vg-scrub-bar>
									<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
									<vg-volume>
										<vg-mute-button></vg-mute-button>
										<vg-volume-bar></vg-volume-bar>
									</vg-volume>
								</vg-controls>
							</videogular>

							<div ng-show="choosingOtherVideo" ng-include="'/templates/video/sequence/chooseOtherVideo.html'" class="embedded-form"></div> 
							<upload-directive ng-show="uploadNewVideo" callback="onUploadComplete(review)" class="embedded-form"></upload-directive>
						</div>
					</div>
				</videogular>

				<div class="row position-select">
					<div class="col-md-6 text-center">
						<!--<span>{{ 'global.review.sequence.useSideHeadline' | translate }}</span>-->
						<label class="radio-inline">
							<input type="radio" name="video1position" id="video1position1" value="l" ng-model="params.video1position">
							{{ 'global.review.sequence.useSideLeft' | translate }}
						</label>
						<label class="radio-inline">
							<input type="radio" name="video1position" id="video1position2" value="c" ng-model="params.video1position">
							{{ 'global.review.sequence.useSideCenter' | translate }}
						</label>
						<label class="radio-inline">
							<input type="radio" name="video1position" id="video1position3" value="r" ng-model="params.video1position">
							{{ 'global.review.sequence.useSideRight' | translate }}
						</label>
						<label class="radio-inline">
							<input type="radio" name="video1position" id="video1position3" value="h" ng-model="params.video1position">
							{{ 'global.review.sequence.hidden' | translate }}
						</label>
					</div>
					<div class="col-md-6 text-center">
						<!--<span>{{ 'global.review.sequence.useSideHeadline' | translate }}</span>-->
						<label class="radio-inline">
							<input type="radio" name="video2position" id="video2position1" value="l" ng-model="params.video2position" ng-disabled="params.video1position == 'h'">
							{{ 'global.review.sequence.useSideLeft' | translate }}
						</label>
						<label class="radio-inline">
							<input type="radio" name="video2position" id="video2position2" value="c" ng-model="params.video2position" ng-disabled="params.video1position == 'h'">
							{{ 'global.review.sequence.useSideCenter' | translate }}
						</label>
						<label class="radio-inline">
							<input type="radio" name="video2position" id="video2position3" value="r" ng-model="params.video2position" ng-disabled="params.video1position == 'h'">
							{{ 'global.review.sequence.useSideRight' | translate }}
						</label>
					</div>
				</div>

				<form class="form-inline sequence-form text-center" name="sequenceForm">
					<div class="form-group speed-factor" show-errors="{ showSuccess: true }">
						<label for="speedFactor">{{ 'global.review.sequence.playbackSpeed' | translate }}</label>
						<input name="speed" type="text" class="form-control text-right" id="speedFactor" ng-model="params.speed" placeholder="0.5" ng-required="params.fixedImage == false" ng-disabled="params.fixedImage == true">
					</div>
					<div class="form-group loop-duration" show-errors="{ showSuccess: true }">
						<label for="loopDuration">{{ 'global.review.sequence.loopDuration' | translate }}</label>
						<input name="loopDuration" type="text" class="form-control text-right" id="loopDuration" ng-model="params.loopDuration" placeholder="1" ng-required="params.fixedImage == false" ng-disabled="params.fixedImage == true">
						s
					</div>
					<div class="form-group fixed-image checkbox">
						<label for="fixedImage">{{ 'global.review.sequence.fixedImage' | translate }}</label>
						<input name="fixedImage" type="checkbox" class="form-control" id="fixedImage" ng-model="params.fixedImage">
					</div>
					<button type="button" class="btn btn-default test-button" ng-click="testSequence()" ng-hide="testing" ng-disabled="params.fixedImage == true"><span>{{ 'global.review.sequence.testSequence' | translate }}</span></button>
					<button type="button" class="btn btn-default test-button" ng-click="stopSequence()" ng-show="testing"><span>{{ 'global.review.sequence.stopTest' | translate }}</span></button>
				</form>
			</div>
			<div class="modal-footer">
				<form name="form.createSequenceForm" class="form-inline create-sequence-form" ng-show="params.comparisonSource == 'otherVideo' && !choosingOtherVideo">
					<p class="text-left">{{ 'global.review.sequence.addSequenceInfo' | translate }}</p>
					<div class="row text-left">
						<div class="form-group sequence-title col-md-6" show-errors="{ showSuccess: true }">
							<input name="createSequenceForm.title" type="text" class="form-control" id="sequenceTitle" ng-model="params.newSequenceTitle" placeholder="{{ 'global.review.sequence.addSequenceTitle' | translate }}" ng-required="true">
						</div>
						<div class="form-group sequence-tags col-md-6">
							<tags-input display-property="displayText" ng-model="params.newSequenceTags" placeholder="Add at least one tag" add-from-autocomplete-only="true" spellcheck="false" ng-required="allowedTags && allowedTags.length > 0" class="form-group" replace-spaces-with-dashes="false">
								<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="20"></auto-complete>
							</tags-input>
						</div>
					</div>
					<button type="submit" class="btn btn-primary" ng-click="addSequence()" ng-disabled="form.createSequenceForm.$invalid">{{params.comparisonSource == 'otherVideo' ? 'global.review.sequence.createAndAddButton' : 'global.review.sequence.addSequenceButton' | translate}}</button>
					<button type="button" class="btn btn-default" ng-click="close()"><span>Cancel</span></button>
				</form>
				<button type="submit" class="btn btn-primary" ng-click="addSequence()" ng-show="params.comparisonSource != 'otherVideo' || choosingOtherVideo">{{params.comparisonSource == 'otherVideo' ? 'global.review.sequence.createAndAddButton' : 'global.review.sequence.addSequenceButton' | translate}}</button>
				<button type="button" class="btn btn-default" ng-click="close()"ng-show="params.comparisonSource != 'otherVideo' || choosingOtherVideo"><span>{{ 'global.review.sequence.cancelButton' | translate }}</span></button>
			</div>
		</div>
	</div>
</div>