<div>
	<div class="toolbar">
		<div ng-click="insertTimestamp()" title="Insert current timestamp" class="btn btn-default"><span class="glyphicon glyphicon-time"></span></div>
		<div ng-click="insertSlow()" title="Insert playing in slow motion" class="btn btn-default"><span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause" style="margin-left: -5px"></span></div>
		<div ng-click="insertLoop()" title="Insert loop in slow motion" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></div>
		<div ng-click="insertCanvas()" title="Add shapes and drawings on the video" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span></div>
	</div>
	<div ng-transclude></div>
</div>