<div>
	<div class="toolbar">
		<div ng-hide="getConfig().timestamp || getMediaConfig().timestamp" ng-click="insertTimestamp()" title="{{ 'global.toolbar.timestamp' | translate }}" class="btn btn-default"><span class="glyphicon glyphicon-time"></span></div>
		<div ng-hide="getConfig().slow || getMediaConfig().slow" ng-click="insertSlow()" title="{{ 'global.toolbar.slow' | translate }}" class="btn btn-default"><span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause" style="margin-left: -5px"></span></div>
		<div ng-hide="getConfig().loop || getMediaConfig().loop" ng-click="insertLoop()" title="{{ 'global.toolbar.loop' | translate }}" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></div>
		<div ng-hide="config.deactivateControls.video || config.deactivateControls[mediaType].video" ng-hide="config.deactivateControls.compare" ng-click="insertOtherSequence()" title="{{ 'global.toolbar.sequence' | translate }}" class="btn btn-default" ng-hide="hideComparison"><span class="glyphicon glyphicon-facetime-video"></span></div> -->
	</div>
	<div ng-transclude></div>
</div>
