<div class="background-white video-review-upload-title">

	<h1>{{ 'global.upload.replay.review.headline' | translate }}</h1>

	<span ng-show="retryCount <= 0">An error occured. Please email the dev at seb@zerotoheroes.com</span>

	<!-- Show the overall progress of the upload -->
	<upload-progress sport="sport" type="'replay'" active="active" publish="initPublishVideo" validation="isDataValid" file-validation="isFileValid" number-of-files="uploader.videoInfo.numberOfReviews"></upload-progress>

</div>

<!-- <div id="externalPlayer" ng-hide></div> -->

<form class="background-white joustjs multi-form" name="uploadForm">
	<div class="row username" ng-hide="User.isLoggedIn()">
		<div class="col-sm-12">
			<div class="form-group" show-errors="{ showSuccess: true }">
				<div class="alert alert-danger" role="alert" ng-show="uploadForm.author.$error.nameTaken"><span>{{ 'global.upload.nameTaken' | translate }}<a ng-click="signIn()">{{ 'global.upload.nameTakenLink' | translate }}</a>{{ 'global.upload.nameTaken2' | translate }}</span></div>
				<input type="text" name="author" class="form-control" ng-model="author" placeholder="{{ 'global.upload.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()" ng-readonly="transcoding">
			</div>
	  	</div>
  	</div>

  	<div class="populate-all-reviews">
		<button class="btn btn-default" ng-click="applyToAll()" translate="global.upload.replay.multi.applyAll" title="{{ 'global.upload.replay.multi.applyAllTooltip' | translate }}"></button>
	</div>

	<ul class="multi-upload">
		<li ng-repeat="review in reviews" class="review {{review.visibility}}">
			<div class="review-container">
				<!-- {{review.id}} -->
				<div class="title-container form-group" show-errors="{ showSuccess: true }">
					<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="{{ 'global.upload.titlePlaceholder' | translate }}" ng-required="review.visibility != 'skip' ? true : false" ng-readonly="transcoding">
				</div>
				<participants-details review="review"></participants-details>
				<hs-decklist-upload sport="sport" review="review"></hs-decklist-upload>
				<review-visibility review="review" multi-upload="true"></review-visibility>
				<!-- {{review}} -->
			</div>
		</li>
	</ul>

	<div class="row publish-buttons">
		<div class="col-sm-12">
  			<button class="btn btn-primary btn-upload" ng-click="initPublishVideo()" ng-show="transcodingDone && !publishPending" ng-disabled="!isDataValid()"><span>{{ 'global.upload.video.publishReviewButton' | translate }}</span></button>
  			<button class="btn btn-primary btn-upload" ng-click="initPublishVideoWhenReady()" ng-show="(!transcodingDone && !publishPending)" ng-disabled="!isDataValid()"><span>{{ 'global.upload.video.publishReviewWhenReadyButton' | translate }}</span></button>
  			<button class="btn btn-primary btn-upload" ng-click="cancelPendingUpload()" ng-show="publishPending"><span>{{ 'global.upload.video.publishingPendingUpload' | translate }}</span></button>
			</div>
	</div>
</form>
