<div class="background-white video-review-upload-title">

	<h1>{{ 'global.upload.replay.review.headline' | translate }}</h1>

	<span ng-show="retryCount <= 0">An error occured. Please email the dev at seb@zerotoheroes.com or on <a href="https://discord.gg/uEh9gvJ" target="_blank">Discord</a></span>

	<!-- Show the overall progress of the upload -->
	<upload-progress sport="sport" type="'replay'" active="active" publish="initPublishVideo" validation="isDataValid" file-validation="isFileValid"></upload-progress>

</div>

<div class="background-white video-review-upload-video manastorm" ng-class="{'col-md-7': playerControls.wideMode, 'col-md-5': !playerControls.wideMode}">

	<!-- Show the player the replay file -->
	<div class="external-player-container">
		<div id="dummy"></div>
		<div id="externalPlayer" class="external-player" ng-class="pluginNames"></div>
	</div>

</div>


<div class="video-review-upload-comments" ng-class="playerControls.wideMode ? 'col-md-5' : 'col-md-7'">
	<div class="background-white">
		<form class="container-fluid" name="uploadForm">

			<div class="metadata">
				<participants-details review="review" hide-participants="true" media-player="externalPlayer"></participants-details>
				<hs-decklist-upload sport="sport" review="review"></hs-decklist-upload>
				<review-visibility review="review"></review-visibility>
			</div>

			<div class="row" ng-hide="User.isLoggedIn()">
				<div class="col-sm-12">
					<div class="form-group" show-errors="{ showSuccess: true }">
						<div class="alert alert-danger" role="alert" ng-show="uploadForm.author.$error.nameTaken"><span>{{ 'global.upload.nameTaken' | translate }}<a ng-click="signIn()">{{ 'global.upload.nameTakenLink' | translate }}</a>{{ 'global.upload.nameTaken2' | translate }}</span></div>
						<input type="text" name="author" class="form-control" ng-model="review.author" placeholder="{{ 'global.upload.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()" ng-readonly="transcoding" ng-change="onNameInputChange()">
					</div>
			  	</div>
		  	</div>
	  		<div class="row">
				<div class="col-sm-12">
		  			<div class="form-group" show-errors="{ showSuccess: true }">
				    	<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="{{ 'global.upload.titlePlaceholder' | translate }}" ng-required="true" ng-readonly="transcoding">
				  	</div>
			  	</div>
		  	</div>

	  		<div class="row">
				<div class="col-sm-12">
					<toolbar player-api="API" insert-model="insertModel" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" hide-comparison="true" config="config" media-type="'arena-draft'" show-errors="{ showSuccess: true }" class="form-group">
			    		<textarea name="text" class="form-control" rows="3" placeholder="{{ sport + '.upload.descriptionPlaceholder' | translate }}" ng-model="review.text" ng-readonly="transcoding" comment-plugins="plugins" auto-grow toolbar-target></textarea>
			    	</toolbar>
				</div>
		  	</div>
		  	
			<div class="row video-tags">
				<div class="col-xs-12 text-left">
					<review-tags-input review="review" exclude="skill-level"></review-tags-input>
				</div>
			</div>
	  		<div class="row">
				<div class="col-sm-12">
		  			<button class="btn btn-primary btn-upload" ng-click="initPublishVideo()" ng-show="review.transcodingDone && !publishPending" ng-disabled="!isDataValid() || !isFileValid()"><span>{{ 'global.upload.video.publishReviewButton' | translate }}</span></button>
		  			<button class="btn btn-primary btn-upload" ng-click="initPublishVideoWhenReady()" ng-show="(!review.transcodingDone && !publishPending)" ng-disabled="!isDataValid() || !isFileValid()"><span>{{ 'global.upload.video.publishReviewWhenReadyButton' | translate }}</span></button>
		  			<button class="btn btn-primary btn-upload" ng-click="cancelPendingUpload()" ng-show="publishPending"><span>{{ 'global.upload.video.publishingPendingUpload' | translate }}</span></button>
	  			</div>
			</div>
	  		<div class="row" ng-show="uploadConfirmed">
				<div class="col-sm-12">		  			
		  			<span>{{ 'global.upload.video.automatedUpload' | translate }}</span>
	  			</div>
			</div>
		</form>
	</div>
</div>