<div class="background-white video-upload upload-from-url" >

    <h1>{{ 'global.upload.fromurl.headline' | translate }}</h1>

    <span ng-show="retryCount <= 0">An error occured. Please email the dev at seb@zerotoheroes.com or on <a href="https://discord.gg/uEh9gvJ" target="_blank">Discord</a></span>

    <div ng-bind-html="'global.upload.fromurl.unsupportedProvider' | translate" ng-show="unsupportedProvider" class="error-message"></div>

    <div class="url-input">
        <input ng-model="url" placeholder="{{ 'global.upload.fromurl.urlPlaceholder' | translate }}"></input>
        <span title="{{ 'global.upload.fromurl.urlPlaceholderTooltip' | translate }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
    </div>

    <!-- Let's go! -->
    <div class="upload-button">
        <button type="submit" class="btn btn-primary btn-upload" ng-click="initUpload()" ng-disabled="!url"><span>{{ 'global.upload.uploadButton' | translate }}</span></button>
    </div>


    <div ng-show="processing">{{::translations.processing}}</div>

    <!-- error messages -->
    <div translate="global.upload.fromurl.noUrl" ng-show="!url"></div>
</div>