<div class="background-white video-upload" nv-file-drop uploader="uploader">

	<h1>{{ 'global.upload.replay.headline' | translate }}</h1>

	<!-- The controls to add a file -->
	<div class="button-container">
		<span class="btn btn-default btn-file">
			<span>{{ 'global.upload.replay.chooseFileButton' | translate }}</span> 
			<input type="file" name="file" class="upload-file-button" nv-file-select uploader="uploader" file multiple></input>
		</span>
	    <span class="btn btn-default btn-file clear-btn" ng-show="files.length > 0" ng-click="clearFiles()">
	    	{{ 'global.upload.replay.clearCurrentFile' | translate }}
	    </span>
	</div>

	<div class="well drop-zone" nv-file-over uploader="uploader">
		<span ng-hide="files.length > 0">{{ 'global.upload.replay.dropZone' | translate }}</span>
		<div class="file-list" ng-show="files.length > 0">
			<span>{{ 'global.upload.replay.multi.filesAdded' | translate: translationData }}</span>
			<ul>
				<li ng-repeat="file in files">
					<span>{{file._file.name}}</span>
					<a title="{{ 'global.upload.replay.multi.removeFileTooltip' | translate }}" ng-click="removeFile(file)">X</a>
				</li>
			</ul>
			<span>{{ 'global.upload.replay.multi.canUploadMore' | translate }}</span>
	    </div>
    </div>
    

    <!-- The error message if an invalid file format is added. We can't show it during the drag and drop, because we don't know what's the file type being dragged -->
    <div class="alert alert-danger unsupported-file-alert" role="alert" ng-show="hasUnsupportedFormatError">
		<span>{{ 'global.upload.replay.invalidFormatMessage' | translate }}</span>
	</div>
	<div class="alert alert-danger unsupported-file-alert" role="alert" ng-show="numberOfGames < files.length">
		<span ng-bind-html="'global.upload.replay.someInvalidFilesMessage' | translate"></span>
	</div>
	<div class="alert alert-danger unsupported-multi-anonymous-upload" role="alert" ng-show="numberOfGames > 1 && !User.isLoggedIn()">
		<span ng-bind-html="'global.upload.replay.disabledAnonymousMultiUpload' | translate"></span>
	</div>

	<!-- Since we have no video preview (we may have when we support upload of xml files directly), we need to at least show the file has been selected -->
	<!-- <div class="alert alert-info selected-file" role="alert" ng-show="file">
		<span translate="global.upload.replay.selectedFile" translate-value-file-name="{{file.name}}"></span>
	</div> -->


	<!-- Let's go! -->
	<div class="upload-button">
		<button type="submit" class="btn btn-primary btn-upload" ng-click="initUpload()" ng-disabled="hasUnsupportedFormatError || numberOfGames == 0 || (numberOfGames > 1 && !User.isLoggedIn())"><span>{{ 'global.upload.uploadButton' | translate }}</span></button>
	</div>

</div>