<div class="main-panel background-white upload-choice page-choices">
	<h1>{{ 'global.upload.choice.title' | translate }}</h1>
	<div class="content">
		<div ng-repeat="uploadType in options.allowedUploads" class="upload-type choice">
			<a class="btn btn-default btn-lg" href="{{ chooseType(uploadType.id) }}" ng-class="uploadType.id"><img src="{{uploadType.image}}"/></a>
			<h2 translate="{{ 'global.upload.choice.' + sport + '.' + uploadType.id}}" translate-default="{{ 'global.upload.choice.' + uploadType.id | translate}}"></h2>
			<span class="description" translate="{{ 'global.upload.choice.' + sport + '.' + uploadType.id + 'Description'}}" translate-default="{{ 'global.upload.choice.' + uploadType.id + 'Description' | translate}}"></span>
		</div>
	</div>
</div>