<div class="background-white video-review-upload-title">

	<h1>{{ 'global.upload.video.review.headline' | translate }}</h1>

	<!-- Show the overall progress of the upload -->
	<upload-progress sport="sport" type="'video'" active="active"></upload-progress>

</div>

<div class="background-white video-review-upload-video" ng-class="{'col-md-7': playerControls.wideMode, 'col-md-5': !playerControls.wideMode}">

	<!-- Show the player with the (local) video that has been selected in the previous step -->
	<div class="videogular-container">
		<videogular vg-player-ready="onPlayerReady($API)" class="videogular" ng-class="{'videogular-playing': !canvasState.drawingCanvas}" vg-change-source="onSourceChanged($source)" vg-start-time="uploader.videoInfo.beginning / 1000" vg-virtual-clip-duration="uploader.videoInfo.ending / 1000 - uploader.videoInfo.beginning / 1000" >
			<vg-media vg-src="sources"></vg-media>

			<vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date: config.deactivateControls && config.deactivateControls.millis ? 'mm:ss' : 'mm:ss:sss' }}</vg-time-display>
				<vg-scrub-bar video-fine-time-control>
                    <vg-scrub-bar-buffer></vg-scrub-bar-buffer>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
				<video-playback-button></video-playback-button>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<video-canvas-overlay-button ng-show="playerControls.canvasId"></video-canvas-overlay-button>
				<video-wide-mode-button></video-wide-mode-button>
			</vg-controls>

			<vg-overlay-play ng-click="onOverlayClick()" ng-show="!canvasState.drawingCanvas"></vg-overlay-play>

			<canvas id="fabricCanvas" pw-canvas></canvas>
		</videogular>
	</div>

</div>


<div class="video-review-upload-comments" ng-class="playerControls.wideMode ? 'col-md-5' : 'col-md-7'">
	<div class="background-white">
		<form class="container-fluid" name="uploadForm">
			<div class="row" ng-hide="User.isLoggedIn()">
				<div class="col-sm-12">
					<div class="form-group" show-errors="{ showSuccess: true }">
						<div class="alert alert-danger" role="alert" ng-show="uploadForm.author.$error.nameTaken"><span>{{ 'global.upload.nameTaken' | translate }}<a ng-click="signIn()">{{ 'global.upload.nameTakenLink' | translate }}</a>{{ 'global.upload.nameTaken2' | translate }}</span></div>
						<input type="text" name="author" class="form-control" ng-model="review.author" placeholder="{{ 'global.upload.authorNamePlaceholder' | translate }}" ng-required="!User.isLoggedIn()" ng-readonly="transcoding">
					</div>
			  	</div>
		  	</div>
	  		<div class="row">
				<div class="col-sm-11">
		  			<div class="form-group" show-errors="{ showSuccess: true }">
				    	<input type="text" name="title" class="form-control" ng-model="review.title" placeholder="{{ 'global.upload.titlePlaceholder' | translate }}" ng-required="true" ng-readonly="transcoding">
				  	</div>
			  	</div>
			  	<!-- <div class="col-sm-1">
					<a class="dropdown-toggle language" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span  class="lang-sm" lang="{{review.language}}"></span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="editLanguage('fr')"><span class="lang-sm" lang="fr"></span></a></li>
							<li><a ng-click="editLanguage('en')"><span class="lang-sm" lang="en"></span></a></li>
						</ul>
				</div> -->
		  	</div>
		  	<participants-details review="review"></participants-details>
		  	<div class="row">
				<div class="col-sm-6">
			  		<hs-decklist-upload sport="sport" review="review"></hs-decklist-upload>
			  	</div>
			  	<div class="col-sm-6">
			  		<review-visibility review="review"></review-visibility>
			  	</div>
			</div>
	  		<div class="row">
				<div class="col-sm-12">
				  	<div class="form-group">
						<toolbar player-api="API" insert-model="insertModel" drawing-canvas="canvasState.drawingCanvas" canvas-id="canvasState.canvasId" hide-comparison="true" config="config" show-errors="{ showSuccess: true }" class="form-group">
				    		<textarea name="text" class="form-control" rows="3" placeholder="{{ 'global.upload.descriptionPlaceholder' | translate }}" ng-model="review.text" ng-readonly="transcoding" comment-plugins="plugins" auto-grow toolbar-target ng-required="true"></textarea>
				    	</toolbar>
				   </div>
				</div>
				<div class="inline-block float-right show-help-buttons">
				  	<a class="link-minor" ng-click="showHelp = true" ng-show="!showHelp">{{ 'global.review.comment.showFormattingHelpButton' | translate }}</a>
					<a class="link-minor" ng-click="showHelp = false" ng-show="showHelp">{{ 'global.review.comment.hideFormattingHelpButton' | translate }}</a>
				</div>
		  	</div>
			<div ng-show="showHelp" ng-include="'/templates/formattingHelp.html'"></div>
			<div class="row video-tags">
				<div class="col-xs-12 text-left">
					<review-tags-input review="review" exclude="skill-level"></review-tags-input>
				</div>
			</div>
	  		<div class="row">
				<div class="col-sm-12">
		  			<button class="btn btn-primary btn-upload" ng-click="initPublishVideo()" ng-show="review.transcodingDone && !publishPending" ng-disabled="!isDataValid()"><span>{{ 'global.upload.video.publishReviewButton' | translate }}</span></button>
		  			<button class="btn btn-primary btn-upload" ng-click="initPublishVideoWhenReady()" ng-show="(!review.transcodingDone && !publishPending)" ng-disabled="!isDataValid()"><span>{{ 'global.upload.video.publishReviewWhenReadyButton' | translate }}</span></button>
		  			<button class="btn btn-primary btn-upload" ng-click="cancelPendingUpload()" ng-show="publishPending"><span>{{ 'global.upload.video.publishingPendingUpload' | translate }}</span></button>
	  			</div>
			</div>
	  		<div class="row" ng-show="uploadConfirmed">
				<div class="col-sm-12">		  			
		  			<span>{{ 'global.upload.video.automatedUpload' | translate }}</span>
	  			</div>
			</div>
		</form>
	</div>
</div>

<canvas-control show-canvas="showCanvas" hide-canvas="hideCanvas" player-controls="playerControls" review="review" load-canvas="loadCanvas" serialize-canvas="serializeCanvas" clear-canvas="clearCanvas" canvas-state="canvasState" clear-temporary-canvas="clearTemporaryCanvas" prepare-canvas-for-upload="prepareCanvasForUpload" toggle-canvas="toggleCanvas" cancel-canvas-edition="cancelCanvasEdition"></canvas-control>