<div class="progress-group">

	<div class="informationMessages">
		<span ng-show="uploader.videoInfo.upload.progress < 100">{{ 'global.upload.dontCloseWindowMessage' | translate }}</span>
		<span ng-show="uploader.videoInfo.upload.progress == 100">{{ 'global.upload.finalizeVideoMessage' | translate }}</span>
	</div>
    <div class="progress" style="position: relative; left: 0; top: 0">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.videoInfo.upload.progress  + '%' }" style="position: relative; top: 0; left: 0; min-width: 2em;">
        	<div>{{uploader.videoInfo.upload.progress  | number : 1}}%</div>
        </div>
    </div>

</div>