.sport-tags {
	display: flex;

	& > .read-only-tag {
		margin-right: 10px;
	}
}

.read-only-tag {
	background: #721494;
	text-align: center;
    padding: 15px 15px;
    border: none;
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}