<div class="hearthstone-participants arena-draft" ng-if="::review.metaData.playerClass" >
	<!-- The player -->
	<div class="player-details class-select">
		<i class="class-icon {{::review.metaData.playerClass}}-icon" title="{{::getClassTooltip(review.metaData.playerClass)}}"></i>
		<span class="player-name">{{::review.metaData.playerName}}</span>
  	</div>
  	<!-- The level of the game -->
  	<div class="level-details" ng-if="::!hideSkillLevel">
		<tags-input ng-model="review.metaData.skillLevel" min-tags="0" ng-disabled="true" class="sport-tags ti-input-sm" replace-spaces-with-dashes="false" template="templates/video/tagsTemplate.html"></tags-input>
  	</div>
</div>