<div class="hearthstone-participants" ng-if="::review.participantDetails.skillLevel" >
	<!-- The player -->
	<div class="player-details class-selec " ng-if="::!hideParticipants">
		<i class="class-icon {{::review.participantDetails.playerCategory}}-icon" title="{{::getClassTooltip(review.participantDetails.playerCategory)}}"></i>
		<span class="player-name">{{::review.participantDetails.playerName}}</span>
	</div>
	<!-- The separation -->
	<div class="separation" ng-if="::!hideParticipants">
		<span>vs</span>
	</div>
	<!-- The opponent -->
	<div class="opponent-details class-select" ng-if="::!hideParticipants">
		<i class="class-icon {{::review.participantDetails.opponentCategory}}-icon" title="{{::getClassTooltip(review.participantDetails.opponentCategory)}}"></i>
		<span class="opponent-name">{{::review.participantDetails.opponentName}}</span>
	</div>
	<!-- The level of the game -->
	<div class="level-details" ng-if="::!hideSkillLevel">
		<read-only-tags tags="review.participantDetails.skillLevel" class="sport-tags"></read-only-tags>
	</div>
</div>