<li class="review-list-item">
	<a href="{{buildUrl(video)}}" class="review-link">
		<h3 class="header">
			<img class="visibility" ng-class="video.visibility" ng-show="showVisibility && video.visibility && video.visibility != 'public'" title="{{ 'global.review.visibility.' + video.visibility + 'Tooltip' | translate }}" src="{{ config.images['visibility' + video.visibility] }}" />
			<tags-input ng-model="video.participantDetails.skillLevel" ng-disabled="true" class="sport-tags ti-input-sm skill-level" replace-spaces-with-dashes="false" template="templates/video/tagsTemplate.html"></tags-input>
			<div class="title-container">
				<span class="title">{{video.title}}</span>
				<small class="additional-info"><span title="{{formatExactDate(video.creationDate)}}">{{ 'global.listing.video.submitted' | translate }} {{formatDate(video.creationDate)}} {{ 'global.listing.video.by' | translate }} {{video.author}}</span></small>
			</div>
			
			<!-- For smallest display only -->
			<span class="text-center mobile-video-info-details">
				<div title="{{ 'global.listing.video.commentsTitle' | translate }}" class="icon-container stat-comment">
					<span class="stat-value">{{video.totalComments}}</span><span class="glyphicon glyphicon-comment stat-icon"></span>
				</div>
				<div title="{{ 'global.listing.video.usefulTitle' | translate }}" class="icon-container stat-helpful">
					<span class="stat-value">{{video.totalHelpfulComments}}</span><span class="glyphicon glyphicon-ok stat-icon"></span>
				</div>
			</span>
		</h3>
		<div class="body">
			<span class="text-center video-info-details">
				<div title="{{ 'global.listing.video.commentsTitle' | translate }}" class="icon-container stat-comment">
					<span class="stat-value">{{video.totalComments}}</span><span class="glyphicon glyphicon-comment stat-icon"></span>
				</div>
				<div title="{{ 'global.listing.video.usefulTitle' | translate }}" class="icon-container stat-helpful">
					<span class="stat-value">{{video.totalHelpfulComments}}</span><span class="glyphicon glyphicon-ok stat-icon"></span>
				</div>
				<div title="{{ 'global.listing.video.viewsTitle' | translate }}" class="icon-container stat-view">
					<span class="stat-value">{{video.viewCount ? video.viewCount : '0'}}</span><span class="glyphicon glyphicon-eye-open stat-icon"></span>
				</div>
			</span>
			<span class="specific-info">
				<div ng-switch="sport">
					<hearthstone-listing-details ng-switch-when="hearthstone" review="video"></hearthstone-listing-details>
				</div>
			</span>
			<span class="complementary-info">
				<tags-input ng-model="video.tags" ng-disabled="true" class="sport-tags ti-input-sm" replace-spaces-with-dashes="false" template="templates/video/tagsTemplate.html"></tags-input>
			</span>
		</div>
	</a>
</li>