.coaches-table {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.coach-description .tooltip-inner {
  	max-width: 600px;
}

.coach-description .media-object {
  border-radius: 50%;
  width: 75px;
}

.coach-description .media-body {
  text-align: left;
}

.wide-span {
	margin-right: 0.5em;
}

.tariff-description .tooltip-inner {
	text-align: left;
}

.modal-pro .language {
	margin-right: 5px;
}

.confirm-pro .recap-conditions p {
	margin-top: 20px;
}