.comment-block {
	margin-left: 20px;
}

.comment-block .comment-block {
	margin-left: 40px;
}

.main-block {
	margin-bottom: 25px;
}

.comment-main {
	margin-left: 25px;
}

.comment-header {
	margin-bottom: 5px;
	font-size: 0.8em;
}

.comment-author {
	font-weight: normal;
	margin-top: 37px;
}

.comment-author .coach:after {
	content: "coach ✓";
    font-weight: normal;
    margin-left: 5px;
    border: 1px solid grey;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.author-information  .logged-author, .author-information  .logged-author:focus, .author-information  .logged-author:active {
	/*color: #8B4513;*/
	color: #333;
	text-decoration: none;
}

.author-information  .total-reputation {
	margin-left: 0.3em;
}

.author-information  .reputation-icon {
	margin-right: 0.3em;
}

.comment-footer  {
	margin-top: -10px;
	font-size: 0.8em;
	margin-bottom: 20px;
}

.reply-form {
	margin-bottom: 15px;
	padding-left: 0;
}

.reputation {
	width: 20px;
	vertical-align: top;
	float: left;
	text-align: center;
  	position: relative;
}

.reputation span {
	display: block;
}

.reputation-score {
	padding-bottom: 4px;
}

.inline-icon {
	font-size: 75%;
	padding-left: 0.25em;
	vertical-align: top;
}

.comment-block .validated {
	font-weight: bold;
	color: #5cb85c;
}

.comment-reply-buttons {
	margin-bottom: 10px;
}





@media screen and (max-width: 1400px) {
	.comment-block .comment-block {
		margin-left: 25px;
	}
}