.comment-block {
	margin-left: 20px;
}

.main-block {
	margin-bottom: 20px;
}

.comment-main {
	margin-left: 25px;
}

.comment-header {
	margin-bottom: 5px;
	font-size: 0.8em;
}

.comment-author {
	font-weight: bold;
}

.comment-footer  {
	margin-top: -10px;
	font-size: 0.8em;
	margin-bottom: 20px;
}

.reply-form {
	margin-bottom: 15px;
	padding-left: 0;
}

.comment-author {
	margin-top: 37px;
}

.reputation {
	width: 20px;
	vertical-align: top;
	float: left;
	text-align: center;
}

.reputation span {
	display: block;
}

.reputation-score {
	padding-bottom: 4px;
}