.comment-block {
	margin-left: 20px;
}

.main-block {
	margin-bottom: 20px;
}

.comment-main {
	margin-left: 25px;
}

.comment-header {
	margin-bottom: 5px;
	font-size: 0.8em;
}

.comment-author {
	font-weight: bold;
}

.author-information  .logged-author, .author-information  .logged-author:focus, .author-information  .logged-author:active {
	/*color: #8B4513;*/
	color: #333;
	text-decoration: none;
}

.author-information  .total-reputation {
	margin-left: 0.3em;
}

.author-information  .reputation-icon {
	margin-right: 0.3em;
}

.comment-footer  {
	margin-top: -10px;
	font-size: 0.8em;
	margin-bottom: 20px;
}

.reply-form {
	margin-bottom: 15px;
	padding-left: 0;
}

.comment-author {
	margin-top: 37px;
}

.reputation {
	width: 20px;
	vertical-align: top;
	float: left;
	text-align: center;
}

.reputation span {
	display: block;
}

.reputation-score {
	padding-bottom: 4px;
}

.inline-icon {
	font-size: 75%;
	padding-left: 0.25em;
	vertical-align: top;
}

.comment-block .validated {
	color: #9B4C00;
}