header {
	background-color: #1094D1;
	font-family: 'Open Sans';
	margin-top: 0;
	margin-bottom: 3em;
	padding-bottom: 1em;
}

header h1 {
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 35px;
}

header .logo {
	width: 2em;
	margin-left: -0.5em;
	margin-top: 0.1em;
}


@media screen and (min-width: 400px) {
  	header h1 {
		font-size: 45px;
	}	
}

@media screen and (min-width: 500px) {
  	.email {
  		display: inline-block;
    	width: 250px;
  	}
}

@media screen and (min-width: 800px) {
  	header h1 {
		font-size: 65px;
	}	
}