.sequence-modal .videogular {
	overflow: hidden;
	margin-bottom: 20px;
}

.sequence-modal .videogular .controls-container {
	margin-top: 0;
}

.sequence-modal .sequence-form {
	margin-top: 35px;
}

.sequence-modal .speed-factor input {
	width: 70px;
	margin-right: 50px;
}

.sequence-modal .loop-duration input {
	width: 70px;
}

.sequence-modal .use-right-side {
	margin-right: 50px;
}

.sequence-modal .test-button {
	float: right;
}

.sequence-modal vg-controls {
	width: 50%;
}

.sequence-modal .other-video-choice {
	background-color: white;
	height: 100%;
	overflow-y: auto;
	padding-top: 20px;
	padding-left: 20px;
}

.other-video-choice .choice-title {
	margin-top: 0;
	text-align: center;
}

.sequence-modal .sequence-title input {
	width: 100%;
}

.sequence-modal .sequence-tags tags-input {
	width: 100%;
}

.create-sequence-form button {
	margin-top: 20px;
}