.welcome-page {
	width: 340px;
	float: left;
	background-color: white;
	margin: 0 40px 0 10px;
	margin-bottom: 30px;
	position: relative;
	top: 10px;
    display: none;
}

@media screen and (min-width: 1000px) {
    .welcome-page {
    	display: block;
    }
}

@media screen and (min-width: 1100px) {
    .welcome-page {
		width: 360px;
    }
}

@media screen and (min-width: 1350px) {
    .welcome-page {
		width: 380px;
    }
}

@media screen and (min-width: 1400px) {
    .welcome-page {
		width: 430px;
    }
}

@media screen and (min-width: 1420px) {
    .welcome-page {
		width: 450px;
    }
}

/*@media screen and (min-width: 1050px) {
    .welcome-page {
		width: 390px;
    }
}

@media screen and (min-width: 1100px) {
    .welcome-page {
		width: 440px;
    }
}

@media screen and (min-width: 1110px) {
    .welcome-page {
		width: 450px;
    }
}*/