.welcome-page {
	width: 450px;
	min-height: 300px;
	float: left;
	background-color: white;
	margin: 0 40px 0 10px;
	margin-bottom: 30px;
}

@media screen and (max-width: 1120px) {
    .welcome-page {
        width: 350px;
    }
}

@media screen and (max-width: 1020px) {
    .welcome-page {
        float: none;
        min-height: 0;
        width: auto;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}