/* =============
** General overrides
** =============*/
.heroesofthestorm {
	background: #08000f url(images/background.jpg) fixed 0 no-repeat !important;
	background-size: cover !important;
	font-family: Metronic,"Myriad Pro",Myriad,Arial,sans-serif;
    color: #718e97;
}

.heroesofthestorm input, .heroesofthestorm textarea, .heroesofthestorm select, .heroesofthestorm tags-input .tags {
	background: linear-gradient(to top,#0e0520,#1b1146);
}

.heroesofthestorm tags-input[disabled] .tags {
	background: transparent;
}

.heroesofthestorm .form-control {
    color: #718e97;
}


/* =============
** General functional overrides
** =============*/
.heroesofthestorm .logged-author {
    color: rgba(255,255,255,.8);
}


/* =============
** Navbar
** =============*/
.heroesofthestorm .navbar-default {
	background-color: #0C051D;
	border: 1px solid rgba(255,255,255,.07);
    border-width: 0 0 1px 0;
    color: #fff;
    text-transform: uppercase;
}

.heroesofthestorm .navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,.7);
}

.heroesofthestorm .navbar .upload-link>li>a, .heroesofthestorm .navbar .upload-link>li>a:focus, .heroesofthestorm .navbar .upload-link>li>a:hover {
	background: #f90;
	background: linear-gradient(#f90,#f60);
    text-shadow: none;    
    transition: border .25s;
}

.heroesofthestorm .navbar-default .navbar-nav > .active > a, .heroesofthestorm .navbar-default .navbar-nav > .active > a:hover, .heroesofthestorm .navbar-default .navbar-nav > .active > a:focus {
	background-color: inherit;
}

.heroesofthestorm .navbar .divider-vertical {
    border: 1px solid rgba(255,255,255,.15);
}


/* =============
** Welcome panel
** =============*/
.heroesofthestorm .welcome-page {
	background: linear-gradient(to top,#0e0520,#1b1146);
	border: none;
    color: #718e97;
}

.heroesofthestorm .welcome-page .panel-heading, .heroesofthestorm .welcome-page .panel-footer {
	background: transparent;
	border: none;
}

.heroesofthestorm .welcome-page .panel-heading {
	font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}


/* =============
** Search panel
** =============*/
.heroesofthestorm .search-section .panel {
	background-color: #8782d4;
    background: linear-gradient(#8782d4,#6ebfd4);
    padding: 4px;
    border: none;
}

.heroesofthestorm .search-section .panel:hover {
	border: 4px solid #fff;
    padding: 0;
}

.heroesofthestorm .search-section .panel.expanded, .heroesofthestorm .search-section .panel.expanded:hover {
	border: 4px solid rgba(255,255,255,.15);
    padding: 0;
    background: linear-gradient(to top,#0e0520,#1b1146);
}

.heroesofthestorm .search-section .panel-heading {
	background: linear-gradient(to top,#0e0520,#1b1146);
	border: none;
    color: #718e97;
}

.heroesofthestorm .search-section .expanded .panel-heading {
	background: transparent;
}

.heroesofthestorm .search-section a, .heroesofthestorm .search-section a:focus, .heroesofthestorm .search-section a:hover, .heroesofthestorm .search-section a:active {
	/*color: #6cf;*/
	font-weight: 400;
    text-transform: uppercase;
	text-decoration: none;
}

.heroesofthestorm .search-panel .panel-heading a:after {
	content: none;
}

.heroesofthestorm .search-panel .btn-default {
	background-color: #8332cd;
    background-image: linear-gradient(#046bb3,#8332cd);
    padding: 3px;
    text-align: center;
}

.heroesofthestorm .search-panel .btn-default a, .heroesofthestorm .search-panel .btn-default span {
    text-transform: uppercase;
    display: block;
    padding: .3em 2em;
    background-color: #021e50;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(#021e50,#300e66);
}


/* =============
** Central panel
** =============*/
.heroesofthestorm .background-white {
	background: linear-gradient(to top,#170E3B,#1b1146);
	border: none;
    color: #718e97;
}

.heroesofthestorm h2 {
	font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.heroesofthestorm .table > thead > tr > th, .heroesofthestorm .table > tbody > tr > th, .heroesofthestorm .table > tfoot > tr > th, .heroesofthestorm .table > thead > tr > td, .heroesofthestorm .table > tbody > tr > td, .heroesofthestorm .table > tfoot > tr > td {
	border: none;
}

.heroesofthestorm .video-listing a, .heroesofthestorm .video-listing a:focus, .heroesofthestorm .video-listing a:hover, .heroesofthestorm .video-listing a:active, .heroesofthestorm .video-listing a h3 {
	/*color: #6cf;*/
	font-weight: 400;
    text-transform: uppercase;
    color: #6cf;
	text-decoration: none;
}

.heroesofthestorm h1 small, .heroesofthestorm h2 small, .heroesofthestorm h3 small, .heroesofthestorm h4 small, .heroesofthestorm h5 small, .heroesofthestorm h6 small {
	color: #718e97;
}


/* =============
** Video review
** =============*/
.heroesofthestorm .video-information .video-title {
	background: transparent url(images/flare.png) center 0 no-repeat;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.heroesofthestorm .video-information .panel {
	background: transparent;
	border: none;
    color: #8eb1bc;
    line-height: 1.6;
}

.heroesofthestorm .toolbar .btn-default {
	font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: #0c3c59;
    background: linear-gradient(#19193f,#0f325b);
    border: 2px solid #0f2e63;
    display: inline-block;
    padding: .7em 2em;
    margin: .5rem 0;
    position: relative;
    border-width: 1px;
    border-bottom: 1px solid #1f62b5;
    text-shadow: 0 0 1rem #009cff;
    margin-top: .6rem;
    padding: .7rem 1rem;
    text-align: center;
    margin-left: 3px;
}