<view-title>{{sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} Help others</view-title>

<div class="background-white listing-view help-others">
	<div class="experimental-warning">
		<p>We're testing a <a href="https://github.com/Zero-to-Heroes/zerotoheroes.com/issues/34" target="_blank">new experimental algorithm</a> to rank reviews that need the most help, so please report any weird behaviour <a href="https://discord.gg/uEh9gvJ" target="_blank">on Discord</a></p>
	</div>
	<section class="all-videos-header">
		<h2 class="all-videos-headline">{{ 'global.home.helpothers.headline' | translate }}</h2>
		<span title="{{ 'global.home.helpothers.explicitCriteria' | translate }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
	</section>

	<search-controls sport="sport" hide-advanced="true" hide-buttons="true" reference-options="options" show-score="true"></search-controls>
	
</div>
