<view-title>{{sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} Help others</view-title>

<div class="background-white listing-view help-others">
	<section class="all-videos-header">
		<h2 class="all-videos-headline">{{ 'global.home.helpothers.headline' | translate }}</h2>
		<span title="{{ 'global.home.helpothers.explicitCriteria' | translate }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
	</section>
	<section class="search-section">
		<form class="panel-body form-inline">
			<participants-search sport="sport" class="participants-search" options="options"></participants-search>
			<div class="form-group wanted-tags">
				<tags-input class="wanted-tags" display-property="displayText" ng-model="options.criteria.wantedTags" placeholder="{{ 'global.home.watchlearn.wantedTags' | translate }}" add-from-autocomplete-only="true" spellcheck="false" class="form-group" replace-spaces-with-dashes="false">
					<auto-complete source="autocompleteTag($query.toLowerCase())" min-length="1" load-on-empty="true" load-on-focus="true" max-results-to-show="100"></auto-complete>
				</tags-input>
			</div>
			<button type="submit" class="btn btn-default" ng-click="searchFromClick()"><span>{{ 'global.home.watchlearn.filterButton' | translate }}</span></button>
		</form>
	</section>
	<video-search config="options.criteria" sport="sport"></video-search>
</div>