<view-title>{{sport && sportsConfig[sport].displayName ? sportsConfig[sport].displayName  + ' - ' : ''}} Watch and learn</view-title>

<div class="background-white listing-view watch-and-learn">

	<section class="all-videos-header">
		<h2 class="all-videos-headline">{{ 'global.home.watchlearn.headline' | translate }}</h2>
		<span title="{{ 'global.home.watchlearn.explicitCriteria' | translate }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
	</section>

	<search-controls sport="sport" hide-advanced="true" hide-buttons="true" reference-options="options"></search-controls>
	
</div>