commands:
  00_remove_existing_link:
    command: rm /usr/lib/jvm/jre

  01_create_jvm_link:
    command: ln -s /usr/java/jdk1.8.0_51/jre/ /usr/lib/jvm/jre

  02_set_java8:
    command: export JAVA_HOME=/usr/java/jdk1.8.0_51/jre

  03_use_java8:
    command: alternatives --set java /usr/java/jdk1.8.0_51/jre/bin/java