.homePage {
  max-width: 470px;
  margin: auto;
}

.comingSoon {
	color: #FFB700;
}

.headline {
  text-align: center;
  font-size: 28px;
}

.subheadline {
  margin-top: 15px;
  text-align: center;
}

.thankYouMsg {
  margin-top: 55px;
  text-align: center;
}

.notifyMeForm {
	margin-top: 55px;
}

.addButton, .addButton:focus, .addButton:active  {
  padding: 0;

  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.7);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.7);
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.7);

  background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#FFB700),color-stop(1,#F0A400));
  background: -moz-linear-gradient(center top,#FFB700 5%,#F0A400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB700',endColorstr='#F0A400');
  background-color: #FFB700;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #EFAF00;

  color: #9B4C00;
  text-align: center;
  text-decoration: none;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans';
  line-height: 20px;
}

.input-group-btn {
  display: inherit;
}

.followUs, .followUs:hover {
	display: block;
	width: 400px;
	color: #f0f0f0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	text-align: center;
}

.email {
	width: 300px !important;
	height: 40px !important;
}

.input-group {
	margin: auto;
}

.whoarewe {
  margin-top: 125px;
  margin-bottom: 50px;
}

.founders {
  margin-left: 40px;
  margin-top: 30px;
}

.founder {
  margin-top: 50px;
}

.thumbnailAvatar {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}

.text {
  display: inline-block;
  width: 400px;
  border-left: 1px solid #ededed;
  padding-left: 24px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.text p {
  font-size: 14px;
  text-align: justify;
}