.comingSoon {
	color: orange;
}

.headline {
  text-align: center;
  font-size: 24px;
}

.subheadline {
  margin-top: 15px;
  text-align: center;
}

.thankYouMsg {
  margin-top: 55px;
  text-align: center;
}

.notifyMeForm {
	margin-top: 55px;
}

.addButton, .addButton:focus, .addButton:active  {
  padding: 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-top-style: solid;
  border-bottom-style: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
}

.input-group-btn {
  display: inherit;
}

.addButton, .addButton:active, .addButton:focus {
	outline: none !important;
	border: 0 !important;
	color: white !important;
}

.followUs, .followUs:hover {
	display: block;
	width: 400px;
	color: #f0f0f0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	text-align: center;
}

.email {
	width: 300px !important;
	height: 40px !important;
}

.input-group {
	margin: auto;
}

.whoarewe {
  margin-top: 125px;
  margin-bottom: 50px;
}

.founders {
  margin-left: 40px;
  margin-top: 30px;
}

.founder {
  margin-top: 50px;
}

.thumbnailAvatar {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}

.text {
  display: inline-block;
  width: 400px;
  border-left: 1px solid #ededed;
  padding-left: 24px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.text p {
  font-size: 14px;
  text-align: justify;
}