.headline {
  max-width: 470px;
  margin: auto;
}

.homePageContainer h1 {
  text-align: center;
  font-size: 28px;
}

.comingSoon {
  color: #FFB700;
}

.homePageContainer h3 {
  text-align: center;
  font-size: 22px;
}

.thankYouMsg {
  margin-top: 30px;
  text-align: center;
}

.signup-form {
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
}

.signup-form .input-group {
  display: block;
}

.signup-form input[type="email"] {
  display: block;
}

.signup-form input[type="submit"] {
  width: 100%;
}

.homePageContainer h2 {
  margin-top: 30px;
  border-bottom: 1px solid #555555;
  font-size: 24px;
}

.founders {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.founder {
  margin-top: 30px;
}

.thumbnail-avatar {
  width: 25%;
  max-width: 120px;
  display: block;
  /*vertical-align: top;*/
  /*margin-right: 5%;*/
  border-radius: 50%;
  margin: auto;
}

.text {
  display: block;
  /*border-left: 1px solid #ededed;
  padding-left: 5%;*/
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.text p {
  font-size: 14px;
  text-align: justify;
}

@media screen and (min-width: 400px) {
  .signup-form .input-group {
    display: table;
  }

  .founder {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 700px) {
  .founder .thumbnail-avatar {
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
  }

  .founder .text {
    display: inline-block;
    border-left: 1px solid #ededed;
    padding-left: 5%;
    width: 70%;
  }
}