.main-container-landing {
	height: 100%;
	width: 100%;
}

.full-page, .full-page > div:first-child {
	height: 100%;
	width: 100%;
}

.full-page > div:first-child {
	height: 75%;
}

.features-intro {
	padding-top: 65px;
}

.features-intro-box i.red {
    background-color: #d9534f;
}

.features-intro-box i.green {
    background-color: #5cb85c;
}

.features-intro-box i.blue {
    background-color: #337ab7;
}

.features-intro-box i.orange {
    background-color: #f0ad4e;
}

.landing-page .section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.landing-page .title {
	line-height: 50px;
}

.landing-page .features-txt {    
	font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}

.landing-page .white-background {
	background-color: white;
}

.landing-page .parallax-overlay {
	height: 75%;
}