.listing-view {
	padding-bottom: 30px;
}

.all-videos-header {
	padding: 25px 45px 25px 45px;
	display: flex;
    align-items: center;
}

.all-videos-header h1, .all-videos-header h2 {
	margin: 0;
	margin-right: 5px;
}

.all-videos-headline {
	display: inline-block;
}

.reviewSummary {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.author, .review .user-name {
	float: right;
	width: 100px;
	margin-top: 10px;
	display: block;
	text-align: center;
}

.reviewSummary .zth-center {
	/*width: 50%;*/
	display: table-cell;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.reviewSummary .zth-right {
	width: 15%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.videoDescription {
	font-size: 14px;
}
.search-section {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.search-panel {
	display: inline-block;
	text-align: left;
}
.search-panel .panel-heading a {
	cursor: pointer;
}
.search-panel .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.search-panel .panel-heading a.collapsed:after {
    content:"\e080";
}
.search-panel .wanted-tags, .listing-view .search-panel .unwanted-tags {
	min-width: 300px;
}
.search-panel tags-input {
	width: 100%;
}

.listing-view .sort-label {
	margin-left: 45px;
}

.video-listing {
	/*max-width: 900px;*/
	margin: auto;
	margin-top: 50px;
}

.thumbnails {
	display: none;
}

.thumbnails img {
	width: 100px;
}

.info-column h3 {
	margin-top: 0;
}

.video-listing .reputation-cell {
	width: 80px;
}

.video-listing .comments {
	width: 90px;
}

.video-listing .validated {
	font-weight: bold;
	color: #5cb85c;
}

.video-listing .thumbnails {
	width: 200px;
}

.video-listing .reputation {
	width: 60px;
}

.video-listing .sport {
	display: inline-block;
	margin-top: 1px;
	vertical-align: top;
}

.video-listing .sport .label {
	height: 22px;
	line-height: 21px;
	font-size: 12px;
	border-radius: 3px;
	font-weight: normal;
}


.video-listing .video-author {
	
}

.video-info-details {
	width: 120px;
}

/*.video-info-details .icon-container {
	display: inline-block;
	width: 25px;
}*/

.video-info-details .stat-value {
	display: block;
}

.info-column .date-information {
	text-align: right;
}

.info-column .date-information span {
	display: block;
}

.video-listing .review-title a {
	display: inline-block;
}
.video-listing .review-title .language {
	margin-left: 5px;
}

.video-listing .specific-info {
    vertical-align: middle;
}

/* Don't show the name input if it appears on the navbar */
@media screen and (min-width: 600px) {
	.thumbnails {
		display: table-cell;
	}
}

@media screen and (max-width: 600px) {
	.video-listing .video-info-details {
		padding-left: 0;
		width: 70px;
		flex-direction: column;
	}

	.video-info-details .icon-container {
		width: 55px;
    	flex-direction: row;
	}

	.video-info-details .stat-value {
		display: inline-block;
		margin-right: 5px;
	    margin-top: auto;
	    margin-bottom: auto;
	}

	.video-listing .reputation {
		width: 30px;
	}

	.video-listing .review-title h3 {
		font-size: 20px;
	}

	.video-listing .reputation-cell {
		width: 40px;
	}
	
	.info-column .date-information {
		text-align: left;
	}
}

