body {
  background: url('https://lh3.googleusercontent.com/CB1q7HN0W8q09NAzbB6LRziZRzVHt1nlaC50uPkKErqOhGaN6GuIQpRnq5o0atLKXgCXPeb0nDTwqtpmhN5i=s0') 0 0 repeat;
  color: #555555;
  font-size: 20px;
}

.header {
	background-color: #1094D1;
	font-family: 'Open Sans';
}

h1 {
	display: block;
	color: white;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

.header h1 {
	padding-bottom: 20px;
}

h2 {
	font-size: 24px;
	border-bottom: 1px solid #555555;
}

p {
	margin: auto;
	color: #555555;
}

.logo {
	width: 150px;
	margin-left: -75px;
	margin-top: 10px;
}

.main {
	width: 800px;
	height: 100%;
	min-height: 800px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.content {
	max-width: 675px;
	margin: auto;
	padding-bottom: 50px;
}

.table {
	display: table;
	table-layout: fixed;
}

.table-cell {
	display: table-cell;
}

.top {
	vertical-align: top;
}

.table-row {
	display: table-row;
}