.brand {
	margin-top: -8px;
	font-size: 20px;
}

.brand span {
	position: relative;
	top: -15px;
}

.navbar .brand:before {
  content: url("/images/logo_small.png");
}

.navbar-nav .nameInput {
	padding: 10px 15px;
}

.upload {
  margin-bottom: 20px;
  width: 50%;
  display: table-cell;
}

.controls {
  display: table-cell;
  text-align: right;
}

.navigation {
	margin-bottom: 20px;
}

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border: 1px solid #e7e7e7;
}

.navbar-default .navbar-nav li.upload-link>a, .navbar-default .navbar-nav li.upload-link>a:focus, .navbar-default .navbar-nav li.upload-link>a:hover {
	color: #fff;
	background-color: #d9534f;
	/*border-radius: 4px;*/
}

.collapse-sports {
	display: none;
}

.navbar .name-group {
  float: right;
}

.navbar .profile-menu {
  display: inline-block;
}

nav .alert {
  position: absolute;
  right: 0;
}

.navbar .inside-navigation {
	margin-left: 10px;
}

.navbar .inside-navigation-button {
  height: 40px;
  width: 105px;
  position: relative;
  float: right;
  top: 5px;
  background-color: transparent;
  border: none;
  padding: 1px 8px;
}

.navbar .inside-navigation-button:after {
	content: "";
	color: #fcd144;
	position: absolute;
	top: 13px;
	right: 5px;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.navbar .inside-navigation-button:active, .navbar .inside-navigation-button:focus, .navbar .inside-navigation-button:hover {
	background: transparent;
}

.navbar #inside-navigation.in {
	padding-left: 60%;
}
.navbar #inside-navigation.in .upload-link {
	margin-left: 10px;
}
.navbar #inside-navigation.in ul {
	background-color: #920F08;
} 
.navbar #inside-navigation.in div[zth-name-input] {
	background-color: #920F08;
	margin-left: 10px;
	margin-top: 0;
	margin-right: 0;
}
.navbar #inside-navigation.in .upload-link > li > a {
	margin-top: 0;
}

.navbar .name-input {
	position: absolute;
	right: 85px;
}

.navbar .more-menu {
	display: none;
}
.navbar .more-menu > ul > li {
	display: none;
}
.navbar-nav > li, .navbar-header, .navbar-nav {
    float: left;
}
.navbar-nav  {
	margin: 0;
}
.navbar-nav .open .dropdown-menu {
     position: absolute; 
     float: left; 
     width: auto; 
     margin-top: 0; 
     background-color: white; 
     border: 1px solid rgba(0, 0, 0, .15);     
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


.more-menu .name-input {
	height: 30px;
    left: 0;
    position: relative;
}
.navbar-default .navbar-nav .more-menu ul > li > a, .navbar-default .navbar-nav .more-menu ul > li > a.user-notifications {
	font-size: inherit;
    text-shadow: inherit;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-default .navbar-nav .more-menu ul > li > a.user-notifications, .navbar-default .navbar-nav .more-menu ul > li > a.user-notifications.unread span {
    color: #333 !important;
}
.navbar .more-menu .user-notifications {
    margin-left: 0;
    margin-right: 0;
    display: block;
    float: left;
}
.navbar-default .navbar-nav .more-menu ul > li span {
	font-size: inherit;
    text-shadow: inherit;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-default .navbar-nav .more-menu ul > li > a:hover, .navbar-default .navbar-nav .more-menu ul > li > a:active, .navbar-default .navbar-nav .more-menu ul > li > a:focus {
	background: rgba(0, 0, 0, 0.1);
    color: #333;
}
