.brand {
	margin-top: -8px;
  font-size: 20px;
}

.navbar .logo {
	width: 2em;
}

.navbar-nav .nameInput {
	padding: 10px 15px;
}

.upload {
  margin-bottom: 20px;
  width: 50%;
  display: table-cell;
}

.controls {
  display: table-cell;
  text-align: right;
}

.nameInput {
  display: inline-block;
}

.navigation {
	margin-bottom: 20px;
}

.name-input {
	width: 100%;
}

.navbar .divider-vertical {
    height: 50px;
  	margin: 0 9px;
  	border: 1px solid #e7e7e7;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}