.brand {
	margin-top: -8px;
  	font-size: 20px;
}

.navbar .logo {
	width: 2em;
}

.navbar-nav .nameInput {
	padding: 10px 15px;
}

.upload {
  margin-bottom: 20px;
  width: 50%;
  display: table-cell;
}

.controls {
  display: table-cell;
  text-align: right;
}

.nameInput {
  display: inline-block;
}

.navigation {
	margin-bottom: 20px;
}

.name-input {
	width: 100%;
}

.navbar .divider-vertical {
    height: 50px;
  	margin: 0 9px;
  	border: 1px solid #e7e7e7;
}

.navbar .upload-link>li>a, .navbar .upload-link>li>a:focus, .navbar .upload-link>li>a:hover {
	color: #fff;
	background-color: #d9534f;
	/*border-radius: 4px;*/
}

.collapse-sports {
	display: none;
}

.navbar .name-group {
  float: right;
}

.navbar .profile-menu {
  display: inline-block;
}

nav .alert {
  position: absolute;
  right: 0;
}

@media (max-width: 950px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

@media (min-width: 1500px) {
	.expand-sports {
	    
	}
	.collapse-sports {
		display: none;
	}
}

@media (min-width: 767px) and (max-width: 1500px) {
	.expand-sports {
	    display: none;
	}
	.collapse-sports {
		display: inline-block;
	}
}

/* Override default navbar collapse point.
cf http://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less
*/
@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}