.commentButton {
  float: right;
}

#padder {
	height: 100px;
	width: 100%;
}

.review-author {
	display: inline-block;
}

.thumbs {
	margin-top: 10px;
}

.video-information .video-description p:last-child {
	margin: 0;
}

.video-comment .background-white {
  overflow-y : hidden;
}

.video-details .reputation {
	width: auto;
	font-size: 1.3em;
}

.video-tags {
	
}

.adding-comment {
	padding-left: 40px;
}

.video-information .author-information {
	margin-bottom: 20px;
}

.comments-headline {
	border-bottom: 1px solid #ddd;
}

.comments-links {
	margin-bottom: 25px;
}

.text-editing-area {
	max-height: 300px;
}

.video-comment {
	width: 50%;
	float: left;
}

.video-comment .show-x {
	overflow-x: visible;
	padding: 45px;
	padding-top: 30px;
}

.video-comment .nameInput {
	display: block;
}