.commentButton {
  float: right;
}

#padder {
	height: 100px;
	width: 100%;
}

.review-author {
	display: inline-block;
}

.thumbs {
	margin-top: 10px;
}

.video-information .author-information {
	/*margin-top: 15px;*/
}

.video-details .reputation {
	width: auto;
	font-size: 1.3em;
}

.video-tags {
	margin-top: 15px;
}

.adding-comment {
	padding-left: 40px;
}