.review .zth-left {
  display: table-cell;
  width: 25%;
  padding-right: 30px;
}

.review .zth-center {
  display: table-cell;
}

.review .zth-right {
  display: table-cell;
  width: 25%;
  text-align: center;
  vertical-align: middle;
}

.review input, .review textarea {
  width: 100%;
}

.commentButton {
  float: right;
}

.commentText {
  font-size: 14px;
}

.choose-pro .select-coach {
  display: table-cell;
  width: 20%;
}

.coaches-table {
  text-align: center;
}

.coach-description .tooltip-inner {
  max-width: 300px;
}

.coach-description .media-object {
  border-radius: 50%;
  width: 75px;
}

.coach-description .media-body {
  text-align: left;
}