.upload-form {
	padding-left: 40px;
	padding-right: 40px;
}

.upload-form .video-tags {
	margin-top: 0px;
	margin-bottom: 15px;
}

.upload-form .video-information {
	overflow: visible;
}

.progress-group {
	padding: 15px;
}

.progress-group .informationMessages {
	margin-bottom: 20px;
}

.show-help-buttons {
	margin-bottom: 10px;
}

.unsupported-file-alert {
	margin-left: 30px;
	margin-right: 30px;
}

.upload-form .video-informatin {
	position: inherit;
}