.editing-tools {
  margin-top: 20px;
  margin-bottom: 20px;
}

.editing-tools .buttons {
  margin-top: 20px;
  text-align: center;
}

.ngrs-range-slider {
  margin-bottom: 20px;
}

.second {
  margin-top: -20px
}

.video-title {
  margin-top: 0;
}

.editing-tools .alert {
  margin-top: 20px;
}