@font-face {
  	font-family: 'videogular';
  	src: url("../fonts/videogular.eot");
  	src: url("../fonts/videogular.eot?#iefix") format("embedded-opentype"), url("../fonts/videogular.woff") format("woff"), url("../fonts/videogular.ttf") format("truetype"), url("../fonts/videogular.svg#videogular") format("svg");
  	font-weight: normal;
  	font-style: normal; 
}

videogular, [videogular] {
	background-color: transparent;
}

videogular vg-overlay-play, [videogular] vg-overlay-play {
	left: 0;
}

videogular vg-media, [videogular] vg-media {
	position: relative;
}