.profile-page .preferences {

	.included {
		margin-top: 10px;
	}

	.indented {
		margin-left: 30px;
	}

	.dropdown-menu {
		max-width: 300px;
	}

	.disabled {
		filter: brightness(50%);
	}

	.email-notification-type {
		text-transform: none;
	}

	.subscriptions-blacklist-container {
		display: flex;

		label {
			margin-bottom: 0;
		}
	}

	.subscriptions-blacklist {
		display: flex;
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 30px;

		li {
			margin-right: 20px;
		}

		.delete {
			margin-left: 5px;
			background: url(../../images/button_cancel.png) no-repeat;
		    background-size: contain;
		    width: 16px;
		    height: 16px;
		    border: none;
		    vertical-align: middle;
		}
	}
}