.multi-form {
    max-width: 1000px;
    margin: auto;
    max-width: 1200px;
}

.multi-upload {
	padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.multi-form .username {
    padding-top: 20px;
    max-width: 400px;
    margin: auto;
}

.multi-upload .review {
    margin: auto;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    max-width: 830px;
    max-width: 1030px;
    display: flex;
    position: relative;
}

.multi-upload .review hs-decklist-upload {
    margin-bottom: 0;
    display: flex;
}
.multi-upload hs-decklist-upload .deck-list {
    margin: auto;
    display: flex;
}
.multi-upload hs-decklist-upload .deck-list input {
    width: 200px;
}
.multi-upload hs-decklist-upload .deck-list > span {
    margin: auto;
    margin-left: 5px;
}

.multi-form .populate-all-reviews {
    padding: 20px;
    text-align: center;
}

.multi-upload .review.skip:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);  
    pointer-events: none;
}

.multi-upload .review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upload-page .multi-upload .review participants-details {
	border: none;
	margin-bottom: 0;
}

.multi-upload .review .hearthstone-participants {
	display: flex;
}
.multi-upload .hearthstone-participants .participant-details > div {
	display: flex;
    width: 200px;
    height: 100%;
    align-items: center;
}
.upload-page .multi-upload .hearthstone-participants .player-name {
	max-width: none;
}
.multi-upload .hearthstone-participants .class-select button {
	width: 50px;
	margin-right: 5px;
}
.upload-page .multi-upload .hearthstone-participants .separation {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.upload-page .multi-upload .hearthstone-participants .level-details {
    align-items: center;
    display: flex;
    width: 150px;
    padding-left: 0;
    margin-left: 30px;
}
.multi-upload .title-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
.multi-upload .review-visibility {
    display: flex;
    align-items: center;
    width: 110px;
}

.multi-form .publish-buttons {
    text-align: center;
    padding-bottom: 20px;
}