// All this upload-form is for the first step of the upload
.upload-form {
	padding-left: 40px;
	padding-right: 40px;
}

.upload-form .video-tags {
	margin-top: 0px;
	margin-bottom: 15px;
}

.upload-form .video-information {
	overflow: visible;
}

.upload-page .link-minor {
	margin-left: 20px;
}

.progress-group {
	padding: 15px;
}

.progress-group .informationMessages {
	margin-bottom: 20px;
}

.show-help-buttons {
	margin-bottom: 10px;
}

.unsupported-file-alert {
	margin-left: 50px;
	margin-right: 50px;
}

.upload-form .video-informatin {
	position: inherit;
}

.upload-form .language {
	margin-top: 8px;
	display: block;
}