.upload-choice {
	text-align: center;
	padding-bottom: 100px;
	/*max-width: 1100px;*/
}

.upload-choice h1 {
	padding-top: 30px;
	margin-bottom: 40px;
}

.upload-choice .content {
	display: table;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

.upload-choice .upload-type {
	margin-left: 15px;
	margin-right: 15px;
	display: table-cell;
	vertical-align: top;
	width: 300px;
	padding: 15px;
}
.upload-choice .choice.upload-type {
	max-width: 250px;
}

.upload-choice .upload-type .btn {
	width: 200px;
	height: 120px;
	display: block;
	margin: auto;
}

.upload-choice .upload-type .description {
	display: inline-block;
	margin-top: 30px;
}

.upload-choice .upload-type .btn:before {
	position: relative;
	top: 1px;
	display: block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 1;
	margin-bottom: 10px;
	margin-top: 10px;
	-webkit-font-smoothing: antialiased;
}

.upload-choice .upload-type .video:before {
	content: "\e072";
}
.upload-choice .upload-type .replay:before {
	content: "\e211";
}
.upload-choice .upload-type .arenadraft:before {
    content: "\e185";
}
.upload-choice .upload-type .fromurl:before {
    content: "\e135";
}