.video-review-upload-title {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 50px;
}

.video-review-upload-title h1 {
	margin-bottom: 0;
}

.video-review-upload.background-white {
	padding-top: 10px;
	padding-bottom: 50px;
}

.video-review-upload-comments {
	padding-left: 40px;
}

.video-review-upload-comments .row {
	margin-bottom: 15px;
}

.video-review-upload-comments .background-white {
	padding: 50px;
}