@media screen and (max-width: 800px) {
	.search-page-global {

		.search-section {
			margin: 0;
			width: 100%;
		}
	}
}

@media screen and (max-width: 750px) {
	.video-listing {

		.complementary-info {
			display: none;
		}

		.advanced-options {
			padding-left: 20px;
		}
	}
}

@media screen and (max-width: 700px) {
	.search-page-global {

		.search-section {

			.display-mode {
				flex-basis: 100%;
				margin-top: 20px;
			}
		}

		.video-listing {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 650px) {
	.video-listing {
		padding: 0;

		li {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 575px) {
	.search-page-global {

		.search-section {

			.option-group {
				margin-left: 40px;
			}
			.and {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.search-page-global {

		.search-section {

			.search-group, .show-advanced-button {
				margin-bottom: 15px;
				padding-left: 20px;
			}

			.buttons-group button {
				margin-top: 15px;
			}

			.skill-select > span {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.search-page-global {

		.search-section {

			.tag-search {
				width: 80%;
			}
		}
	}
}