<section id="home" data-stellar-background-ratio="0.5" ng-style="{'background-image': 'url({{backgroundImage}})'}">
    <div class="parallax-overlay"></div> 
    <div class="home-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <div class="intro-text">
                        <!--<img src="images/logo.png" alt="app-logo" class="app-logo">-->
                        <h1>We help <span ng-bind="sportsConfig['{{sport}}'].landing.athletes"></span> improve together</h1>
                        <h3>Post a video of yourself playing and get advice from the {{sportsConfig[sport].landing.displayName}} community</h3>
                        <div class="download-button scroll-to">
                            <a href="#features" class="btn btn-link">
                                Learn more <i class="ion-chevron-right"></i>
                            </a>
                            <a href="/s/squash" class="btn btn-link" analytics-on="click" analytics-category="landing" analytics-event="landing.{{sport}}.cta1">
                                Get in for free <i class="ion-chevron-right"></i>
                            </a>
                        </div>
                    </div><!--intro text-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-intro white-background">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 margin-btm-30" ng-hide="hideVideoReview">
                <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <i class="ion-qr-scanner red"></i>
                    <h3>Powerful review tools</h3>
                    <p>
                    	Identify and understand your flaws precisely. Watch any sequence in slow motion, in a loop, or even side-by-side with another sequence from a top player.
                    </p>
                </div><!--features box intro end-->
            </div><!--col end-->
            <div ng-class="{'col-md-offset-2': hideVideoReview}" class="col-md-3 col-sm-6 margin-btm-30">
                <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                    <i class="ion-bonfire green"></i>
                    <h3>Community wisdom</h3>
                    <p>
                        {{sportsConfig[sport].landing.communityWisdomIntro}} with the best advice from the {{sportsConfig[sport].landing.displayName}} community. A reputation and voting system ensures top advice always come out at the top.
                    </p>
                </div><!--features box intro end-->
            </div><!--col end-->
            <div class="col-md-3 col-sm-6 margin-btm-30">
                <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <i class="ion-trophy blue"></i>
                    <h3>Professional coaches</h3>
                    <p>
                        If community advice is not enough for you, professional coaches are available to help you overcome your biggest hurdles
                    </p>
                </div><!--features box intro end-->
            </div><!--col end-->
            <div class="col-md-3 col-sm-6 margin-btm-30">
                <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                    <i class="ion-ios-chatboxes orange"></i>
                    <h3>Contribute</h3>
                    <p>
                    	Help others become better <span ng-bind="sportsConfig['{{sport}}'].landing.athletes"></span>. Get recognition from the community by giving advice and voting on what looks important to you.
                    </p>
                </div><!--features box intro end-->
            </div><!--col end-->
        </div>
    </div>
</section><!--features intro-->

<section id="cta2" class="container testimonials-container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="/s/squash" class="btn btn-danger btn-lg" analytics-on="click" analytics-category="landing" analytics-event="landing.{{sport}}.cta2">
                Get in for free <i class="ion-chevron-right"></i>
            </a>
		</div>
    </div>
</section>

<section class="section" id="features">
    <div class="container" ng-hide="hideVideoReview">
      	<div class="row">
        	<div class="col-sm-6">
          		<div class="feature-1">
            		<img src="images/landing/{{sport}}/side-by-side.jpg" class="img-responsive" alt="features-img">
          		</div>
        	</div>
	        <div class="col-sm-6">
	          	<div class="feature-detail">
		            <h1 class="title animated fadeInRight wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">Video review tools</h1>
	            	<p class="features-txt animated fadeInRight wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">Directly control the video from the comment system to precisely illustrate what you need to say and see. Point to a specific image on a video, play a sequence in slow motion or loop it. You can even compare side-by-side sequences from two any two videos from the site to illustrate the difference between how the same move is done by a top player. And all directly from the comments!</p>
	          	</div>
        	</div>
      	</div>
    </div>
</section>

<section class="section padding-t-0">
    <div class="container">
      	<div class="row">
        	<div class="col-sm-6">
          		<div class="feature-detail">
            		<h1 class="title animated fadeInLeft wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">The best from the community</h1>
            		<p class="features-txt animated fadeInLeft wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">Get advice from the other <span ng-bind="sportsConfig['{{sport}}'].landing.athletes"></span>, and let the best comments surface to the top thanks to a voting system. You will soon be able to see how valuable the global contributions of each one is to the community, which will make identifying the best coaches even easier</p>
          		</div>
        	</div>
        	<div class="col-sm-6">
          		<div class="feature-1">
            		<img src="images/landing/{{sport}}/community.jpg" class="img-responsive" alt="features-img">
          		</div>
        	</div>
      	</div>
    </div>
</section>

<section class="section" id="features">
    <div class="container">
      	<div class="row">
        	<div class="col-sm-6">
          		<div class="feature-1">
            		<img src="images/landing/{{sport}}/pros.jpg" class="img-responsive" alt="features-img">
          		</div>
        	</div>
	        <div class="col-sm-6">
	          	<div class="feature-detail">
		            <h1 class="title animated fadeInRight wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">Professional coaches</h1>
	            	<p class="features-txt animated fadeInRight wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">Professional coaches are available to help you identify your weaknesses and find out how you can improve on them. Ask them anything, they are here to help you out :) (and if you're a professionnal coach and interested in doing business on Zero to Heroes, feel free to <a href="mailto:contact@zerotoheroes.com" target="_blank">contact us</a>!)</p>
	          	</div>
        	</div>
      	</div>
    </div>
</section>

<section class="section padding-t-0">
    <div class="container">
      	<div class="row">
        	<div class="col-sm-6">
          		<div class="feature-detail">
            		<h1 class="title animated fadeInLeft wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">Contribute and help the community</h1>
            		<p class="features-txt animated fadeInLeft wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">Your own unique experience is much more valuable than you might think. You've just mastered some techniques, tactics or simply understood something that others are struggling with. Right now, whatever your level, there's someone who needs your help. Leave them a small piece of advice, they'll be thankful for it :)</p>
          		</div>
        	</div>
        	<div class="col-sm-6">
          		<div class="feature-1">
            		<img src="images/landing/{{sport}}/contribute.jpg" class="img-responsive" alt="features-img">
          		</div>
        	</div>
      	</div>
    </div>
</section>

<div id="cta3" class="container testimonials-container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="/s/squash" class="btn btn-danger btn-lg" analytics-on="click" analytics-category="landing" analytics-event="landing.{{sport}}.cta3">
                Get in for free <i class="ion-chevron-right"></i>
            </a>
		</div>
    </div>
</div>

<!--
<div class="container testimonials-container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="testimonials" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4620px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 770px;"><div class="item">
                    <div class="testimonials-inner">
                        <img src="images/team-1.jpg" alt="">
                        <p>" Sand app is  great template lorem ipsum dolor. "</p>
                        <span>Lancer - <em>Sand App</em></span>
                    </div>
                </div></div><div class="owl-item" style="width: 770px;"><div class="item">
                    <div class="testimonials-inner">
                        <img src="images/team-2.jpg" alt="">
                        <p>" find a right theme for my app. "</p>
                        <span>Smith - <em>Sand App</em></span>
                    </div>
                </div></div><div class="owl-item" style="width: 770px;"><div class="item">
                    <div class="testimonials-inner">
                        <img src="images/team-3.jpg" alt="">
                        <p>" Very clean and easy to use, thank you! "</p>
                        <span>Dam dam diga - <em>Sand App</em></span>
                    </div>
                </div></div></div></div>

            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
        </div>
    </div>
</div>
-->
<!--
<section class="describe sec-padded" data-stellar-background-ratio="0.5" style="background-position: 50% 1140.5px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="http://player.vimeo.com/video/57175742"></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="center-heading">
                    <h3>Description with video</h3>
                    <span class="center-line"></span>
                </div> 
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <div class="download-button scroll-to">
                    <a href="#download" class="btn btn-download">
                        <i class="ion-android-download"></i>
                        <strong>Download App</strong> <span>Click to download</span>
                    </a>

                </div>

            </div>
        </div>
    </div>
</section>
-->

<!--
<section id="faq" class=" sec-padded faqs">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="center-heading">
                    <h3>frequently ask questions</h3>
                    <span class="center-line"></span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3>How to download this app?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span class="colored-text">quis nostrud</span> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="item">
                    <h3>How to Install this app?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span class="colored-text">quis nostrud</span> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="item">
                    <h3>What is Lorem this app?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, <span class="colored-text">eiusmod tempor</span> consectetur adipisicing elit, sed do  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span class="colored-text">quis nostrud</span> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3>Where lorem ipsum dolor?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur purus consectetur adipisicing elit, sed do incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="item">
                    <h3>Can i lorem dolor sit this?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur purus consectetur adipisicing elit, sed do incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div><
                <div class="item">
                    <h3>How to download this app?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur purus consectetur adipisicing elit, sed do  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 text-center more-faq scroll-to">
                <p>Can't find your question?</p>
                <a class="btn btn-theme btn-lg" href="#contact">Contact us</a>
            </div>
        </div>
    </div>
</section>
-->


<section class="the-team">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="center-heading">
                    <h3>The team</h3>
                    <span class="center-line"></span>
                    <p>
                        Yup, that's us! :)
                    </p>
                </div>
            </div>
        </div><!--this row is use for section center heading-->
        <div class="row">
            <div class="col-sm-4 col-md-4 margin-btm-30 col-md-offset-1">
                <div class="team-col">
                    <img src="images/seb.jpg" alt="">
                    <h3>Seb</h3>
                    <ul class="list-inline list-follow">
                        <li><a href="https://twitter.com/sebastientromp" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                    </ul>
                    <p class="description">I'm a software engineer by trade, and an athlete and gamer by heart. I've been frustrated by the difficulty to get advice adapted to my style, and want to help athletes and gamers get over that hurdle. I love meeting interesting people of all kind, so feel free to email me directly at <a href="mailto:seb@zerotoheroes.com">seb@zerotoheroes.com</a> :)</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 margin-btm-30 col-md-offset-2">
                <div class="team-col">
                    <img src="images/thibaud.jpg" alt="">
                    <h3>Thibaud</h3>
                    <ul class="list-inline list-follow">
                        <li><a href="https://twitter.com/thibaud_jobert" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                    </ul>
                    <p class="description">Driven by logic and passionate about games I'm a software engineer who strongly believes that there is a bit of magic/awesomeness in everybody. Together we can be heroes! Feel free to share your thoughts with me at <a href="mailto:thibaud@zerotoheroes.com">thibaud@zerotoheroes.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section><!--the team section end here-->

<!--
<section class="screens sec-padded">
    <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="center-heading">
                    <h3>Screens</h3>
                    <span class="center-line"></span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="screens" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3192px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/1.jpg" class="img-responsive" alt="screens">
                    </div></div><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/2.jpg" class="img-responsive" alt="screens">
                    </div></div><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/3.jpg" class="img-responsive" alt="screens">
                    </div></div><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/4.jpg" class="img-responsive" alt="screens">
                    </div></div><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/5.jpg" class="img-responsive" alt="screens">
                    </div></div><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/1.jpg" class="img-responsive" alt="screens">
                    </div></div><div class="owl-item" style="width: 228px;"><div> 
                        <img src="images/screens/2.jpg" class="img-responsive" alt="screens">
                    </div></div></div></div>
                   
                     
                     
                     
                     
                     
                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
            </div>
        </div>
    </div>
</section>
-->

<!--
<div class="latest-tweet-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <i class="ion-social-twitter-outline"></i>
                <div class="tweet"><ul><li>Starting working on assan v.2.0, Awesome mobile app template, New e-commerce, New blog template, 5 New home... <a href="http://t.co/MpIhuf5BFM" target="_blank" title="Visit this link">http://t.co/MpIhuf5BFM</a> <div class="date">Oct. 3, 2015</div> <a href="https://twitter.com/rakesh_wd/status/650157657521717248" <a="" target="_blank" title="rakesh_wd on Twitter">@rakesh_wd</a></li></ul></div>
            </div>
        </div>
    </div>
</div>
-->

<!--
<section id="price" class="sec-padded">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="center-heading">
                    <h3>Pricing Tables</h3>
                    <span class="center-line"></span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 margin-btm-30">
                <div class="package">
                    <h3 class="package-heading">Personal</h3>
                    <div class="package-price">
                        <h2><span class="sign">$ </span>9.99 <span class="month">/Pm</span></h2>
                    </div>
                    <ul class="package-features list-unstyled">
                        <li>Unlimited Downloads</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cloud storage</li>
                        <li>Free Themes &amp; Photos</li>
                        <li>Free support &amp; updates</li>
                    </ul>
                    <div class="package-select">
                        <a href="#" class="btn btn-theme">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 margin-btm-30">
                <div class="package">
                    <h3 class="package-heading">Business</h3>
                    <div class="package-price popular">
                        <h2><span class="sign">$ </span>29.99 <span class="month">/Pm</span></h2>
                    </div>
                    <ul class="package-features list-unstyled">
                        <li>Unlimited Downloads</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cloud storage</li>
                        <li>Free Themes &amp; Photos</li>
                        <li>Free support &amp; updates</li>
                    </ul>
                    <div class="package-select">
                        <a href="#" class="btn btn-theme">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 margin-btm-30">
                <div class="package">
                    <h3 class="package-heading">Professional</h3>
                    <div class="package-price">
                        <h2><span class="sign">$ </span>49.99 <span class="month">/Pm</span></h2>
                    </div>
                    <ul class="package-features list-unstyled">
                        <li>Unlimited Downloads</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cloud storage</li>
                        <li>Free Themes &amp; Photos</li>
                        <li>Free support &amp; updates</li>
                    </ul>
                    <div class="package-select">
                        <a href="#" class="btn btn-theme">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<section class="newsletter" data-stellar-background-ratio="0.5" style="background-position: 50% 3345px;">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h3>Get the latest updates</h3>
            <p>Subscribe to newsletter and get latest news</p>
            <div id="mc_embed_signup">
	            <form class="form-inline validate signup-form" action="//zerotoheroes.us10.list-manage.com/subscribe/post?u=97a00cb6ce6b2e5486876f29c&amp;id=074f9f6027" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
	            	<div id="mc_embed_signup_scroll">
	            		<div id="mce-responses" >
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_97a00cb6ce6b2e5486876f29c_074f9f6027" tabindex="-1" value=""></div>
		                <div class="form-group">
		                    <label class="sr-only" for="mce-EMAIL">Email address</label>
		                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" value="Your Email address" onfocus="if (this.value == this.defaultValue)
		                                this.value = '';" onblur="if (this.value == '')
		                                            this.value = this.defaultValue;">
		                    <button type="submit" class="btn-theme btn btn-lg" ng-click="notifyGa()" id="mc-embedded-subscribe">Notify me</button>
		                </div>
		            </div>
	                <!-- <button type="submit" class="btn-theme-color btn btn-lg">Notify me</button> -->
	                <span class="help-block">You know where to find us, so we won't spam </span>
	            </form>
	        </div>
        </div>
    </div>
</section><!--Newsletter end-->



<!--
<section id="contact" class="sec-padded">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="center-heading">
                    <h3>Get in touch</h3>
                    <span class="center-line"></span>
                    <p>
                        if you have any issue with our app or have any improvement idea<br>we would love to hear from you.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 contact-form">
                <form name="sentMessage" id="contactForm" method="post" novalidate="">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <input type="text" class="form-control" placeholder="Name*" id="name" required="" data-validation-required-message="Please enter your name.">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <input type="email" class="form-control" placeholder="Email Address*" id="email" required="" data-validation-required-message="Please enter your email address.">
                                    <p class="help-block"></p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <textarea rows="5" class="form-control" placeholder="Message*" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-theme btn-lg">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
-->


<footer id="footer" class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <!-- <a href="index.html"><img src="images/logo-white.png" alt=""></a> -->
                <div class="clearfix"></div>
                <!--<ul class="list-inline footer-social">
                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="twitter" data-placement="top"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Linkedin" data-placement="top"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Google plus" data-placement="top"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="youtube" data-placement="top"><i class="ion-social-youtube"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"><i class="ion-social-dribbble"></i></a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="list-inline footer-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms &amp; Condition</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>-->

                <span class="copyrights">©2015</span>
            </div>
        </div>
    </div>
</footer><!--footer end-->