<view-title>{{sportsConfig[sport].landing.displayName}}</view-title>

<section id="home" data-stellar-background-ratio="0.5" dynamic-style style="background-image: url({{backgroundImage}})">
	<div class="parallax-overlay" ng-class="{'parallax-overlay-full': sportsConfig['{{sport}}'].landing.displayAllSports}"></div> 
	<div class="home-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-2">
					<div class="intro-text">
						<h1>{{ sport + '.landing.headline' | translate }}</h1>
						<h3 ng-hide="sportsConfig['{{sport}}'].landing.alternativeIntroText">{{ sport + '.landing.subHeadline' | translate }}</h3>
						<!-- TODO TRANSLATE -->
						<h3 ng-show="sportsConfig['{{sport}}'].landing.alternativeIntroText">{{sportsConfig[sport].landing.alternativeIntroText}}</h3>
						<div class="download-button scroll-to" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
							<a href="#features" class="btn btn-link">
								{{ 'global.landing.learnMore' | translate }} <i class="ion-chevron-right"></i>
							</a>
							<a href="/s/{{sport}}" class="btn btn-link" analytics-on="click" analytics-category="landing" analytics-event="landing.{{sport}}.cta1">
								{{ 'global.landing.getIn' | translate }} <i class="ion-chevron-right"></i>
							</a>
						</div>
					</div><!--intro text-->
				</div>
			</div>
		</div>
		<!-- TODO TRANSLATE -->
		<div class="container sports-logos" ng-show="sportsConfig['{{sport}}'].landing.displayAllSports">
			<div class="row">
				<div class="col-xs-4 margin-btm-30 sport-logo">
					<a href="/hearthstone"><img src="/images/logos/hearthstone-medium.png" title="Go to the HearthStone page" width="250px"></a>
				</div>
				<div class="col-xs-4 margin-btm-30 sport-logo">
					<a href="/heroesofthestorm"><img src="/images/logos/heroesofthestorm-medium.png" title="Go to the Heroes of the Storm page" width="250px"></a>
				</div>
				<div class="col-xs-4 margin-btm-30 sport-logo">
					<a href="/leagueoflegends"><img src="/images/logos/leagueoflegends-medium.png" title="COMING SOON" width="250px"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-4 margin-btm-30 sport-logo">
					<a href="/badminton"><img src="/images/logos/badminton-medium.png" title="Go to the Badminton page" width="250px"></a>
				</div>
				<div class="col-xs-4 margin-btm-30 sport-logo">
					<a href="/squash"><img src="/images/logos/squash-medium.png" title="Go to the Squash page" width="250px"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features-intro white-background" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 margin-btm-30" ng-hide="hideVideoReview">
				<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
					<i class="ion-qr-scanner red"></i>
					<h3>{{ 'global.landing.reviewToolsHeadline' | translate }}</h3>
					<p>{{ 'global.landing.reviewToolsIntro' | translate }}</p>
				</div>
			</div>
			<div ng-class="{'col-md-offset-2': hideVideoReview}" class="col-md-3 col-sm-6 margin-btm-30">
				<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
					<i class="ion-bonfire green"></i>
					<h3>{{ 'global.landing.communityHeadline' | translate }}</h3>
					<p>{{ sport + '.landing.communityIntro'  | translate }}</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 margin-btm-30">
				<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
					<i class="ion-trophy blue"></i>
					<h3>{{ 'global.landing.coachHeadline' | translate }}</h3>
					<p>{{ 'global.landing.coachIntro' | translate }}</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 margin-btm-30">
				<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
					<i class="ion-ios-chatboxes orange"></i>
					<h3>{{ 'global.landing.contributeHeadline' | translate }}</h3>
					<p>{{ sport + '.landing.contributeIntro'  | translate }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="cta2" class="container testimonials-container" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<a href="/s/{{sport}}" class="btn btn-danger btn-lg" analytics-on="click" analytics-category="landing" analytics-event="landing.{{sport}}.cta2">
				{{ 'global.landing.getIn' | translate }} <i class="ion-chevron-right"></i>
			</a>
		</div>
	</div>
</section>

<section class="section" id="features" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container" ng-hide="hideVideoReview && !sportsConfig['{{sport}}'].landing.customTitle1">
		<div class="row">
			<div class="col-sm-6">
				<div class="feature-1">
					<img src="images/landing/{{sport}}/side-by-side.jpg" class="img-responsive" alt="features-img">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="feature-detail">
					<h1 class="title animated fadeInRight wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">{{ sport + '.landing.feature1Headline'  | translate }}</h1>
					<p class="features-txt animated fadeInRight wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">{{ sport + '.landing.feature1Text'  | translate }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section padding-t-0" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="feature-detail">
					<h1 class="title animated fadeInLeft wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">{{ sport + '.landing.feature2Headline'  | translate }}</h1>
					<p class="features-txt animated fadeInLeft wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">{{ sport + '.landing.feature2Text'  | translate }}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="feature-1">
					<img src="images/landing/{{sport}}/community.jpg" class="img-responsive" alt="features-img">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section" id="features" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="feature-1">
					<img src="images/landing/{{sport}}/pros.jpg" class="img-responsive" alt="features-img">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="feature-detail">
					<h1 class="title animated fadeInRight wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">{{ sport + '.landing.feature3Headline'  | translate }}</h1>
					<p class="features-txt animated fadeInRight wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;" translate="{{ sport + '.landing.feature3Text'}}"></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section padding-t-0" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="feature-detail">
					<h1 class="title animated fadeInLeft wow animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">{{ sport + '.landing.feature4Headline'  | translate }}</h1>
					<p class="features-txt animated fadeInLeft wow animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">{{ sport + '.landing.feature4Text'  | translate }}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="feature-1">
					<img src="images/landing/{{sport}}/contribute.jpg" class="img-responsive" alt="features-img">
				</div>
			</div>
		</div>
	</div>
</section>

<div id="cta3" class="container testimonials-container" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<a href="/s/{{sport}}" class="btn btn-danger btn-lg" analytics-on="click" analytics-category="landing" analytics-event="landing.{{sport}}.cta3">
				{{ 'global.landing.getIn' | translate }} <i class="ion-chevron-right"></i>
			</a>
		</div>
	</div>
</div>

<section class="the-team" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="center-heading">
					<h3>{{ 'global.landing.teamHeadline' | translate }}</h3>
					<span class="center-line"></span>
					<p>{{ 'global.landing.teamSubHeadline' | translate }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 margin-btm-30 col-md-offset-1">
				<div class="team-col">
					<img src="images/seb.jpg" alt="">
					<h3>Seb</h3>
					<ul class="list-inline list-follow">
						<li><a href="https://twitter.com/sebastientromp" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
					</ul>
					<p class="description" translate="{{ 'global.landing.sebDescription'}}"></p>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 margin-btm-30 col-md-offset-2">
				<div class="team-col">
					<img src="images/thibaud.jpg" alt="">
					<h3>Thibaud</h3>
					<ul class="list-inline list-follow">
						<li><a href="https://twitter.com/thibaud_jobert" target="_blank"><i class="ion-social-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
					</ul>
					<p class="description" translate="{{ 'global.landing.thibDescription'}}"></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="newsletter" data-stellar-background-ratio="0.5" style="background-position: 50% 3345px;" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h3>{{ 'global.landing.newsLetterHeadline' | translate }}</h3>
			<p>{{ 'global.landing.newsLetterSubHeadline' | translate }}</p>
			<div id="mc_embed_signup">
				<form class="form-inline validate signup-form" action="//zerotoheroes.us10.list-manage.com/subscribe/post?u=97a00cb6ce6b2e5486876f29c&amp;id=074f9f6027" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
					<div id="mc_embed_signup_scroll">
						<div id="mce-responses" >
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_97a00cb6ce6b2e5486876f29c_074f9f6027" tabindex="-1" value=""></div>
						<div class="form-group">
							<label class="sr-only" for="mce-EMAIL">Email</label>
							<input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" value="Your Email address" onfocus="if (this.value == this.defaultValue)
										this.value = '';" onblur="if (this.value == '')
													this.value = this.defaultValue;">
							<button type="submit" class="btn-theme btn btn-lg" ng-click="notifyGa()" id="mc-embedded-subscribe">{{ 'global.landing.newsLetterButton' | translate }}</button>
						</div>
					</div>
					<span class="help-block">{{ 'global.landing.noSpam' | translate }}</span>
				</form>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-main" ng-hide="sportsConfig['{{sport}}'].landing.displayAllSports">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<!-- <a href="index.html"><img src="images/logo-white.png" alt=""></a> -->
				<div class="clearfix"></div>
				<!--<ul class="list-inline footer-social">
					<li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#" data-toggle="tooltip" title="" data-original-title="twitter" data-placement="top"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#" data-toggle="tooltip" title="" data-original-title="Linkedin" data-placement="top"><i class="ion-social-linkedin"></i></a></li>
					<li><a href="#" data-toggle="tooltip" title="" data-original-title="Google plus" data-placement="top"><i class="ion-social-googleplus"></i></a></li>
					<li><a href="#" data-toggle="tooltip" title="" data-original-title="youtube" data-placement="top"><i class="ion-social-youtube"></i></a></li>
					<li><a href="#" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"><i class="ion-social-dribbble"></i></a></li>
				</ul>
				<div class="clearfix"></div>
				<ul class="list-inline footer-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Terms &amp; Condition</a></li>
					<li><a href="#">Contact</a></li>
				</ul>-->

				<span class="copyrights">©2015</span>
			</div>
		</div>
	</div>
</footer><!--footer end-->