@media (max-width: 780px) {
	.upload-page .multi-upload .review participants-details {
		width: 100%;
	}
	.multi-upload .review .hearthstone-participants {
    	flex-wrap: wrap;
	}
	.upload-page .multi-upload .hearthstone-participants .level-details {
    	margin-top: 30px;
    	margin-left: 50px;
    	margin-right: 15px;
	}
}

@media (max-width: 600px) {
	.upload-page .multi-upload .review .hearthstone-participants {
	    display: block;
	    height: 100%;
    	width: 50%;
    	margin-left: 0;
	}
	.upload-page .multi-upload .hearthstone-participants .separation {
	    display: none;
	}
	.upload-page .multi-upload .hearthstone-participants .player-name {
		order: 2;
	}
	.upload-page .multi-upload .hearthstone-participants .opponent-details {
		display: block;
		margin-top: 30px;
	}
	.upload-page .multi-upload .hearthstone-participants .class-select .caret {
		display: none;
	}
}