/* Override default navbar collapse point.
cf http://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less
*/
@media (max-width: 1620px) {
	.navbar .more-menu {
		display: block;
	}

	.navbar li[collapse-priority=prio-4] {
		display: none;
	}

	.navbar .more-menu li[collapse-priority=prio-4] {
		display: block;
	}
}

@media (max-width: 1520px) {
	.navbar li[collapse-priority=prio-3] {
		display: none;
	}

	.navbar .more-menu li[collapse-priority=prio-3] {
		display: block;
	}
}

@media (max-width: 1400px) {
	.navbar li[collapse-priority=prio-2] {
		display: none;
	}

	.navbar .more-menu li[collapse-priority=prio-2] {
		display: block;
	}
}

@media (max-width: 1100px) {
	.navbar li[collapse-priority=prio-1] {
		display: none;
	}

	.navbar .more-menu li[collapse-priority=prio-1] {
		display: block;
	}
}

@media (max-width: 800px) {
	.navbar li[collapse-priority=prio-0] {
		display: none;
	}

	.navbar .more-menu li[collapse-priority=prio-0] {
		display: block;
	}
}